.icon {
  display: inline-block;
  opacity: var(--opacity);

  margin: 0em var(--distanceFromText) 0em 0em;

  width: var(--width);
  height: var(--height);

  font-style: normal;
  font-weight: var(--normal);
  text-decoration: inherit;
  text-align: center;

  background-color: currentColor;
  mask-image: none;
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
  fill: currentColor;

  speak: none;
}

icon::before {
  width: inherit;
  height: inherit;
  content: '';
}

