.themed {
  padding: var(--spacing, 15px);
  margin: 15px 0;
  background: var(--standard-5);
  border: 2px solid var(--theme-color, gray);
  border-radius: var(--border-radius);
}

.content {
  padding: 10px;
  color: var(--theme-color, gray);
  font-weight: bold;
}

p {
  margin: 8px 0;
  font-family: monospace;
}

p span {
  font-weight: bold;
}