/*-------------------
        Sizing
--------------------*/

.mini.buttons .button,
.mini.buttons .or,
.mini.button {
  font-size: var(--mini);
}
.tiny.buttons .button,
.tiny.buttons .or,
.tiny.button {
  font-size: var(--tiny);
}
.small.buttons .button,
.small.buttons .or,
.small.button {
  font-size: var(--small);
}
.buttons .button,
.buttons .or,
.button {
  font-size: var(--medium);
}
.large.buttons .button,
.large.buttons .or,
.large.button {
  font-size: var(--large);
}
.big.buttons .button,
.big.buttons .or,
.big.button {
  font-size: var(--big);
}
.huge.buttons .button,
.huge.buttons .or,
.huge.button {
  font-size: var(--huge);
}
.massive.buttons .button,
.massive.buttons .or,
.massive.button {
  font-size: var(--massive);
}
