/*--------------
      Down
---------------*/

.disabled.button,
.disabled.button:hover,
.disabled.active.button {
  cursor: var(--button-disabled-cursor);
  opacity: var(--button-disabled-opacity) !important;
  color: var(--button-disabled-color);
  background-color: var(--button-disabled-background-color) !important;
  background-image: var(--button-disabled-background-image) !important;
  box-shadow: var(--button-disabled-box-shadow) !important;
}
ui-button[disabled] {
  cursor: var(--button-disabled-cursor);
  pointer-events: none !important;
}


.clickable-disabled.button {
  pointer-events: auto !important;
  cursor: var(--button-clickable-disabled-cursor) !important;
}
.clickable-disabled.button:active {
  box-shadow: var(--button-pressed-box-shadow) !important;
}
ui-button[clickable-disabled] {
  pointer-events: auto !important;
  cursor: var(--button-clickable-disabled-cursor) !important;
}
