/*-------------
      Focus
---------------*/

.button.focus,
.button:focus {
  background-color: var(--button-focus-background-color);
  background-image: var(--button-focus-background-image) !important;
  color: var(--button-focus-color);
  box-shadow: var(--button-focus-box-shadow) !important;
}

.button.focus .icon,
.button:focus .icon {
  opacity: var(--button-focus-icon-opacity);
}
