/*-------------------
    Button Icon
--------------------*/

.button ui-icon,
  :slotted(ui-icon) {
  vertical-align: top;
  opacity: var(--button-icon-opacity);

  &:only-child {
    margin: 0rem;
  }
}
