/*******************************
      Computed - Interaction
*******************************/

:root,
.theme,
[light],
[dark],
[theme] {

  /* -------------------
         Loader
  -------------------- */

  --loader-fill-color: rgb(var(--standard-color) / 10%);
  --loader-line-color: var(--grey);
  --inverted-loader-fill-color: rgb(var(--inverted-color) / 15%);
  --inverted-loader-line-color: var(--white);

  /* -------------------
      Interactive Elements
  -------------------- */

  /* Form Focus States */
  --form-focused-muted-border-color: var(--blue-40);

  /* Highlighting */
  --highlight-background: var(--blue-20);

}
