/*******************************
      Computed - Messages
*******************************/

:root,
.theme,
[light],
[dark],
[theme] {

  /* Positive Messages */
  --positive-color: var(--green);
  --positive-background-color: var(--green-5);
  --positive-border-color: var(--green-20);
  --positive-header-color: var(--green-90);
  --positive-text-color: var(--green-text-color);

  /* Negative Messages */
  --negative-background-color: var(--red-5);
  --negative-border-color: var(--red-20);
  --negative-header-color: var(--red-70);
  --negative-color: var(--red);
  --negative-text-color: var(--red-text-color);

  /* Info Messages */
  --info-color: var(--teal-70);
  --info-background-color: var(--teal-5);
  --info-border-color: var(--teal-30);
  --info-header-color: var(--teal-90);
  --info-text-color: var(--teal-80);

  /* Warning Messages */
  --warning-text-color: var(--orange-text-color);
  --warning-color: var(--orange-70);
  --warning-border-color: var(--orange-30);
  --warning-background-color: var(--orange-5);
  --warning-header-color: var(--orange-90);

  /* Success/Error Aliases */
  --success-background-color: var(--positive-background-color);
  --success-color: var(--positive-color);
  --success-border-color: var(--positive-border-color);
  --success-header-color: var(--positive-header-color);
  --success-text-color: var(--positive-text-color);

  --error-background-color: var(--negative-background-color);
  --error-color: var(--negative-color);
  --error-border-color: var(--negative-border-color);
  --error-header-color: var(--negative-header-color);
  --error-text-color: var(--negative-text-color);

}
