/*******************************
      Computed - Typography
*******************************/

:root,
.theme,
[light],
[dark],
[theme] {

  /* -------------------
        Text Color
  -------------------- */

  --header-color: var(--standard-90);
  --text-color: var(--standard-80);

  /* -------------------
       Neutral Text
  -------------------- */

  --dark-text-color: var(--standard-85);
  --muted-text-color: var(--standard-60);
  --light-text-color: var(--standard-40);

  --unselected-text-color: var(--standard-40);
  --hovered-text-color: var(--standard-80);
  --pressed-text-color: var(--standard-90);
  --selected-text-color: var(--standard-95);
  --disabled-text-color: var(--standard-20);

  --inverted-text-color: var(--inverted-90);
  --inverted-muted-text-color: var(--inverted-80);
  --inverted-light-text-color: var(--inverted-70);
  --inverted-unselected-text-color: var(--inverted-50);
  --inverted-hovered-text-color: var(--inverted-10);
  --inverted-pressed-text-color: var(--inverted-10);
  --inverted-selected-text-color: var(--inverted-10);
  --inverted-disabled-text-color: var(--inverted-20);

  /* -------------------
      Text Highlighting
  -------------------- */

  --highlight-background: var(--blue-20);

}
