/*--------------
     Primary
---------------*/

/*--- Standard ---*/
.primary.buttons .button,
.primary.button {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  text-shadow: var(--primary-text-shadow);
  background-image: var(--primary-background-image);
}
.primary.button {
  box-shadow: var(--primary-box-shadow);
}

/* States */
.primary.buttons .button:hover,
.primary.button:hover {
  background-color: var(--primary-color-hover);
  color: var(--primary-text-color);
  text-shadow: var(--primary-text-shadow);
}

.primary.buttons .button:focus,
.primary.button:focus {
  background-color: var(--primary-color-focus);
  color: var(--primary-text-color);
  text-shadow: var(--primary-text-shadow);
}

.primary.buttons .button:active,
.primary.button:active {
  background-color: var(--primary-color-down);
  color: var(--primary-text-color);
  text-shadow: var(--primary-text-shadow);
}

.primary.buttons .active.button,
.primary.buttons .active.button:active,
.primary.active.button,
.primary.button .active.button:active {
  background-color: var(--primary-color-active);
  color: var(--primary-text-color);
  text-shadow: var(--primary-text-shadow);
}

/*-------------------
      Secondary
--------------------*/

/* Standard */
.secondary.buttons .button,
.secondary.button {
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
  text-shadow: var(--secondary-text-shadow);
  background-image: var(--colored-background-image);
}
.secondary.button {
  box-shadow: var(--colored-box-shadow);
}
.secondary.buttons .button:hover,
.secondary.button:hover {
  background-color: var(--secondary-color-hover);
  color: var(--secondary-text-color);
  text-shadow: var(--secondary-text-shadow);
}
.secondary.buttons .button:focus,
.secondary.button:focus {
  background-color: var(--secondary-color-focus);
  color: var(--secondary-text-color);
  text-shadow: var(--secondary-text-shadow);
}
.secondary.buttons .button:active,
.secondary.button:active {
  background-color: var(--secondary-color-down);
  color: var(--secondary-text-color);
  text-shadow: var(--secondary-text-shadow);
}
.secondary.buttons .active.button,
.secondary.buttons .active.button:active,
.secondary.active.button,
.secondary.button .active.button:active {
  background-color: var(--secondary-color-active);
  color: var(--secondary-text-color);
  text-shadow: var(--secondary-text-shadow);
}
