.container {
  font-size: 18px;
  padding: 20px;
  margin: 15px 0;
  background: var(--standard-5);
  border: var(--border);
  border-radius: var(--border-radius);
}

.child {
  /* inherits font-size from parent */
  padding: 10px;
  margin-top: 15px;
  background: var(--standard-10);
  border-radius: var(--border-radius);
}

p {
  margin: 8px 0;
  font-family: monospace;
}

p span {
  font-weight: bold;
}