.container {
  font-size: var(--large);
  padding: var(--padding);
  margin: var(--vertically-spaced);
  background: var(--blue-10);
  border: 1px solid var(--blue-30);
  border-radius: var(--border-radius);
}

p {
  margin: 8px 0;
  font-family: monospace;
}

p span {
  font-weight: bold;
}
