:host {
  outline: none;
}


::slotted([contenteditable]) {
  padding: 20px;
  background: var(--background);
  border: 2px dashed var(--standard-20);
  border-radius: var(--border-radius);
  min-height: 100px;
  
  &:focus {
    outline: none;
    border-color: var(--primary-color);
  }
}

.stats {
  padding: var(--padding);
  background: var(--standard-5);
  border-radius: var(--border-radius);
  
  p {
    margin: 5px 0;
    font-family: monospace;
  }
}
