node_modules/
test/coverage/
coverage/
playwright_report/
dev/examples/
dev/ui/
docs/dist/
dist/
tests/results/
tests/test-case/dist
**/benchmarks/results/

# for my ai friends
ai/artifacts/prompts
ai/meta/agent-guestbook.md
ai/meta/jisei.md

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~
*.sass-cache
*.ruby-version

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
.docpad.db
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
.build*
.idea
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.wireit
.vercel
