/*******************************
          Brands
*******************************/

:root {

  /* -------------------
          Brands
  -------------------- */

  --facebook-color: #1877F2;
  --twitter-color: #55ACEE;
  --linked-in-color: #1F88BE;
  --youtube-color: #FF0000;
  --pinterest-color: #BD081C;
  --instagram-color: #FD1D1D;
  --instagram-gradient: linear-gradient(45deg, #F09433 0%, #E6683C 25%, #DC2743 50%, #CC2366 75%, #BC1888 100%);

}