
/*---------------
     Negative
----------------*/

/* Standard */
.negative.buttons .button,
.negative.button {
  background-color: var(--negative-color);
  color: var(--negative-text-color);
  text-shadow: var(--negative-text-shadow);
  background-image: var(--colored-background-image);
}
.negative.button {
  box-shadow: var(--colored-box-shadow);
}
.negative.buttons .button:hover,
.negative.button:hover {
  background-color: var(--negative-color-hover);
  color: var(--negative-text-color);
  text-shadow: var(--negative-text-shadow);
}
.negative.buttons .button:focus,
.negative.button:focus {
  background-color: var(--negative-color-focus);
  color: var(--negative-text-color);
  text-shadow: var(--negative-text-shadow);
}
.negative.buttons .button:active,
.negative.button:active {
  background-color: var(--negative-color-down);
  color: var(--negative-text-color);
  text-shadow: var(--negative-text-shadow);
}
.negative.buttons .active.button,
.negative.buttons .active.button:active,
.negative.active.button,
.negative.button .active.button:active {
  background-color: var(--negative-color-active);
  color: var(--negative-text-color);
  text-shadow: var(--negative-text-shadow);
}

/* Basic */
.basic.negative.buttons .button,
.basic.negative.button {
  box-shadow: 0px 0px 0px var(--basic-border-size) var(--negative-color) inset !important;
  color: var(--negative-color) !important;
}
.basic.negative.buttons .button:hover,
.basic.negative.button:hover {
  background: transparent !important;
  box-shadow: 0px 0px 0px var(--basic-colored-border-size) var(--negative-color-hover) inset !important;
  color: var(--negative-color-hover) !important;
}
.basic.negative.buttons .button:focus,
.basic.negative.button:focus {
  background: transparent !important;
  box-shadow: 0px 0px 0px var(--basic-colored-border-size) var(--negative-color-focus) inset !important;
  color: var(--negative-color-hover) !important;
}
.basic.negative.buttons .active.button,
.basic.negative.active.button {
  background: transparent !important;
  box-shadow: 0px 0px 0px var(--basic-colored-border-size) var(--negative-color-active) inset !important;
  color: var(--negative-color-down) !important;
}
.basic.negative.buttons .button:active,
.basic.negative.button:active {
  box-shadow: 0px 0px 0px var(--basic-colored-border-size) var(--negative-color-down) inset !important;
  color: var(--negative-color-down) !important;
}
.buttons:not(.vertical) > .basic.primary.button:not(:first-child) {
  margin-left: var(--basic-colored-border-size);
}
