/*---------------
    Positive
----------------*/

/* Standard */
.positive.buttons .button,
.positive.button {
  background-color: var(--button-positive-color);
  color: var(--button-positive-text-color);
  text-shadow: var(--button-positive-text-shadow);
  background-image: var(--button-colored-background-image);
}
.positive.button {
  box-shadow: var(--button-colored-box-shadow);
}
.positive.buttons .button:hover,
.positive.button:hover {
  background-color: var(--button-positive-color-hover);
  color: var(--button-positive-text-color);
  text-shadow: var(--button-positive-text-shadow);
}
.positive.buttons .button:focus,
.positive.button:focus {
  background-color: var(--button-positive-color-focus);
  color: var(--button-positive-text-color);
  text-shadow: var(--button-positive-text-shadow);
}
.positive.buttons .button:active,
.positive.button:active {
  background-color: var(--button-positive-color-down);
  color: var(--button-positive-text-color);
  text-shadow: var(--button-positive-text-shadow);
}
.positive.buttons .active.button,
.positive.buttons .active.button:active,
.positive.active.button,
.positive.button .active.button:active {
  background-color: var(--button-positive-color-active);
  color: var(--button-positive-text-color);
  text-shadow: var(--button-positive-text-shadow);
}
