i.circular.icon {
  border-radius: 500em !important;
  line-height: 1 !important;
  padding: --var(circular-padding) !important;
  box-shadow: --var(circular-shadow);
  width: --var(circular-size) !important;
  height: --var(circular-size) !important;
}
i.circular.inverted.icon {
  border: none;
  box-shadow: none;
}
