.link.icon,
.link.icons {
  cursor: pointer;
  opacity: --var(link-opacity);
  transition: opacity --var(default-duration) --var(default-easing);
}
.link.icon:hover,
.link.icons:hover {
  opacity: 1 !important;
}
