/*-------------------
        Sizing
--------------------*/

.mini.icons .icon,
.mini.icon {
  width: var(--icon-mini);
  height: var(--icon-mini);
  font-size: var(--icon-mini);
}
.tiny.icons .icon,
.tiny.icon {
  width: var(--icon-tiny);
  height: var(--icon-tiny);
  font-size: var(--icon-tiny);
}
.small.icons .icon,
.small.icon {
  width: var(--icon-small);
  height: var(--icon-small);
  font-size: var(--icon-small);
}
.icons .icon,
.icon {
  /* inherit */
}
.large.icons .icon,
.large.icon {
  width: var(--icon-large);
  height: var(--icon-large);
  font-size: var(--icon-large);
}
.big.icons .icon,
.big.icon {
  width: var(--icon-big);
  height: var(--icon-big);
  font-size: var(--icon-big);
}
.huge.icons .icon,
.huge.icon {
  width: var(--icon-huge);
  height: var(--icon-huge);
  font-size: var(--icon-huge);
}
.massive.icons .icon,
.massive.icon {
  width: var(--icon-massive);
  height: var(--icon-massive);
  font-size: var(--icon-massive);
}
