:root {

  --input-background: var(--inverted-color);

  --input-vertical-padding: var(--relative-10px);
  --input-horizontal-padding: var(--relative-12px);
  --input-padding: var(--input-vertical-padding) var(--input-horizontal-padding);


  /* Input Text Color */
  --input-font-family: var(--page-font);
  --input-text-color: var(--standard-100);
  --input-font-weight: var(--normal);

  /* Line Height Default For Inputs in Browser (Descenders are 17px at 14px base em) */
  --input-line-height: var(--relative-17px);

  --input-box-shadow: var(--subtle-inset-shadow);
  --input-border: var(--border);
  --input-border-radius: var(--border-radius);

  --input-placeholder-color: oklch(from var(--input-color) calc(l + 75) c h);
  --input-placeholder-focus-color: oklch(from var(--input-color), calc(l + 45) c h);

  --input-transition:
    box-shadow var(--duration) var(--easing),
    border-color var(--duration) var(--easing)
  ;

  --input-label-font-size: var(--relative-11px);
  --input-label-font-weight: var(--bold);
  --input-label-padding: 2px 3px;
  --input-label-color: var(--standard-20);
  --input-label-border: var(--standard-border);
  --input-label-border-radius: var(--border-radius);

}
