.items {
  margin: var(--16px) 0;
}

.item {
  padding: var(--8px) var(--12px);
  margin: var(--4px) 0;
  background: var(--standard-5);
  border-radius: var(--border-radius);
  transition: opacity 0.2s;

  &.done {
    color: var(--green-text-color);
  }

  &.dim {
    opacity: 0.25;
  }
}

p {
  margin-top: var(--16px);
  color: var(--muted-text-color);

  .count {
    font-weight: var(--bold);
  }
}
