/* Laptop Only(992px-1200px only) */

@layer responsive.laptop {

  layout {
    --sidebar-width: 230px;
    --rail-width: 220px;
  }
  layout masthead > ui-menu ui-container {
    margin-right: 0px;
  }

}
