/* Laptop Only(992px-1200px only) */

@layer responsive.laptop {

  layout {
    --sidebar-width: 210px;
    --rail-width: 0px;
  }
  rail.rail {
    display: none;
  }
  layout masthead > ui-menu ui-container {
    margin-right: 0px;
  }

}
