/* Mobile (Max width 767px) */

@layer responsive.mobile {

  :root {
    --global-search-input-font-size: 14px;
    --topbar-icon-size: 20px;
  }

  topbar {
    position: fixed;
    z-index: var(--page-layer-3);
    top: auto;
    height: 70px;
    bottom: 0;
    width: 100%;
    align-items: center;

    mobile-menu-toggle {
      display: inline-block;
    }
    theme-switcher {
      margin-left: 0;
    }
    global-search::part(input-label) {
      display: none;
    }
  }

  layout {
    width: 100%;
    height: auto;

    main {

      h1 {
        font-size: 22px;
      }
      h2 {
        font-size: 18px;
        margin: 2rem 0rem 1rem;
      }
      ul li,
      p {
        font-size: 15px;
      }

      ui-container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }

      code-example::part(header) {
        font-size: 15px;
      }
      code-example::part(description) {
        font-size: 13px;
      }

    }

    masthead {
      ui-container {
        max-width: 100%;
        margin-left: 1.5em;
        margin-right: 1.5em;
      }
    }
  }

  sidebar {
    position: fixed;
    z-index: var(--page-layer-2);

    left: 0px;
    bottom: 0px;
    right: auto;
    width: 100%;
    height: max-content;
    border: none;
    padding: 0 1rem 1rem;
    margin: 0;

    transition:
      translate 0.3s ease,
      display 0.3s ease allow-discrete,
      overlay 0.3s ease allow-discrete;

    translate: 0px 100%;

    &::backdrop {
      opacity: 0;
      background: rgba(0, 0, 0, 0.8);
      transition: opacity 0.5s;
    }

    &.visible,
    &:popover-open {
      box-shadow: 2px 0px 6px rgba(0, 0, 0, 0.5);
      translate: 0 0;

      &::backdrop {
        opacity: 1;
      }

      @starting-style {
        translate: 0px 100%;

        &::backdrop {
          opacity: 0;
        }
      }
    }
  }
  layout page {
    margin: 0rem;
  }

  code-playground::part(file) {
    max-width: calc(100vw - 3rem);
  }

}
