/* Mobile (Max width 767px) */

@layer responsive.mobile {

  :root {
    --global-search-input-font-size: 14px;
    --topbar-icon-size: 20px;
    --topbar-logo-size: 30px;
  }

  topbar {
    position: fixed;
    z-index: var(--float-layer);
    background-color: var(--topbar-background-color);
    top: auto;
    height: 70px;
    bottom: 0;
    width: 100%;
    align-items: center;
    topbar-menu {
      width: 0px;
      margin: 0rem var(--compact-spacing);
    }
    .logo {
      margin-left: var(--spacing);
    }
    mobile-menu-toggle {
      display: inline-block;
    }
    global-search {
      max-width: none;
      margin-left: var(--spacing);
    }
    topbar-menu {
      display: none;
    }
    theme-switcher {
      margin-left: 0;
    }
    global-search::part(input-label) {
      display: none;
    }
  }

  layout {
    width: 100%;
    height: auto;

    main {

      h1 {
        font-size: 24px;
      }
      h2 {
        font-size: 20px;
        margin: 2rem 0rem 1rem;
      }
      h2:first-child {
        margin-top: 0rem;
      }
      ul li,
      p {
        font-size: 16px;
        line-height: 1.7;
      }

      ui-container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }

      code-example::part(header) {
        font-size: 16px;
      }
      code-example::part(description) {
        font-size: 13px;
      }

    }

    masthead {
      ui-container {
        max-width: 100%;
        margin-left: 1.5em;
        margin-right: 1.5em;
      }
    }
  }

  sidebar {
    display: none;
  }
  layout page {
    margin: 0rem;
  }

  code-playground::part(file) {
    max-width: calc(100vw - 3rem);
  }

}
