:host {

  --global-search-background-color: var(--black-30);
  --global-search-border-radius: var(--circular-radius);
  --global-search-transition: background var(--default-duration) var(--default-easing);
  --global-search-hover-background-color: var(--black-50);

  --global-search-icon-width: 2rem;
  --global-search-icon-color: inherit;

  --global-search-input-width: 100px;
  --global-search-input-font-size: 12px;
  --global-search-input-font: var(--page-font);
  --global-search-input-color: var(--text-color);

  --global-search-placeholder-color: var(--white-10);

  --global-search-label-font-size: 11px;
  --global-search-label-padding: 2px 3px;
  --global-search-label-color: var(--white-20);
  --global-search-label-border: var(--internal-border);
  --global-search-label-border-radius: var(--border-radius);

  --global-search-input-color: var(--input-color);
  --global-search-input-padding: var(--input-padding);


  --modal-transition:
    opacity 0.5s ease,
    scale 0.3s ease,
    overlay 0.5s ease allow-discrete,
    display 0.5s ease allow-discrete;

  --modal-dimmer-transition-duration: 700ms;
  --modal-dimmer-background: var(--black-70);
  --modal-dimmer-transition:
    display var(--modal-dimmer-transition-duration) allow-discrete,
    overlay var(--modal-dimmer-transition-duration) allow-discrete,
    background var(--modal-dimmer-transition-duration);

}

.search {
  cursor: input;
  display: flex;
  align-items: center;
  background-color: var(--global-search-background-color);
  border-radius: var(--global-search-border-radius);
  transition: var(--global-search-transition);

  &:hover {
    background-color: var(--global-search-hover-background-color);
  }
  .label {
    display: inline-block;
    text-wrap: nowrap;
    margin-left: auto;
    padding: var(--global-search-label-padding);
    line-height: 1;
    color: var(--global-search-label-color);
    font-size: var(--global-search-label-font-size);
    font-weight: bold;
    border: var(--global-search-label-border);
    border-radius: var(--global-search-label-border-radius);
  }
  input {
    width: var(--global-search-input-width);
    border: none;
    font-size: var(--global-search-input-font-size);
    font-family: var(--global-search-font);
    color: var(--global-search-input-color);
    background-color: transparent;
    padding: var(--global-search-input-padding);
    flex-grow: 1;
  }
  input::placeholder {
    color: var(--global-search-placeholder-color);
  }
  input:focus {
    outline: none;
  }
  ui-icon {
    margin-left: auto;
    flex-grow: 0;
    width: var(--global-search-icon-width);
    color: var(--global-search-icon-color);
  }
}


/*   Closed state of the dialog   */
dialog {
  outline: none;
  border: none;
  background-color: transparent;
}
dialog .modal {
  background-color: #FFFFFF;
  padding: 1rem;
  width: 400px;
  max-width: calc(100vw - 2rem);
  border-radius: var(--border-radius);
}

/* Dialog */
dialog {
  opacity: 0;
  scale: 0.8;
  transition: var(--modal-transition);
}
dialog[open] {
  opacity: 1;
  scale: 1;
}
@starting-style {
  dialog[open] {
    opacity: 0;
    scale: 0.8;
  }
}

/* Backdrop */
dialog::backdrop {
  background-color: rgb(0 0 0 / 0%);
  transition: var(--modal-dimmer-transition);
}
dialog[open]::backdrop {
  background: var(--modal-dimmer-background);
}
@starting-style {
  dialog[open]::backdrop {
    background: rgb(0 0 0 / 0%);
  }
}
