.group + .group {
  border-top: var(--border);
}

a {
  margin-left: 0.5rem;
  cursor: pointer;
  color: var(--standard-30);
  text-decoration: none;
}
a:hover {
  color: var(--standard-100);
}

.info {
  display: block;
  border: var(--border);
  margin: var(--vertically-spaced);
  padding: var(--padding);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

b {
  color: var(--primary-text-color);
}
