---
const { title } = Astro.props;

import './Body.css';

import '../css/container.css';
import '../css/menu.css';
import '../css/image.css';
import '../css/rail.css';
import '../css/header.css';
import '../css/icon.css';
import '../css/input.css';

---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0;1,300;1,400;1,700;1&display=swap" rel="stylesheet">
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<script>
  import { $ } from '@semantic-ui/query';
  const systemPrefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
  const currentTheme = localStorage.getItem('theme')
    ? localStorage.getItem('theme') :
      systemPrefersDark
      ? 'dark'
      : 'light'
  ;
  $('body').addClass(currentTheme);
</script>
