@layer global {

  :root {
    --page-background: #FEFEFF;
    --primary-text-color: #73B9E1;
    --panel-color: #1B1C1D;
  }
  body.dark {
    --page-background: #000000;
    --text-color: rgba(255, 255, 255, 0.83);
    --panel-color: #0C1114;
  }

  html, body {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    height: 100%;
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    min-width: 320px;
    background: var(--page-background);
    font-family: var(--page-font);
    line-height: var(--line-height);
    color: var(--page-text-color);
  }

  body.padded {
    padding: 2rem;
  }

  img {
    display: block;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: #131313;
  }

  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child,
  h5:first-child {
    margin-top: 0px;
  }

  /* Link Styles */
  li a,
  p a {
    display: inline-block;
    position: relative;
    overflow: hidden;
    vertical-align: top;
    z-index: 0;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    text-decoration: none;
    outline: none;
    font-weight: normal;
  }
  li a > code,
  p a > code {
    background-color: rgba(0, 50, 100, 0.08);
  }
  li a:before,
  p a:before,
  li a:after,
  p a:after {
    position: absolute;
    top: auto;
    bottom: 0.1em;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    transition: all 0.2s;
    backface-visibility: hidden;
    background-color: var(--link-color);
  }
  li a:before,
  p a:before {
    background-color: var(--standard-10);
    transform: scaleX(1);
  }
  li a:after,
  p a:after {
    transform: scaleX(0) scaleY(0);
  }
  /* Hover */
  li a:hover > code,
  p a:hover > code {
    background-color: rgba(0, 50, 100, 0.12);
  }
  li a[aria-selected="true"]:after,
  li a:hover:after,
  p a:hover:after {
    background-color: var(--link-hover-color);
    transform: scaleX(1) scaleY(1);
  }
  ul[role=tablist] {
    box-shadow: 0px -2px 0px 0px var(--standard-30) inset
  }
  li a[role="tab"] {
    font-size: 14px;
    padding-bottom: 1rem !important;
  }
  li a[role="tab"][aria-selected="true"] {
    color: var(--primary-text-color) !important;
  }

  ul {
    padding-left: 1.5em;
  }

  p code,
  li code {
    background-color: var(--standard-10);
    padding: 0em 0.5em;
    font-size: 0.8em;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    margin: -0.3em 0px;
    border-radius: var(--border-radius);
    display: inline-block;
  }

  body.dark {
  }
  body.dark {
    h1,
    h2,
    h3,
    h4,
    h5 {
      color: #FFFFFF;
    }
    .shiki,
    .shiki span {
      color: var(--shiki-dark) !important;
      background-color: var(--shiki-dark-bg) !important;
      font-style: var(--shiki-dark-font-style) !important;
      font-weight: var(--shiki-dark-font-weight) !important;
      text-decoration: var(--shiki-dark-text-decoration) !important;
    }
  }
}

/* Temp */
ui-buttons ui-button::part(button) {
  flex: 1 0 auto;
  border-radius: 0em;
  margin: var(--button-group-button-offset);
}
ui-buttons ui-button:first-child::part(button) {
  border-left: none;
  margin-left: 0em;
  border-top-left-radius: var(--button-border-radius);
  border-bottom-left-radius: var(--button-border-radius);
}
ui-buttons ui-button:last-child::part(button) {
  border-top-right-radius: var(--button-border-radius);
  border-bottom-right-radius: var(--button-border-radius);
}
