---
import Layout from '@layouts/Layout.astro';
import './Definition.css';
const { id } = Astro.props;
---
<Layout {...Astro.props} id={id}>
	<div slot="rail">
		Test
	</div>
	<div class="singular definition" data-tab="singular">
		<slot name="singular" />
	</div>
	<div class="plural definition" data-tab="plural">
		<slot name="plural" />
	</div>
	<div class="spec" data-tab="spec">
		<slot name="spec" />
	</div>
</Layout>
