.definition {

  h3 {
    font-size: 16px;
  }
  h3 + p {
    margin-top: -1rem;
  }
  h3 + h4 {
    margin-top: -1rem;
  }
  h4 {
    margin: 0.25rem 0rem 1rem;
    font-size: 15px;
    transition: color 0.3s ease;
    font-weight: normal;
  }
}

code-example {
  display: block;
  margin: 4rem -1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: box-shadow 0.3s ease;
  box-shadow: -3px 0px 0px transparent;

  &.another {
    margin-top: 4rem;
  }
  &.highlight {
    box-shadow: -3px 0px 0px var(--warning-text-color);
  }
  ui-buttons {
    margin-bottom: 5px;
  }
  ui-buttons ui-button {
    margin-bottom: 0px;
  }
  ui-buttons,
  ui-button {
    margin-bottom: 5px;
  }

  &:first-of-type {
    margin-top: 2rem;
  }
}
code-example::part(header) {
  transition: color 0.3s ease;
}
code-example.highlight::part(header) {
  color: var(--warning-text-color);
}



#button {

  #social-site-example,
  #size-example,
  #colored-example {
    ui-button {
      display: inline-block;
      margin-bottom: 8px;
    }
  }

  .transparent.segments {
    display: inline-flex;
    flex-direction: row;
    width: 300px;
    border-radius: 4px;
    overflow: hidden;
    border: var(--border);
    background-size: 5px 5px;
    background-image:
    linear-gradient(to right, var(--standard-5) 1px, transparent 1px),
    linear-gradient(to bottom, var(--standard-5) 1px, transparent 1px);

    @media screen and (max-width: 767px) {
      & {
        flex-direction: column;
      }
    }

    .segment {
      padding: 1rem;
      flex-grow: 1;
    }
    .standard {
      background-image: linear-gradient(45deg, #ffffff61, #d7f4ff);
    }
    .inverted {
      background-image: linear-gradient(45deg, #000000a3, #717171);
    }
  }

}

html.dark #button {
  .transparent.segments {
    .standard {
      background-image: linear-gradient(45deg, #232323, #0A0A0A);
    }
    .inverted {
      background-image: linear-gradient(45deg, #aaced9, #FFFFFF);
    }
  }
}

#icon {
  code-example:not(.size) ui-icon {
    font-size: 24px;
  }
}

