.definition h3 {
  font-size: 16px;
}
.definition h3 + p {
  margin-top: -1rem;
}
.definition h3 + h4 {
  margin-top: -1rem;
}
.definition h4 {
  margin: 0.25rem 0rem 1rem;
  font-size: 15px;
  transition: color 0.3s ease;
  font-weight: normal;
}

code-example {
  display: block;
  margin: 0rem -1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: box-shadow 0.3s ease;
  box-shadow: -3px 0px 0px transparent;
}
code-example.highlight {
  box-shadow: -3px 0px 0px var(--warning-text-color);
}
code-example::part(header) {
  transition: color 0.3s ease;
}
code-example.highlight::part(header) {
  color: var(--warning-text-color);
}

#button {
  .transparent.segments {
    display: inline-flex;
    border-radius: 4px;
    overflow: hidden;
  }
  .transparent.segments > .segment {
    padding: 2rem;
  }
  .transparent.segments .dark {
    background-image: linear-gradient(45deg, #232323, #0A0A0A);
  }
  .transparent.segments .light {
    background-image: linear-gradient(45deg, #aaced9, #FFFFFF);
  }
  @media screen and (max-width: 767px) {
    .transparent.segments {
      flex-direction: column;
    }
  }
}

#icon code-example:not(.size) ui-icon {
    font-size: 24px;
}

