pageContent img {
  display: inline-block;
}

layout main ui-container {
  max-width: 960px;
}

pageContent {
  font-size: 16px;
}
pageContent li,
pageContent > p {
  font-size: 16px;
  line-height: 1.5;
}
pageContent > p:first-child {
  margin-top: 0rem;
}

pageContent code {
  font-size: 14px !important;
}
