---
import Body from './Body.astro';
import Navigation from '../components/Navigation.astro';
import DocsMasthead from '../components/DocsMasthead.astro';
import TopBar from '../components/TopBar.astro';
import DocsRail from '../components/DocsRail.astro';
import './Layout.css';

---
<Body>
	<TopBar></TopBar>
	<layout>
		<Navigation/>
		<page>
			<slot name="masthead">
				<DocsMasthead />
			</slot>
			<main>
				<ui-container>
					<rail class="ui right dividing rail">
						<slot name="rail">
							<DocsRail />
						</slot>
					</rail>
					<pageContent>
						<slot />
					</pageContent>
				</ui-container>
			</main>
		</page>
	</layout>
</Body>
