layout {
  display: flex;
  flex-direction: row;
}

layout sidebar {
  position: fixed;
  z-index: 1;
  background-color: #1B1C1D;
  width: 250px;
  flex: 0 1 auto;
}
layout page {
  display: flex;
  flex-direction: column;
  margin-left: 250px;
  overflow: auto;
  flex: 1 1 auto;
}

layout main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
layout main ui-container {
  flex-grow: 1;
  position: relative;
  padding: 2em 0em 7em;
  margin-left: 3em !important;
  margin-right: 387px !important;
  width: auto !important;
  max-width: 960px !important;
}

layout pageContent {
  font-size: 15px;
}

layout rail.ui.rail {
  padding-top: 2rem !important;
}

layout,
layout sidebar {
  height: 100vh;
}

topbar + layout,
topbar + layout sidebar {
  height: calc(100vh - 60px);
}

body.dark {
  page > masthead {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: none;
  }
  page > masthead h1 {
    color: #FFFFFF;
  }
  page > masthead p {
    color: rgba(255, 255, 255, 0.6);
  }
  page >masthead > ui-menu {
    box-shadow: 0px 2px 2px 0 rgba(34, 36, 38, 0.15);
  }
  main {
    background-image: linear-gradient(rgb(195 195 195 / 9%), rgb(0 0 0 / 0%) 25px);
  }
  main rail.ui.right.dividing.rail {
    border-color: rgba(255, 255, 255, 0.1);
  }
}
