@layer layout {

  body {
    --rail-width: 300px;
    --dividing-border: 1px solid rgba(0 0 0 / 10%);
    --dividing-box-shadow: 1px 0px 0px 0px rgb(34 35 37 / 100%);
  }
  html.dark {
    --primary-text-color: var(--primary-light-text-color);
    --dividing-border: 1px solid rgb(34 35 37 / 100%);
    --dividing-box-shadow: 1px 0px 0px 0px rgb(34 35 37 / 100%);
  }

  layout {
    display: flex;
    flex-direction: row;
  }

  layout sidebar {
    position: static;

    left: 0;
    top: auto;
    border: none;
    padding: 0;
    margin: 0;

    z-index: 1;
    flex: 0 0 auto;
  }
  layout page {
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex: 1 1 auto;
    width: 100%;
  }

  layout main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
  layout main ui-container {
    flex-grow: 1;
    position: relative;
    padding: 2em 3em 7em;
    margin: 0rem var(--rail-width) 0rem 0rem;
    width: auto;
    max-width: 1170px ;
    box-shadow: 1px 0px 1px 0 rgb(0 0 0 / 8%);
  }


  layout rail.ui.rail {
    width: var(--rail-width);
    padding-top: 1rem;
    padding-left: 2rem;
    margin-left: 0rem;
    box-shadow: var(--subtle-left-lip-shadow);
  }

  layout,
  layout sidebar {
    height: 100dvh;
  }

  topbar + layout,
  topbar + layout sidebar {
    height: calc(100dvh - var(--topbar-height));
  }

  layout page.text-content main > ui-container {
    max-width: 910px;
    padding: 2em 3em 7em;
  }
  layout page.text-content pageContent,
  layout page.text-content li,
  layout page.text-content p {
    font-size: 16px;
  }
  layout page.text-content li,
  layout page.text-content p {
    color: var(--standard-70);
  }
  layout page.text-content pageContent > ul,
  layout page.text-content pageContent > ul li,
  layout page.text-content pageContent > p {
    line-height: 1.5;
  }
  layout page.text-content pageContent > ul li {
    margin-bottom: 0.5rem
  }
  layout page.text-content pre code {
    font-size: 16px;
  }
  layout page.text-content h2 {
    margin: 3rem 0rem 2rem;
  }
  layout page.text-content h3 {
    margin: 3rem 0rem 1.5rem;
  }
  layout page.text-content h5 {
    font-size: 12px;
    text-transform: uppercase;
    color: var(--standard-50);
  }
  layout page.text-content ul strong,
  layout page.text-content p strong {
    color: var(--standard-100);
  }
  layout page.centered main > ui-container {
    max-width: none;
  }
  layout page.centered masthead ui-container,
  layout page.centered main > ui-container pageContent {
    display: block;
    max-width: 750px;
    margin: 0 auto;
  }
  layout page.centered masthead > ui-container {
    max-width: 840px;
    left: calc(var(--sidebar-width) / -2);
  }

  layout h1,
  layout h2,
  layout h3,
  layout h4,
  layout h5 {
    transition: box-shadow 0.5s ease, color 0.5s ease;
    box-shadow: -3px 0px 0px transparent;
    margin-left: -0.5rem !important;
    padding-left: 0.5rem !important;
  }

  layout h1.highlight,
  layout h2.highlight,
  layout h3.highlight,
  layout h4.highlight,
  layout h5.highlight {
    color: var(--warning-text-color) !important;
    box-shadow: -3px 0px 0px var(--warning-text-color);
  }

  layout main h1:first-child,
  layout main h2:first-child,
  layout main h3:first-child {
    margin-top: 0rem;
  }/*
  layout main h1 {
    font-size: 17px;
    margin: 3rem 0rem 2rem;
  }
  layout main h1 + h2 {
    margin-top: 2rem;
  }
  layout main h1 ui-icon {
    margin-right: 1rem;
    color: var(--primary-text-color);
  }*/
  layout main h1 {
    font-size: 26px;
    font-weight: bold;
    margin: 3rem 0rem 1rem;
    letter-spacing: 0.05em;
  }
  layout main h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 2rem 0rem 1rem;
    letter-spacing: 0.05em;
  }


  /* Headers are smaller with masthead  */
  layout masthead + main h2 {
    border-bottom: var(--internal-border);
    padding-bottom: 8px;
    font-size: 20px;
  }
  layout masthead + main h3 {
    font-size: 16px;
    font-weight: bold;
    color: #000;
    padding-left: 0px;
    padding-bottom: 5px;
  }

  layout main {
    background-color: #F5F5F6;
  }
  layout main ui-container {
    background-color: #FFFFFF;
  }

  html.dark {
    page > masthead {
      background-color: rgb(0, 0, 0, 0.9);
      border-bottom: 1px solid rgba(34, 35, 37, 0.7);
      box-shadow: none;
    }
    page > masthead h1 {
      color: #FFFFFF;
    }
    page > masthead p {
      color: rgba(255, 255, 255, 0.6);
    }
    page > masthead > ui-menu {
      box-shadow: 0px 2px 2px 0 rgba(34, 36, 38, 0.15);
    }
    page {
      background-image: linear-gradient(to bottom, #0e0e0e, #10141a 100px, #000000)
    }
    page > main {
      background: none;
    }
    layout main h2,
    layout main h3 {
      color: #FFFFFF;
    }
    main rail.ui.right.dividing.rail {
      border-color: rgba(255, 255, 255, 0.1);
    }
    layout main ui-container {
      background-color: rgb(0, 0, 0, 0.8);
      box-shadow: 1px 0px 1px 0 rgba(34, 35, 37, 0.7);
    }
  }

}

@layer code {
  .expressive-code {
    /* expressive code */
    --ec-uiFontSize: 14px;
    --ec-codeFontSize: 1em;
    --ec-codePadBlk: 0.5em;
    --ec-brdRad: var(--border-radius);
    --ec-brdWd: 0px;
    --ec-frm-edBg: linear-gradient(45deg, #17171c, #081116);
    /*--ec-frm-edActTabIndTopCol: var(--primary-text-color);*/
    --ec-frm-edActTabIndTopCol: transparent;
    --ec-frm-trmTtbBrdBtmCol: transparent;
    --ec-frm-edTabBarBg: transparent;
    --ec-frm-edActTabIndBtmCol: transparent;
    --ec-frm-edActTabBg: #13151a;
    --code-background: linear-gradient(140deg, oklch(0.16 0.02 266.69), oklch(0 0 0), oklch(0.13 0.02 266.79));
    --ec-frm-edBg: linear-gradient(140deg, oklch(0.16 0.02 266.69), oklch(0 0 0), oklch(0.13 0.02 266.79));
    --ec-frm-trmBg: var(--ec-frm-edBg);
    --ec-frm-trmTtbBg: #0c0e16;
    --ec-frm-frameBoxShdCssVal: 0px 0px 5px rgba(0 0 0 / 50% inset);
    --ec-brdWd: 1px;
    --ec-brdCol: oklch(0.22 0.02 277.72);
    .expressive-code .frame.is-terminal {

    }
    .frame {
      border: var(--internal-border);
    }
    .frame.has-title:not(.is-terminal) .title {
      font-weight: bold;
    }
  }

}
