---
import Body from '../layouts/Body.astro';
import TopBar from '@components/TopBar.astro';
import './Layout.css';
import './Playground.css';
---
<Body>
  <TopBar/>
  <page>
    <slot></slot>
  </page>
</Body>
