
body {
  display: flex;
  flex-direction: column;

  topbar {
    --topbar-logo-size: 20px;
    --topbar-logo-valign: -5px;
    --topbar-height: 45px;
    --topbar-site-name-font-size: 13px;
    --topbar-site-name-distance: 10px;
    --topbar-site-name-color: var(--white);
    --topbar-menu-distance: 10px;
    --topbar-icon-size: 13px;
    --topbar-background-color: var(--playground-code-background);
    border-bottom: 1px solid var(--white-10);
  }
  topbar topbar-menu {
    --topbar-menu-item-spacing: 3px;
    --topbar-menu-item-padding: 2px 2px;
    --topbar-menu-item-font-size: var(--12px);
    --topbar-menu-item-color: var(--white-20);
    --topbar-menu-item-hover-color: var(--white-60);
    --topbar-menu-item-active-color: var(--white-100);
    --topbar-menu-item-font-weight: normal;
    --topbar-menu-item-active-font-weight: bold;
  }
  topbar theme-switcher {
    display: none;
  }

  --playground-code-font-size: 14px;
  --playground-code-background: #0d1117;
  --playground-code-default-color: #c9d1d9;
  --playground-code-keyword-color: #AAAAAA;
  --playground-code-atom-color: #c9d1d9;
  --playground-code-number-color: #58a6ff;
  --playground-code-def-color: var(--primary-text-color);
  --playground-code-variable-color: #e98080;
  --playground-code-property-color: #656565;
  --playground-code-operator-color: #79c0ff;
  --playground-code-variable-2-color: #79c0ff;
  --playground-code-variable-3-color: #c9d1d9;
  --playground-code-type-color: #c9d1d9;
  --playground-code-comment-color: #c9d1d9;
  --playground-code-string-color: var(--primary-text-color);
  --playground-code-string-2-color: #656565;
  --playground-code-meta-color: #c9d1d9;
  --playground-code-qualifier-color: #c9d1d9;
  --playground-code-builtin-color: #c9d1d9;
  --playground-code-tag-color: #d2a8ff;
  --playground-code-attribute-color: var(--primary-text-color);
  --playground-code-callee-color: #d2a8ff;
  --playground-tab-bar-background: #ffffff;
  --playground-bar-height: 39px;
  --playground-preview-width: 42%;
}

playground {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  width: 100%;
  height: calc(100% - var(--topbar-height));

  panes {
    background-color: var(--playground-code-background);
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
  }
  panes pane {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--white-10);
    box-shadow: 0px 1px 0px 0px var(--black-60) inset;
    flex: 1 1 0;
    box-sizing: border-box;
  }
  label {
    font-size: 11px;
    background-color: rgba(255, 255, 255, 0.05);
    width: max-content;
    border-radius: 5px;
    line-height: 15px;
    padding: 2px 6px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.3);
  }
  panes pane > playground-file-editor {
    flex: 1 1 0;
    height: auto;
  }
  panes pane:first-child {
    border-top: none;
    box-shadow: none;
  }
  panes + panes {
    border-left: 1px solid var(--white-10);
  }

  /* Reskin */
  playground-preview {
    margin: -0.5rem;
    flex: 1 1 0;
    max-height: calc(100vh - var(--topbar-height));
  }
  playground-preview::part(preview-toolbar) {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: var(--subtle-gradient);
    box-shadow: var(--subtle-bottom-lip-shadow);
  }
  playground-preview::part(preview-loading-indicator) {
    --mdc-theme-primary: #49b1d2;
    height: 4px;
    overflow: hidden;
    top: -26px;
    width: 71px;
    left: 22px;
  }
}

playground-ide {
  height: 100%;
}
