---
import '../css/layers.css';

import Body from '../layouts/Body.astro';
import TopBar from '@components/TopBar.astro';
import SiteMobileMenu from '@components/SiteMobileMenu.astro';

import './Layout.css';
import './Playground.css';
let { title, description, searchMeta } = Astro.props;
---
<Body title={title} description={description} searchMeta={searchMeta} >
  <layout id="playground">
    <TopBar noanimation transition:persist transition:name="top-bar"/>
    <div>
      <slot></slot>
    </div>
  </layout>
  <SiteMobileMenu transition:persist transition:name="mobile-menu"></SiteMobileMenu>
</Body>
