---
import Body from '../layouts/Body.astro';
import TopBar from '@components/TopBar.astro';
import './Layout.css';
import './Playground.css';
import '../css/layers.css';
import '../css/fonts.css';
let { title, description, searchMeta } = Astro.props;
---
<Body title={title} description={description} searchMeta={searchMeta} noZoom>
  <TopBar/>
  <slot></slot>
</Body>
