.image {
  overflow: hidden;
  margin: var(--card-reverse-padding) var(--card-reverse-padding) 1em;
}

::slotted(.image),
::slotted(ui-image),
.image img {
  display: block;
  width: var(--card-image-width);
  max-width: var(--card-image-max-width);
  object-fit: contain;
}
