ui-buttons ui-button::part(button) {
  flex: 1 0 auto;
  margin: var(--button-group-button-offset);
  border-radius: 0em;
  width: 100%;
}
ui-buttons:not([vertical]) > ui-button:first-child::part(button) {
  border-left: none;
  margin-left: 0em;
  border-top-left-radius: var(--button-border-radius);
  border-bottom-left-radius: var(--button-border-radius);
}
ui-buttons:not([vertical]) > ui-button:last-child::part(button) {
  border-top-right-radius: var(--button-border-radius);
  border-bottom-right-radius: var(--button-border-radius);
}

ui-buttons[vertical] > ui-button:first-child::part(button) {
  border-top: none;
  margin-top: 0em;
  border-radius: var(--button-border-radius) var(--button-border-radius) 0 0;
}
ui-buttons[vertical] > ui-button:last-child::part(button) {
  border-radius: 0 0 var(--button-border-radius) var(--button-border-radius);
}
