:host {
  display: block;
}

.field {
  margin-bottom: var(--spacing);

  &.error {
    input, select, textarea {
      border-color: var(--red);
    }
  }

  .error {
    margin-top: var(--compact-spacing);
    color: var(--red);
    font-size: var(--small);
  }

  .help {
    margin-top: var(--compact-spacing);
    color: var(--standard-40);
    font-size: var(--small);
  }
}

label {
  display: block;
  margin-bottom: var(--compact-spacing);
  font-weight: var(--bold);

  .required {
    color: var(--red);
    margin-left: 4px;
  }
}

input[type="text"],
textarea,
select {
  width: 100%;
  background: var(--inverted-100);
  color: var(--input-text-color);
  padding: var(--input-padding);
  color: var(--text-color);
  border: var(--border);
  border-radius: var(--border-radius);
  font-family: inherit;
  font-size: inherit;
  transition: var(--transition);

  &:focus {
    border-color: var(--form-focused-border-color);
    outline: none;
  }
}

textarea {
  min-height: 100px;
  resize: vertical;
}

.actions {
  display: flex;
  gap: var(--compact-spacing);
  margin-top: var(--spacing);
}
