:root {
  --card-margin: 0 var(--spacing) var(--spacing) 0;
  --card-padding: 1.5rem;
  --card-flex-direction: column;
  --card-border-radius: var(--border-radius);
  --card-transition: var(--transition);
  --card-box-shadow: 0px 0px 5px var(--standard-5);
  --card-background: linear-gradient(140deg, oklch(0.98 0.01 282.32), oklch(1 0 0), oklch(0.98 0.01 272.79));
  --card-text-align: center;
  --card-border: var(--internal-border);
  --card-gap: 0;
}


@container page style(--dark-mode: true) {
  body {
    --card-background: linear-gradient(140deg, oklch(0.16 0.02 266.69), oklch(0 0 0), oklch(0.13 0.02 266.79));;
  }
}
