:host {
  --card-horizontal-flex-direction: row;
  --card-horizontal-gap: var(--padding);
  --card-horizontal-image-max-width: 125px;
  --card-horizontal-icon-size: var(--massive);
  --card-horizontal-icon-margin: var(--left-margin);
  --card-horizontal-header-size: var(--large);
  --card-horizontal-icon-font-size: var(--massive);
}

