:root {

  --button-vertical-align: baseline;

  --button-vertical-margin: 0em;
  --button-horizontal-margin: var(--3px);

  --button-background-color: #E0E1E2;
  --button-background-image: none;
  --button-background: var(--button-background-color) var(--button-background-image);

  --button-line-height: 1em;

  /* button same height as input globally */
  --button-vertical-padding: var(--input-vertical-padding);
  --button-horizontal-padding: 1.5em;

  /* Text */
  --button-text-transform: none;
  --button-tap-color: transparent;
  --button-font-family: var(--page-font);
  --button-font-weight: var(--bold);
  --button-text-color: var(--text-color);
  --button-inverted-text-color: var(--inverted-text-color);
  --button-text-shadow: none;
  --button-inverted-text-shadow: var(--button-text-shadow);

  /* Border */
  --button-border-radius: var(--default-border-radius);
  --button-border-color: var(--border-color);
  --button-border-width: 0px;
  --button-border: var(--button-border-width) solid var(--button-border-color);

  /* Shadow */
  --button-shadow-distance: 0px;
  --button-box-shadow:
    0px var(--button-shadow-distance) 0px 0px var(--button-border-color)
  ;
  /* Used for some padding calculations */
  --button-shadow-offset: var(--button-shadow-distance) / 2;

  --button-transition:
    opacity var(--default-duration) var(--default-easing),
    background-color var(--default-duration) var(--default-easing),
    color var(--default-duration) var(--default-easing),
    box-shadow var(--default-duration) var(--default-easing),
    background var(--default-duration) var(--default-easing)
  ;
  --button-will-change: initial;

}
