* {
  --button-or-text: 'or';
  --button-or-gap: 0.3em;
  --button-or-height: calc(var(--button-vertical-padding) * 2) + 1em;
  --button-or-z-index: 3;

  --button-or-circle-distance-to-edge: var(--button-vertical-padding);
  --button-or-circle-size: calc(var(--button-or-height) - var(--button-or-circle-distance-to-edge));
  --button-or-line-height: var(--button-or-circle-size);
  --button-or-box-shadow: var(--button-border-box-shadow);

  --button-or-vertical-offset: calc(var(--button-or-circle-size) / 2 * -1);
  --button-or-horizontal-offset: calc(var(--button-or-circle-size) / 2 * -1 );

  --button-or-background-color: var(--white);
  --button-or-text-shadow: var(--button-text-shadow);
  --button-or-text-style: var(--normal);
  --button-or-text-weight: var(--bold);
  --button-or-text-color: var(--light-text-color);

  --button-or-spacer-height: var(--button-vertical-padding);
  --button-or-spacer-color: transparent;
}
