
:root {

  --icon-js-svg: url('./dev/js.svg');

  --icon-astro-svg: url('./dev/astro.svg');
  --icon-vue-svg: url('./dev/vue.svg');
  --icon-react-svg: url('./dev/react.svg');
  --icon-svelte-svg: url('./dev/svelte.svg');
  --icon-angular-svg: url('./dev/angular.svg');
  --icon-next-svg: url('./dev/next.svg');

  --icon-astro-mark-svg: url('./dev/astro-mark.svg');
  --icon-vue-mark-svg: url('./dev/vue-mark.svg');
  --icon-react-mark-svg: url('./dev/react-mark.svg');
  --icon-svelte-mark-svg: url('./dev/svelte-mark.svg');
  --icon-angular-mark-svg: url('./dev/angular-mark.svg');
  --icon-next-mark-svg: url('./dev/next-mark.svg');
}
