.items {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.item {
  padding: 15px;
  background: var(--standard-5);
  border: var(--border);
  border-radius: var(--border-radius);
  transition: var(--transition);
  
  &.selected {
    background: var(--standard-15);
    box-shadow: var(--subtle-shadow);
  }
}

.controls {
  margin: 20px 0;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.status {
  margin: 20px 0;
  padding: 10px;
  background: var(--standard-10);
  border-radius: var(--border-radius);
  font-family: monospace;
}