/* src/components/label/css/shadow/content/label.css */
@layer component.label.content.label {
  :host {
    display: inline-flex;
    margin: var(--label-margin);
  }
  :host::last-child {
    margin-right: 0rem;
  }
  .label {
    display: inline-flex;
    padding: var(--label-padding);
    background: var(--label-background);
    color: var(--label-color);
    border-radius: var(--label-border-radius);
    font-weight: var(--label-font-weight);
    min-width: var(--label-min-width);
  }
}

/* src/components/label/css/shadow/types/emphasis.css */
@layer component.label.types.emphasis {
  .secondary.label {
    background: var(--label-secondary-background);
    color: var(--label-secondary-text-color);
  }
  .outline.label {
    background: var(--label-outline-background);
    border: var(--label-outline-border);
    color: var(--label-outline-text-color);
  }
}

/* src/components/label/css/shadow/types/badge.css */
@layer component.label.types.badge {
  .badge.label {
    padding: var(--label-badge-padding);
  }
}

/* src/components/label/css/shadow/variations/sizing.css */
@layer component.label.variations.sizing {
  .mini.label {
    font-size: var(--label-mini);
  }
  .tiny.label {
    font-size: var(--label-tiny);
  }
  .small.label {
    font-size: var(--label-small);
  }
  :host {
    font-size: var(--label-medium);
  }
  .large.label {
    font-size: var(--label-large);
  }
  .big.label {
    font-size: var(--label-big);
  }
  .huge.label {
    font-size: var(--label-huge);
  }
  .massive.label {
    font-size: var(--label-massive);
  }
  .mini.labels {
    --label-medium: var(--label-mini);
  }
  .tiny.labels {
    --label-medium: var(--label-tiny);
  }
  .small.labels {
    --label-medium: var(--label-small);
  }
  .large.labels {
    --label-medium: var(--label-large);
  }
  .big.labels {
    --label-medium: var(--label-big);
  }
  .huge.labels {
    --label-medium: var(--label-huge);
  }
  .massive.labels {
    --label-medium: var(--label-massive);
  }
}

/* src/components/label/css/shadow/variations/aligned.css */
@layer component.label.variations.aligned;

/* src/components/label/css/shadow/label.css */
