/*******************************
             Global
*******************************/

/* Regular */
@font-face {
  font-family: 'Lato';
  src:
    url(/fonts/lato/LatoLatin-Regular.woff2) format('woff2')
  ;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Lato';
  src:
    url(/fonts/lato/LatoLatin-Italic.woff2) format('woff2')
  ;
  font-style: italic;
  font-weight: normal;
}

/* Bold */
@font-face {
  font-family: 'Lato';
  src:
    url(/fonts/lato/LatoLatin-Bold.woff2) format('woff2')
  ;
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Lato';
  src:
    url(/fonts/lato/LatoLatin-BoldItalic.woff2) format('woff2')
  ;
  font-style: italic;
  font-weight: 700;
}

