/*-------------------
       Compact
--------------------*/

/* Singular button - compact padding */
.compact.button {
  padding: var(--button-compact-padding);

  &.icon {
    padding: var(--button-compact-icon-padding);
  }
}

.compact.buttons {
  ::slotted(ui-button) {
    --button-padding: var(--button-compact-padding);
  }

  /* Icon buttons in group */
  &.icon {
    ::slotted(ui-button) {
      --button-padding: var(--button-compact-icon-padding);
    }
  }
}

/*-------------------
    Very Compact
--------------------*/

/* Singular button - very compact padding */
.very-compact.button {
  padding: var(--button-very-compact-padding);

  &.icon {
    padding: var(--button-very-compact-icon-padding);
  }
}

.very-compact.buttons {
  ::slotted(ui-button) {
    --button-padding: var(--button-very-compact-padding);
  }

  /* Icon buttons in group */
  &.icon {
    ::slotted(ui-button) {
      --button-padding: var(--button-very-compact-icon-padding);
    }
  }
}
