/*---------------
    Positive
----------------*/

/* Standard */
.positive.buttons .button,
.positive.button {
  background-color: var(--button-positive-color);
  color: var(--button-positive-text-color);
  text-shadow: var(--button-positive-text-shadow);
  background-image: var(--button-positive-background-image);

  &:hover {
    background-color: var(--button-positive-color-hover);
    color: var(--button-positive-text-color);
    text-shadow: var(--button-positive-text-shadow);
    box-shadow: var(--button-hover-box-shadow);
  }

  &:focus {
    background-color: var(--button-positive-color-focus);
    color: var(--button-positive-text-color);
    text-shadow: var(--button-positive-text-shadow);
    box-shadow: var(--button-focus-box-shadow);
  }

  &.pressed,
  &:active {
    background-color: var(--button-positive-color-down);
    color: var(--button-positive-text-color);
    text-shadow: var(--button-positive-text-shadow);
    box-shadow: var(--button-pressed-box-shadow);
  }

  &.active {
    background-color: var(--button-positive-color-active);
    color: var(--button-positive-text-color);
    text-shadow: var(--button-positive-text-shadow);
    box-shadow: var(--button-active-box-shadow);

    &:active {
      background-color: var(--button-positive-color-active);
      color: var(--button-positive-text-color);
      text-shadow: var(--button-positive-text-shadow);
      box-shadow: var(--button-active-box-shadow);
    }
  }
}

.positive.button {
  box-shadow: var(--button-positive-box-shadow);

  .active.button:active {
    background-color: var(--button-positive-color-active);
    color: var(--button-positive-text-color);
    text-shadow: var(--button-positive-text-shadow);
    box-shadow: var(--button-active-box-shadow);
  }
}

/*-----------------
  Subtle Positive
------------------*/

.subtle-positive.buttons .button,
.subtle-positive.button {
  background-color: var(--button-subtle-positive-color);
  color: var(--button-subtle-positive-text-color);
  text-shadow: var(--button-subtle-positive-text-shadow);
  background-image: var(--button-subtle-positive-background-image);

  &:hover {
    background-color: var(--button-subtle-positive-color-hover);
    color: var(--button-subtle-positive-text-color);
    text-shadow: var(--button-subtle-positive-text-shadow);
    box-shadow: var(--button-hover-box-shadow);
  }

  &:focus {
    background-color: var(--button-subtle-positive-color-focus);
    color: var(--button-subtle-positive-text-color);
    text-shadow: var(--button-subtle-positive-text-shadow);
    box-shadow: var(--button-focus-box-shadow);
  }

  &.pressed,
  &:active {
    background-color: var(--button-subtle-positive-color-down);
    color: var(--button-subtle-positive-text-color);
    text-shadow: var(--button-subtle-positive-text-shadow);
    box-shadow: var(--button-pressed-box-shadow);
  }

  &.active {
    background-color: var(--button-subtle-positive-color-active);
    background-image: var(--button-subtle-positive-background-image);
    color: var(--button-subtle-positive-text-color);
    text-shadow: var(--button-subtle-positive-text-shadow);
    box-shadow: var(--button-active-box-shadow);

    &:active {
      background-color: var(--button-subtle-positive-color-active);
      background-image: var(--button-subtle-positive-background-image);
      color: var(--button-subtle-positive-text-color);
      text-shadow: var(--button-subtle-positive-text-shadow);
      box-shadow: var(--button-active-box-shadow);
    }
  }

  & > .icon {
    color: var(--button-subtle-positive-text-color);
  }
}

.subtle-positive.button {
  box-shadow: var(--button-subtle-positive-box-shadow);

  .active.button:active {
    background-color: var(--button-subtle-positive-color-active);
    background-image: var(--button-subtle-positive-background-image);
    color: var(--button-subtle-positive-text-color);
    text-shadow: var(--button-subtle-positive-text-shadow);
    box-shadow: var(--button-active-box-shadow);
  }
}
