/*-------------------
        Sizing
--------------------*/

.mini.button {
  font-size: var(--button-mini);
}
.tiny.button {
  font-size: var(--button-tiny);
}
.small.button {
  font-size: var(--button-small);
}
/* Allow override */
:host {
  font-size: var(--button-medium);
}
.large.button {
  font-size: var(--button-large);
}
.big.button {
  font-size: var(--button-big);
}
.huge.button {
  font-size: var(--button-huge);
}
.massive.button {
  font-size: var(--button-massive);
}

.mini.buttons {
  --button-medium: var(--button-mini);
}
.tiny.buttons {
  --button-medium: var(--button-tiny);
}
.small.buttons {
  --button-medium: var(--button-small);
}
.large.buttons {
  --button-medium: var(--button-large);
}
.big.buttons {
  --button-medium: var(--button-big);
}
.huge.buttons {
  --button-medium: var(--button-huge);
}
.massive.buttons {
  --button-medium: var(--button-massive);
}
