/*---------------
    Vertical
----------------*/

.vertical.buttons {
  display: inline-flex;
  flex-direction: column;

  ::slotted(ui-button) {
    --button-width: 100%;
    --button-text-align: left;
  }
  ::slotted(ui-button:is(:first-child)) {
    --button-border-radius: var(--button-group-button-border-radius) var(--button-group-button-border-radius) 0 0;
  }
  ::slotted(ui-button:is(:last-child)) {
    --button-border-radius: 0 0 var(--button-group-button-border-radius) var(--button-group-button-border-radius);
  }

}
