
/*---------------
     Warning
----------------*/

/* Standard */
.warning.buttons .button,
.warning.button {
  background-color: var(--button-warning-color);
  color: var(--button-warning-text-color);
  text-shadow: var(--button-warning-text-shadow);
  background-image: var(--button-colored-background-image);

  &:hover {
    background-color: var(--button-warning-color-hover);
    color: var(--button-warning-text-color);
    text-shadow: var(--button-warning-text-shadow);
    box-shadow: var(--button-hover-box-shadow);
  }

  &:focus {
    background-color: var(--button-warning-color-focus);
    color: var(--button-warning-text-color);
    text-shadow: var(--button-warning-text-shadow);
    box-shadow: var(--button-focus-box-shadow);
  }

  &:active {
    background-color: var(--button-warning-color-down);
    color: var(--button-warning-text-color);
    text-shadow: var(--button-warning-text-shadow);
  }

  &.active {
    background-color: var(--button-warning-color-active);
    color: var(--button-warning-text-color);
    text-shadow: var(--button-warning-text-shadow);

    &:active {
      background-color: var(--button-warning-color-active);
      color: var(--button-warning-text-color);
      text-shadow: var(--button-warning-text-shadow);
    }
  }
}

.warning.button {
  box-shadow: var(--button-warning-box-shadow);

  .active.button:active {
    background-color: var(--button-warning-color-active);
    color: var(--button-warning-text-color);
    text-shadow: var(--button-warning-text-shadow);
  }
}

/*-----------------
  Subtle Warning
------------------*/

.subtle-warning.buttons .button,
.subtle-warning.button {
  background-color: var(--button-subtle-warning-color);
  color: var(--button-subtle-warning-text-color);
  text-shadow: var(--button-subtle-warning-text-shadow);
  background-image: var(--button-subtle-warning-background-image);

  &:hover {
    background-color: var(--button-subtle-warning-color-hover);
    color: var(--button-subtle-warning-text-color);
    text-shadow: var(--button-subtle-warning-text-shadow);
    box-shadow: var(--button-hover-box-shadow);
  }

  &:focus {
    background-color: var(--button-subtle-warning-color-focus);
    color: var(--button-subtle-warning-text-color);
    text-shadow: var(--button-subtle-warning-text-shadow);
    box-shadow: var(--button-focus-box-shadow);
  }

  &:active {
    background-color: var(--button-subtle-warning-color-down);
    color: var(--button-subtle-warning-text-color);
    text-shadow: var(--button-subtle-warning-text-shadow);
    box-shadow: var(--button-pressed-box-shadow);
  }

  &.active {
    background-color: var(--button-subtle-warning-color-active);
    background-image: var(--button-subtle-warning-background-image);
    color: var(--button-subtle-warning-text-color);
    text-shadow: var(--button-subtle-warning-text-shadow);
    box-shadow: var(--button-active-box-shadow);

    &:active {
      background-color: var(--button-subtle-warning-color-active);
      background-image: var(--button-subtle-warning-background-image);
      color: var(--button-subtle-warning-text-color);
      text-shadow: var(--button-subtle-warning-text-shadow);
      box-shadow: var(--button-active-box-shadow);
    }
  }

  & > .icon {
    color: var(--button-subtle-warning-text-color);
  }
}

.subtle-warning.button {
  box-shadow: var(--button-subtle-warning-box-shadow);

  .active.button:active {
    background-color: var(--button-subtle-warning-color-active);
    background-image: var(--button-subtle-warning-background-image);
    color: var(--button-subtle-warning-text-color);
    text-shadow: var(--button-subtle-warning-text-shadow);
    box-shadow: var(--button-active-box-shadow);
  }
}
