/* property declarations are required for use to use calc in style queries */
@property --three-column-flag {
  syntax: "<length>";
  inherits: true;
  initial-value: 1px;
}
@property --two-column-flag {
  syntax: "<length>";
  inherits: true;
  initial-value: 1px;
}
@property --one-column-flag {
  syntax: "<length>";
  inherits: true;
  initial-value: 0px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  padding: var(--spacing);
  font-weight: var(--bold);
  border: var(--border);
  box-shadow: var(--raised-shadow);
  border-radius: var(--border-radius);
  font-size: var(--large);
}

.card:hover {
  cursor: pointer;
  background-color: var(--standard-5););
  color: var(--primary-text-color);
}
