style>
  .tab {
    display: inline-block;
    border: 1px solid #DDD;
    border-radius: 3px;
  }
  .number {
    animation: alert 0.5s ease;
    will-change: background;
  }
  @keyframes alert {
    from {background-color: red;}
    to {background-color: white;}
  }
</style>
