:host {
  --icon-mini: var(--mini);
  --icon-tiny: var(--tiny);
  --icon-small: var(--small);
  --icon-medium: inherit;
  --icon-large: var(--large);
  --icon-big: var(--big);
  --icon-huge: var(--huge);
  --icon-massive: var(--massive);
}
