:host {
  --icon-mini: var(--mini);
  --icon-tiny: var(--tiny);
  --icon-small: var(--small);
  --icon-medium: inherit;
  --icon-large: var(--24px);
  --icon-big: var(--32px);
  --icon-huge: var(--48px);
  --icon-massive: var(--64px);
}
