.segment {

  &.emphasis {
    box-shadow: var(--inset-shadow);
  }

  &.primary {
    background: var(--segment-primary-background);
    color: var(--segment-primary-color);
  }

  &.secondary {
    background: var(--segment-secondary-background);
    color: var(--segment-secondary-color);
  }

  &.tertiary {
    background: var(--segment-tertiary-background);
    color: var(--segment-tertiary-color);
  }
}
