/*******************************
      Dark Theme - Interaction
*******************************/

html.dark,
.dark.theme.theme,
[dark][dark],
[theme][theme="dark"] {

  /* -------------------
          Text
  -------------------- */

  --text-color: var(--standard-90);
  --header-color: var(--standard-100);
  --primary-text-color: var(--primary-light-text-color);

  /* -------------------
         Links
  -------------------- */

  --link-color: oklch(0.74 0.15 249.95);
  --link-hover-color: oklch(0.7 0.18 250.31);

  /* -------------------
         Borders
  -------------------- */

  --solid-border-color: #222222;
  --border: 1px solid var(--border-color);
  --solid-border: 1px solid var(--solid-border-color);

}