.simulation {
  text-align: center;
  canvas {
    border: var(--border);
    border-radius: var(--border-radius);
  }
  p {
    font-size: 12px;
    color: var(--standard-30);
    user-select: none;
  }
}

