/*-------------------
       Floated
--------------------*/

:host(.right-floated),
:host([floated="right"]),
:host([right-floated]) {
  float: right;
  margin-right: var(--button-floated-margin);
}

:host(.left-floated),
:host([floated="left"]),
:host([left-floated]) {
  float: left;
  margin-left: var(--button-floated-margin);
}
