.list {
  display: flex;
  gap: var(--gap-xs);
  margin: var(--vertically-spaced);
}

.item {
  padding: var(--padding-xs);
  background: var(--standard-5);
  border: var(--border);
  border-radius: var(--border-radius);
  
  &.target {
    background-color: var(--primary-5);
    border-color: var(--primary-30);
    font-weight: bold;
  }
}