/*-------------------
       Compact
--------------------*/

.compact.buttons .button,
.compact.button {
  padding: var(--compact-vertical-padding) var(--compact-horizontal-padding)
    (var(--compact-vertical-padding) + var(--shadow-offset));
}
.compact.icon.buttons .button,
.compact.icon.button {
  padding: var(--compact-vertical-padding) var(--compact-vertical-padding)
    (var(--compact-vertical-padding) + var(--shadow-offset));
}
.compact.labeled.icon.buttons .button,
.compact.labeled.icon.button {
  padding: var(--compact-vertical-padding) (var(--compact-horizontal-padding) + var(--labeled-icon-width))
    (var(--compact-vertical-padding) + var(--shadow-offset));
}
