:host {
  display: block;

  --code-border-radius: var(--border-radius);
  --code-background: none;
  --code-padding: var(--padding);
  --code-border: var(--border);
}

ui-menu {
  display: none;
}


.segment {
  display: block;
  border-radius: var(--code-border-radius);
  background: var(--code-background);
  padding: var(--code-padding);
  border: var(--border);
}
.attached.segment {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}
.segment.transparent {
  background-color: transparent;
  border: none;
  padding: 0rem;
}


/*******************************
         Code Samples
*******************************/

ui-icon[copy] {
  float: right;
  margin: -5px;
  padding: 5px;
  color: var(--standard-40);
}
codeSample:hover {
  ui-icon[copy] {
    color: var(--standard-70);
  }
}


code {
  min-width: 500px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
pre, code {
  font-family: var(--code-font);
  line-height: var(--line-height);
}

code .line {
  font-size: var(--code-font-size);
}

/* Code */
code pre {
  display: block;
  background-color: transparent !important;
  margin: 0em 0em;
  padding: 0em;
  font-size: 15px;
}
