ui-menu {
  display: none;
}


.segment {
  display: block;
  border-radius: var(--border-radius);
  padding: 1rem;
  border: var(--border);
}
.attached.segment {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}
.segment.transparent {
  background-color: transparent;
  border: none;
  padding: 0rem;
}


/*******************************
         Code Samples
*******************************/

ui-icon[copy] {
  float: right;
  color: rgba(0, 0, 0, 0.2);
}
codeSample:hover {
  ui-icon[copy] {
    color: rgba(0, 0, 0, 0.7);
  }
}

ui-icon[copy]:hover {
  color: rgba(0, 0, 0, 1);
}

code {
  min-width: 500px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/* Code */
code pre {
  display: block;
  background-color: transparent !important;
  margin: 0em 0em;
  padding: 0em;
}
