:host {
  --color-option-size: 30px;
  --color-preview-size: 100px;

  display: block;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  padding: var(--padding);
  border: var(--border);
  border-radius: var(--border-radius);
  background: var(--subtle-gradient);
  box-shadow: var(--subtle-inset-shadow);

  h4 {
    margin: 0rem 0rem 10px;
    color: var(--header-color);
    font-size: var(--h4);
    font-weight: var(--header-font-weight);
  }

  .preview {
    width: var(--color-preview-size);
    height: var(--color-preview-size);
    border-radius: var(--circular-radius);
    margin: 0 auto 20px;
    box-shadow: 0 0 0 1px var(--border-color);
    transition: box-shadow var(--duration) var(--easing);
  }

  .options {

    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 20px;

    .option {
      width: var(--color-option-size);
      height: var(--color-option-size);
      border-radius: var(--circular-radius);
      cursor: pointer;
      transition: transform var(--duration) var(--easing), box-shadow var(--duration) var(--easing);
      box-shadow: var(--subtle-shadow);

      &:hover {
        transform: scale(1.1);
        box-shadow: var(--floating-shadow);
      }
    }
  }

  .custom {

    padding: var(--padding);
    border: var(--border);
    border-radius: var(--border-radius);
    background: var(--inverted-50);
    box-shadow: var(--subtle-inset-shadow);

    .custom-color {
      display: block;
      width: 100%;
      height: 40px;
      margin-bottom: 10px;
      cursor: pointer;
      border: var(--border);
      border-radius: var(--border-radius);
    }

    .info {
      margin-top: 20px;
      padding: 10px;
      border: var(--border);
      border-radius: var(--top-attached-border-radius);
      text-align: center;
      color: var(--standard-40);

      b {
        color: var(--standard-100);
      }
    }
  }

}
