body {
  padding: var(--padding);
  font-family: var(--page-font);

  h3 {
    margin: 0 0 var(--margin-s);
    font-size: var(--title-m);
    font-weight: var(--bold);
    color: var(--header-color);
  }

  select {
    float: right;
    font-family: inherit;
    font-size: var(--text-m);
    padding: var(--padding-3xs) var(--padding-xs);
    border: var(--border);
    border-radius: var(--border-radius);
    background: var(--page-background);
    color: var(--text-color);
  }

  .icons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--size-3xl), 1fr));
    gap: var(--gap-m);
    font-size: var(--size-3xl);
    margin-bottom: var(--margin-l);
  }

  .brands {
    font-size: var(--massive);
    grid-template-columns: repeat(auto-fill, minmax(var(--massive), 1fr));
  }
}
