:host {
  display: inline-block;
  height: 1em;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-align: center;
  margin: 0em var(--icon-distance-from-text) 0em 0em;
  font-size: inherit;
  vertical-align: text-top;
  /* breaks layout in chrome
  content-visibility: auto;
  */
  contain-intrinsic-size: 1em;
}
.icon {
  display: inherit;
  vertical-align: top;
  opacity: var(--icon-opacity);
  width: var(--icon-width);
  height: var(--icon-height);
  backface-visibility: hidden;
  speak: none;

  /* Mask technique (default) */
  background: var(--icon-bg, currentColor);
  mask-image: var(--icon-mask, none);
  mask-size: 100% 100%;
  mask-repeat: no-repeat;

  /* Background image technique (colored icons) */
  background-image: var(--icon-bg-image, none);
  background-size: contain;
  background-repeat: no-repeat;

  /* Font technique */
  font-family: var(--icon-font, inherit);
}
.icon::before {
  content: var(--icon-glyph, '');
}
