.counter {
  padding: var(--padding-xs);
  background: var(--standard-5);
  border: var(--border);
  border-radius: var(--border-radius);
  margin: var(--vertically-spaced);
  text-align: center;
  font-weight: bold;
}

ui-button {
  margin: var(--vertically-spaced);
  margin-right: 10px;
}