.horizontal {
  flex-direction: var(--card-horizontal-flex-direction);
  gap: var(--card-horizontal-gap);
  text-align: left;

  .icon * {
    font-size: var(--massive);
  }
  .header {
    font-size: var(--large);
  }


  :first-child {
    border-radius: inherit;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  :last-child {
    border-radius: inherit;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
