:root {
  --icon-mini: var(--10px);
  --icon-tiny: var(--11px);
  --icon-small: var(--13px);
  --icon-medium: var(--medium);
  --icon-large: var(--24px);
  --icon-big: var(--32px);
  --icon-huge: var(--48px);
  --icon-massive: var(--64px);
}
