:root {
  --button-attached-offset: -1px;
  --button-attached-border-shadow: 0px 0px 0px 1px var(--button-border-color);
  --button-attached-box-shadow:
    var(--button-attached-border-shadow),
    var(--button-shadow-box-shadow)
  ;
  --button-attached-horizontal-padding: var(--relative12px);
  --button-attached-z-index: 2;
}
