ui-button {

  /* Colors */
  --colored-background-image: none;
  --colored-box-shadow: var(--shadow-box-shadow);

  /* Colored */
  --brown-text-color: var(--inverted-text-color);
  --brown-text-shadow: var(--inverted-text-shadow);
  --red-text-color: var(--inverted-text-color);
  --red-text-shadow: var(--inverted-text-shadow);
  --orange-text-color: var(--inverted-text-color);
  --orange-text-shadow: var(--inverted-text-shadow);
  --green-text-color: var(--inverted-text-color);
  --green-text-shadow: var(--inverted-text-shadow);
  --blue-text-color: var(--inverted-text-color);
  --blue-text-shadow: var(--inverted-text-shadow);
  --violet-text-color: var(--inverted-text-color);
  --violet-text-shadow: var(--inverted-text-shadow);
  --purple-text-color: var(--inverted-text-color);
  --purple-text-shadow: var(--inverted-text-shadow);
  --pink-text-color: var(--inverted-text-color);
  --pink-text-shadow: var(--inverted-text-shadow);
  --black-text-color: var(--inverted-text-color);
  --black-text-shadow: var(--inverted-text-shadow);
  --olive-text-color: var(--inverted-text-color);
  --olive-text-shadow: var(--inverted-text-shadow);
  --yellow-text-color: var(--inverted-text-color);
  --yellow-text-shadow: var(--inverted-text-shadow);
  --teal-text-color: var(--inverted-text-color);
  --teal-text-shadow: var(--inverted-text-shadow);
  --grey-text-color: var(--inverted-text-color);
  --grey-text-shadow: var(--inverted-text-shadow);

  /* Inverted */
  --light-brown-text-color: var(--inverted-text-color);
  --light-brown-text-shadow: var(--inverted-text-shadow);
  --light-red-text-color: var(--inverted-text-color);
  --light-red-text-shadow: var(--inverted-text-shadow);
  --light-orange-text-color: var(--inverted-text-color);
  --light-orange-text-shadow: var(--inverted-text-shadow);
  --light-green-text-color: var(--inverted-text-color);
  --light-green-text-shadow: var(--inverted-text-shadow);
  --light-blue-text-color: var(--inverted-text-color);
  --light-blue-text-shadow: var(--inverted-text-shadow);
  --light-violet-text-color: var(--inverted-text-color);
  --light-violet-text-shadow: var(--inverted-text-shadow);
  --light-purple-text-color: var(--inverted-text-color);
  --light-purple-text-shadow: var(--inverted-text-shadow);
  --light-pink-text-color: var(--inverted-text-color);
  --light-pink-text-shadow: var(--inverted-text-shadow);
  --light-black-text-color: var(--inverted-text-color);
  --light-black-text-shadow: var(--inverted-text-shadow);
  --light-olive-text-color: var(--text-color);
  --light-olive-text-shadow: var(--text-shadow);
  --light-yellow-text-color: var(--text-color);
  --light-yellow-text-shadow: var(--text-shadow);
  --light-teal-text-color: var(--text-color);
  --light-teal-text-shadow: var(--text-shadow);
  --light-grey-text-color: var(--text-color);
  --light-grey-text-shadow: var(--text-shadow);

}
