:root {

  /* Colors */
  --button-colored-background-image: none;
  --button-colored-box-shadow: var(--button-box-shadow);

  /* Colored */
  --button-brown-text-color: var(--button-inverted-text-color);
  --button-brown-text-shadow: var(--button-inverted-text-shadow);
  --button-red-text-color: var(--button-inverted-text-color);
  --button-red-text-shadow: var(--button-inverted-text-shadow);
  --button-orange-text-color: var(--button-inverted-text-color);
  --button-orange-text-shadow: var(--button-inverted-text-shadow);
  --button-green-text-color: var(--button-inverted-text-color);
  --button-green-text-shadow: var(--button-inverted-text-shadow);
  --button-blue-text-color: var(--button-inverted-text-color);
  --button-blue-text-shadow: var(--button-inverted-text-shadow);
  --button-violet-text-color: var(--button-inverted-text-color);
  --button-violet-text-shadow: var(--button-inverted-text-shadow);
  --button-purple-text-color: var(--button-inverted-text-color);
  --button-purple-text-shadow: var(--button-inverted-text-shadow);
  --button-pink-text-color: var(--button-inverted-text-color);
  --button-pink-text-shadow: var(--button-inverted-text-shadow);
  --button-black-text-color: var(--button-inverted-text-color);
  --button-black-text-shadow: var(--button-inverted-text-shadow);
  --button-olive-text-color: var(--button-inverted-text-color);
  --button-olive-text-shadow: var(--button-inverted-text-shadow);
  --button-yellow-text-color: var(--button-inverted-text-color);
  --button-yellow-text-shadow: var(--button-inverted-text-shadow);
  --button-teal-text-color: var(--button-inverted-text-color);
  --button-teal-text-shadow: var(--button-inverted-text-shadow);
  --button-grey-text-color: var(--button-inverted-text-color);
  --button-grey-text-shadow: var(--button-inverted-text-shadow);

  /* Inverted */
  --button-light-brown-text-color: var(--button-inverted-text-color);
  --button-light-brown-text-shadow: var(--button-inverted-text-shadow);
  --button-light-red-text-color: var(--button-inverted-text-color);
  --button-light-red-text-shadow: var(--button-inverted-text-shadow);
  --button-light-orange-text-color: var(--button-inverted-text-color);
  --button-light-orange-text-shadow: var(--button-inverted-text-shadow);
  --button-light-green-text-color: var(--button-inverted-text-color);
  --button-light-green-text-shadow: var(--button-inverted-text-shadow);
  --button-light-blue-text-color: var(--button-inverted-text-color);
  --button-light-blue-text-shadow: var(--button-inverted-text-shadow);
  --button-light-violet-text-color: var(--button-inverted-text-color);
  --button-light-violet-text-shadow: var(--button-inverted-text-shadow);
  --button-light-purple-text-color: var(--button-inverted-text-color);
  --button-light-purple-text-shadow: var(--button-inverted-text-shadow);
  --button-light-pink-text-color: var(--button-inverted-text-color);
  --button-light-pink-text-shadow: var(--button-inverted-text-shadow);
  --button-light-black-text-color: var(--button-inverted-text-color);
  --button-light-black-text-shadow: var(--button-inverted-text-shadow);
  --button-light-olive-text-color: var(--button-text-color);
  --button-light-olive-text-shadow: var(--button-text-shadow);
  --button-light-yellow-text-color: var(--button-text-color);
  --button-light-yellow-text-shadow: var(--button-text-shadow);
  --button-light-teal-text-color: var(--button-text-color);
  --button-light-teal-text-shadow: var(--button-text-shadow);
  --button-light-grey-text-color: var(--button-text-color);
  --button-light-grey-text-shadow: var(--button-text-shadow);

}
