ui-button {
  --inverted-border-size: 2px;
  --inverted-text-color: var(--white);
  --inverted-text-hover-color: var(--hover-color);
  --inverted-group-button-offset: 0px 0px 0px calc(var(--inverted-border-size) * -1);
  --inverted-vertical-group-button-offset: 0px 0px calc( var(--inverted-border-size) * -1) 0px;
}
