ui-button {
  --positive-background-image: var(--colored-background-image);
  --positive-text-color: var(--inverted-text-color);
  --positive-text-shadow: var(--inverted-text-shadow);
  --positive-box-shadow: var(--colored-box-shadow);
}
