:root {

  --button-warning-color: var(--warning-color);
  --button-warning-background-image: var(--button-colored-background-image);
  --button-warning-text-color: var(--button-inverted-text-color);
  --button-warning-text-shadow: var(--button-inverted-text-shadow);
  --button-warning-box-shadow: var(--button-colored-box-shadow);

  --button-warning-color-hover: oklch(from var(--button-warning-color) calc(l + var(--hover-lightness)) c h);
  --button-warning-color-focus: oklch(from var(--button-warning-color) calc(l + var(--focus-lightness)) c h);
  --button-warning-color-down: oklch(from var(--button-warning-color) calc(l + var(--down-lightness)) c h);
  --button-warning-color-active: oklch(from var(--button-warning-color) calc(l + var(--active-lightness)) c h);

  /* Subtle Positive */
  --button-subtle-warning-color: #FFFDF5;
  --button-subtle-warning-background-image: var(--button-colored-background-image);
  --button-subtle-warning-text-color: rgba(135, 105, 23, 0.9);
  --button-subtle-warning-text-shadow: var(--button-text-shadow);
  --button-subtle-warning-box-shadow: var(--button-box-shadow);
  
  --button-subtle-warning-color-hover: #FFF5DD;
  --button-subtle-warning-color-focus: #FFF5DD;
  --button-subtle-warning-color-down: #FFF5DD;
  --button-subtle-warning-color-active: #FFFDEA;
  
}