.fields {
  display: flex;
  flex-direction: column;
  gap: var(--8px);
  max-width: 250px;
}

input {
  padding: var(--8px) var(--12px);
  border: var(--border);
  border-radius: var(--border-radius);

  &:focus {
    outline: none;
    border-color: var(--primary-border-color);
  }
}
