/*-------------------
      Menu Item
--------------------*/
:host {
  align-self: center;
}

.item {
  cursor: pointer;
  background: var(--menu-item-background);
  margin: var(--menu-item-margin);
  padding: var(--menu-item-padding);
  border: var(--menu-item-border);
  box-shadow: var(--menu-item-box-shadow);
  border-radius: var(--menu-item-border-radius);
  text-align: var(--menu-item-text-align);
}

.item:hover,
.item.hovered {
  background: var(--menu-item-hover-background);
  border: var(--menu-item-hover-border);
  box-shadow: var(--menu-item-hover-box-shadow);
  border-radius: var(--menu-item-hover-border-radius);
}

.active.item {
  cursor: default;
  background: var(--menu-item-active-background);
  border: var(--menu-item-active-border);
  box-shadow: var(--menu-item-active-box-shadow);
  border-radius: var(--menu-item-active-border-radius);
}
