/*-------------------
       Centered
--------------------*/

.centered.spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
  gap: var(--spinner-centered-text-gap);
  --spinner-size: var(--spinner-centered-size);
  --spinner-thickness: var(--spinner-centered-thickness);
  --spinner-speed: var(--spinner-centered-speed);
}
