/*******************************
            Groups
*******************************/

.buttons {
  display: inline-flex;
  flex-direction: row;
  font-size: 0em;
  vertical-align: baseline;
  margin: var(--button-vertical-margin) var(--button-horizontal-margin) 0em 0em;
}
.buttons:not(.basic):not(.inverted) {
  box-shadow: var(--button-group-box-shadow);
}


/* Standard Group */
:host([grouped]) .button {
  flex: 1 0 auto;
  border-radius: 0em;
  margin: var(--button-group-button-offset);
}
:host([grouped]) > .button:not(.basic):not(.inverted),
.buttons:not(.basic):not(.inverted) > .button {
  box-shadow: var(--button-group-button-box-shadow);
}

:host([first]) .button {
  border-left: none;
  margin-left: 0em;
  border-top-left-radius: var(--button-border-radius);
  border-bottom-left-radius: var(--button-border-radius);
}
:host([last]) .button {
  border-top-right-radius: var(--button-border-radius);
  border-bottom-right-radius: var(--button-border-radius);
}
