.another.example {
  margin-top: 4.5rem;
}

.example {
  clear: both;
}

.example::after {
  content: "";
  clear: both;
  display: table;
}

a.link {
  position: relative;
  z-index: 4;
  cursor: pointer;
  float: right;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.2);
  top: -3rem;
}
a.link:hover {
  color: rgba(0, 0, 0, 1);
}
a.link ~ a.link {
  margin-right: 0.5rem;
}

.example {
  margin: 2rem 0rem;
}

h3 {
  margin: 0rem 0rem 0.5rem;
  font-size: 16px;
}

p.description {
  margin: 0.15rem 0rem 1rem;
  font-size: 14px;
  font-weight: normal;
  /*
  transition: color 0.3s ease;
  color: rgba(0, 0, 0, 0);
  height: 0px;
  */
}

.top.segment {
  position: relative;
  z-index: 3;
  border-radius: var(--border-radius) var(--border-radius) 0px 0px;
  border: 1px solid transparent;
  padding: 0rem;
  transition: all 0.2s ease;
}
/* clearfix */
.top.segment:after {
  content: "";
  display: block;
  height: 0px;
  clear: both;
  visibility: hidden;
}
.bottom.segment {
  display: none;
  position: relative;
  z-index: 2;
  padding: 1rem;
  border-radius: 0px 0px var(--border-radius) var(--border-radius);
  border: 1px solid transparent;
  border-top: none;
  transform-origin: top center;
}

.label {
  margin: -1rem -1rem 1rem;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  background-color: rgba(144, 144, 144, 0.08);
  font-size: 11px;
  box-shadow: 0px -3px 6px -3px rgba(0, 0, 0, 0.18) inset;
  font-weight: bold;
}

h3 a.link {
  top: 0rem;
}
h3:hover a.link {
  color: rgba(0, 0, 0, 0.7);
}
h3:hover a.link:hover {
  color: rgba(0, 0, 0, 1);
}

.visible.example {
  h3 p {
    height: auto;
    color: rgba(0, 0, 0, 0.6);
  }
  .top.segment {
    background: #FAFAFA url(/images/bg2.jpg) repeat;
    border: var(--border);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.04);
    padding: 1rem;
  }
  .bottom.segment {
    display: block;
    animation-name: fadeInDown;
    animation-duration: 0.3s;
    animation-easing: ease;
    border: var(--border);
    border-top: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-40%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes zoomIn {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes zoomOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(0);
  }
}

@keyframes dropIn {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes swingInX {
  0% {
    transform: perspective(1000px) rotateX(90deg);
    opacity: 0;
  }
  40% {
    transform: perspective(1000px) rotateX(-30deg);
    opacity: 1;
  }
  60% {
    transform: perspective(1000px) rotateX(15deg);
  }
  80% {
    transform: perspective(1000px) rotateX(-7.5deg);
  }
  100% {
    transform: perspective(1000px) rotateX(0deg);
  }
}

