:host {
  display: block;
  container: component / inline-size;
}

:host(.active) {
  opacity: 1;
  z-index: 10;
}

.modal {
  background: var(--standard-5);
  padding: var(--padding);
  border-radius: var(--border-radius);
  box-shadow: var(--floating-shadow);
  
  .header {
    font-weight: var(--bold);
    margin-bottom: var(--margin-xs);
  }
}

@container component (max-width: 600px) {
  .modal {
    padding: var(--padding-xs);
  }
}