/*******************************
            Groups
*******************************/

.buttons {
  display: inline-flex;
  flex-direction: row;
  font-size: 0em;
  vertical-align: baseline;
  margin: var(--button-vertical-margin) var(--button-horizontal-margin) 0em 0em;
}
.buttons:not(.basic):not(.inverted) {
  box-shadow: var(--button-group-box-shadow);
}
