.profile {
  border: var(--border);
  background: var(--standard-5);
  margin: var(--vertically-spaced);
  padding: var(--compact-spacing);
  font-weight: bold;

  &.red b {
    color: var(--red-text-color);
  }
  &.blue b {
    color: var(--blue-text-color);
  }
}
