.case {
  margin-bottom: var(--margin-l);

  h4 {
    font-size: var(--text-s);
    font-weight: var(--bold);
    color: var(--muted-text-color);
    margin: 0 0 var(--margin-xs);
  }
}
.boxes {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    padding: var(--padding-xs) var(--padding-s);
    background: var(--blue-background-color);
    color: var(--blue-text-color);
    border: var(--blue-border);
  }
}
.box {
  display: inline-block;
  border: var(--blue-border);
}
.box.padded {
  padding: var(--padding-xs) var(--padding-m);
}
.box.blue {
  background: var(--blue-background-color);
  color: var(--blue-text-color);
}
