.demo {
  padding: var(--compact-spacing);
  background: var(--standard-5);
  border: var(--border);
  border-radius: var(--border-radius);
  margin: var(--vertically-spaced);
  text-align: center;
  font-weight: bold;
}

.demo.success {
  background: var(--positive-background);
  color: var(--positive-text);
  border-color: var(--positive-border);
}