.original {
  padding: var(--padding);
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius);
  background: var(--primary-color);
  color: white;
  margin: 20px 0;
  
  h3 {
    margin: 0 0 10px 0;
  }
  
  p {
    margin: 10px 0;
  }
  
}

.controls {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.clones {
  min-height: 100px;
  border: 2px dashed var(--standard-20);
  border-radius: var(--border-radius);
  padding: var(--padding);
  background: var(--standard-5);
  
  .original {
    border-color: var(--success-color);
    background: var(--success-color);
    margin: 10px 0;
    
    &:first-child {
      margin-top: 0;
    }
  }
}