.box {
  padding: var(--padding);
  margin: var(--vertically-spaced);
  background: var(--standard-5);
  border: var(--border);
  border-radius: var(--border-radius);
}

.card {
  display: inline-block;
  padding: var(--padding);
  margin: var(--vertically-spaced);
  background: var(--standard-5);
  border: var(--border);
  border-radius: var(--border-radius);
}


pre {
  background: var(--standard-5);
  padding: 10px;
}
