/*******************************
            Content
*******************************/

:host {
  --mobile-menu-background-color: oklch(0.17 0.01 234.61);
  --mobile-menu-background: var(--mobile-menu-background-color) var(--subtle-angled-gradient);
  --mobile-menu-width: 100%;
  --mobile-menu-border-radius: 10px 10px 0px 0px;
  --mobile-menu-color: var(--white);
  --mobile-menu-border: none;
  --mobile-menu-box-shadow: none;
  --mobile-menu-padding: 10px 20px 20px;

  --mobile-menu-max-height: 80vh;

  --mobile-menu-dimmer-background: var(--black-70);

}

nav-menu {
  --nav-menu-title-font-size: 15px;
  --nav-menu-title-color: var(--mobile-menu-color);
  --nav-menu-title-padding: 10px 0px;
  --nav-menu-dropdown-icon-font-size: 16px;
}

* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: var(--scrollbar-width);
  height: var(--scrollbar-height);
}
::-webkit-scrollbar-track {
  background: var(--track-background);
  border-radius: var(--track-border-radius);
}
::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: var(--thumb-border-radius);
  background: var(--thumb-background);
  transition: var(--thumb-transition);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: var(--thumb-inactive-background);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--thumb-hover-background);
}

dialog {
  position: fixed;
  top: auto;
  bottom: 0px;
  height: max-content;
  box-sizing: border-box;
  margin: auto 0;
  padding: 0;
  outline: none;
  border: none;
  max-width: none;
  max-height: none;
  background-color: transparent;
  flex-direction: row;
  overflow: hidden;
  background: var(--mobile-menu-background);
  color: var(--mobile-menu-color);
  box-shadow: var(--mobile-menu-box-shadow);
  width: var(--mobile-menu-width);
  border-radius: var(--mobile-menu-border-radius);
  border: var(--mobile-menu-border);
  box-shadow: var(--mobile-menu-box-shadow);
  z-index: var(--overlay-layer);

  .layer {
    display: block;
    max-height: fit-content;
    contain: layout paint;
    backface-visibility: hidden;
    transform: translateZ(0);
  }

  .container {
    display: flex;
    width: 200vw;
    overflow: visible;
    transform: translate3d(-50%, 0, 0);

    &.animate {
      transition: transform 0.35s cubic-bezier(0.33, 0.01, 0, 1);
      &.left {
        transform: translate3d(0%, 0, 0);
      }
      &.right {
        transform: translate3d(-100%, 0, 0);
      }
    }
  }


  .content {
    width: 100vw;
    flex: 0 0 auto;

    .header {
      font-size: 12px;
      padding: 1rem 2rem 0;
      color: var(--white-50);
      font-weight: bold;
      text-transform: uppercase;
    }

    nav-menu {
      max-height: var(--mobile-menu-max-height);
      overflow: auto;
      margin: var(--mobile-menu-padding);
    }

    .return {
      cursor: pointer;
      border-top: 1px solid var(--white-5);
      padding: 1rem 0.5rem;
      font-size: 14px;
      background: var(--black-10);
      color: var(--white-60);
    }
    .return:hover {
      color: var(--white);
    }
  }


}
dialog {
  transform: translateY(100%);
  transition: transform 0.3s ease;
}
dialog[open] {
  transform: translateY(0%);
}
@starting-style {
  dialog[open] {
    transform: translateY(100%);
  }
}

/* Backdrop */
dialog::backdrop {
  background-color: rgb(0 0 0 / 0%);
  transition: 0.3s background-color ease;
}
dialog[open]::backdrop {
  background: var(--mobile-menu-dimmer-background);
}
@starting-style {
  dialog[open]::backdrop {
    background: rgb(0 0 0 / 0%);
  }
}
