h2 {
  margin: var(--padding-l) 0 var(--padding-xs);
  color: var(--muted-text-color);
  font-size: var(--text-s);
  font-weight: var(--bold);
  text-transform: uppercase;

  &:first-child {
    margin-top: 0;
  }
}
