/* Feather Icons (Mask-based) */
:root {
  --icon-activity: url('./activity.svg');
  --icon-airplay: url('./airplay.svg');
  --icon-alert-circle: url('./alert-circle.svg');
  --icon-alert-octagon: url('./alert-octagon.svg');
  --icon-alert-triangle: url('./alert-triangle.svg');
  --icon-align-center: url('./align-center.svg');
  --icon-align-justify: url('./align-justify.svg');
  --icon-align-left: url('./align-left.svg');
  --icon-align-right: url('./align-right.svg');
  --icon-anchor: url('./anchor.svg');
  --icon-aperture: url('./aperture.svg');
  --icon-archive: url('./archive.svg');
  --icon-arrow-down-circle: url('./arrow-down-circle.svg');
  --icon-arrow-down-left: url('./arrow-down-left.svg');
  --icon-arrow-down-right: url('./arrow-down-right.svg');
  --icon-arrow-down: url('./arrow-down.svg');
  --icon-arrow-left-circle: url('./arrow-left-circle.svg');
  --icon-arrow-left: url('./arrow-left.svg');
  --icon-arrow-right-circle: url('./arrow-right-circle.svg');
  --icon-arrow-right: url('./arrow-right.svg');
  --icon-arrow-up-circle: url('./arrow-up-circle.svg');
  --icon-arrow-up-left: url('./arrow-up-left.svg');
  --icon-arrow-up-right: url('./arrow-up-right.svg');
  --icon-arrow-up: url('./arrow-up.svg');
  --icon-at-sign: url('./at-sign.svg');
  --icon-award: url('./award.svg');
  --icon-bar-chart-2: url('./bar-chart-2.svg');
  --icon-bar-chart: url('./bar-chart.svg');
  --icon-battery-charging: url('./battery-charging.svg');
  --icon-battery: url('./battery.svg');
  --icon-bell-off: url('./bell-off.svg');
  --icon-bell: url('./bell.svg');
  --icon-bluetooth: url('./bluetooth.svg');
  --icon-bold: url('./bold.svg');
  --icon-bookmark: url('./bookmark.svg');
  --icon-book-open: url('./book-open.svg');
  --icon-book: url('./book.svg');
  --icon-box: url('./box.svg');
  --icon-briefcase: url('./briefcase.svg');
  --icon-calendar: url('./calendar.svg');
  --icon-camera-off: url('./camera-off.svg');
  --icon-camera: url('./camera.svg');
  --icon-cast: url('./cast.svg');
  --icon-check-circle: url('./check-circle.svg');
  --icon-check-square: url('./check-square.svg');
  --icon-check: url('./check.svg');
  --icon-chevron-down: url('./chevron-down.svg');
  --icon-chevron-left: url('./chevron-left.svg');
  --icon-chevron-right: url('./chevron-right.svg');
  --icon-chevrons-down: url('./chevrons-down.svg');
  --icon-chevrons-left: url('./chevrons-left.svg');
  --icon-chevrons-right: url('./chevrons-right.svg');
  --icon-chevrons-up: url('./chevrons-up.svg');
  --icon-chevron-up: url('./chevron-up.svg');
  --icon-chrome: url('./chrome.svg');
  --icon-circle: url('./circle.svg');
  --icon-clipboard: url('./clipboard.svg');
  --icon-clock: url('./clock.svg');
  --icon-cloud-drizzle: url('./cloud-drizzle.svg');
  --icon-cloud-lightning: url('./cloud-lightning.svg');
  --icon-cloud-off: url('./cloud-off.svg');
  --icon-cloud-rain: url('./cloud-rain.svg');
  --icon-cloud-snow: url('./cloud-snow.svg');
  --icon-cloud: url('./cloud.svg');
  --icon-codepen: url('./codepen.svg');
  --icon-codesandbox: url('./codesandbox.svg');
  --icon-code: url('./code.svg');
  --icon-coffee: url('./coffee.svg');
  --icon-columns: url('./columns.svg');
  --icon-command: url('./command.svg');
  --icon-compass: url('./compass.svg');
  --icon-copy: url('./copy.svg');
  --icon-corner-down-left: url('./corner-down-left.svg');
  --icon-corner-down-right: url('./corner-down-right.svg');
  --icon-corner-left-down: url('./corner-left-down.svg');
  --icon-corner-left-up: url('./corner-left-up.svg');
  --icon-corner-right-down: url('./corner-right-down.svg');
  --icon-corner-right-up: url('./corner-right-up.svg');
  --icon-corner-up-left: url('./corner-up-left.svg');
  --icon-corner-up-right: url('./corner-up-right.svg');
  --icon-cpu: url('./cpu.svg');
  --icon-credit-card: url('./credit-card.svg');
  --icon-crop: url('./crop.svg');
  --icon-crosshair: url('./crosshair.svg');
  --icon-database: url('./database.svg');
  --icon-delete: url('./delete.svg');
  --icon-disc: url('./disc.svg');
  --icon-divide-circle: url('./divide-circle.svg');
  --icon-divide-square: url('./divide-square.svg');
  --icon-divide: url('./divide.svg');
  --icon-dollar-sign: url('./dollar-sign.svg');
  --icon-download-cloud: url('./download-cloud.svg');
  --icon-download: url('./download.svg');
  --icon-dribbble: url('./dribbble.svg');
  --icon-droplet: url('./droplet.svg');
  --icon-edit-2: url('./edit-2.svg');
  --icon-edit-3: url('./edit-3.svg');
  --icon-edit: url('./edit.svg');
  --icon-external-link: url('./external-link.svg');
  --icon-eye-off: url('./eye-off.svg');
  --icon-eye: url('./eye.svg');
  --icon-facebook: url('./facebook.svg');
  --icon-fast-forward: url('./fast-forward.svg');
  --icon-feather: url('./feather.svg');
  --icon-figma: url('./figma.svg');
  --icon-file-minus: url('./file-minus.svg');
  --icon-file-plus: url('./file-plus.svg');
  --icon-file: url('./file.svg');
  --icon-file-text: url('./file-text.svg');
  --icon-film: url('./film.svg');
  --icon-filter: url('./filter.svg');
  --icon-flag: url('./flag.svg');
  --icon-folder-minus: url('./folder-minus.svg');
  --icon-folder-plus: url('./folder-plus.svg');
  --icon-folder: url('./folder.svg');
  --icon-framer: url('./framer.svg');
  --icon-frown: url('./frown.svg');
  --icon-gift: url('./gift.svg');
  --icon-git-branch: url('./git-branch.svg');
  --icon-git-commit: url('./git-commit.svg');
  --icon-github: url('./github.svg');
  --icon-gitlab: url('./gitlab.svg');
  --icon-git-merge: url('./git-merge.svg');
  --icon-git-pull-request: url('./git-pull-request.svg');
  --icon-globe: url('./globe.svg');
  --icon-grid: url('./grid.svg');
  --icon-hard-drive: url('./hard-drive.svg');
  --icon-hash: url('./hash.svg');
  --icon-headphones: url('./headphones.svg');
  --icon-heart: url('./heart.svg');
  --icon-help-circle: url('./help-circle.svg');
  --icon-hexagon: url('./hexagon.svg');
  --icon-home: url('./home.svg');
  --icon-image: url('./image.svg');
  --icon-inbox: url('./inbox.svg');
  --icon-info: url('./info.svg');
  --icon-instagram: url('./instagram.svg');
  --icon-italic: url('./italic.svg');
  --icon-key: url('./key.svg');
  --icon-layers: url('./layers.svg');
  --icon-layout: url('./layout.svg');
  --icon-life-buoy: url('./life-buoy.svg');
  --icon-linkify-2: url('./link-2.svg');
  --icon-linkedin: url('./linkedin.svg');
  --icon-linkify: url('./link.svg');
  --icon-list: url('./list.svg');
  --icon-loader: url('./loader.svg');
  --icon-lock: url('./lock.svg');
  --icon-log-in: url('./log-in.svg');
  --icon-log-out: url('./log-out.svg');
  --icon-mail: url('./mail.svg');
  --icon-map-pin: url('./map-pin.svg');
  --icon-map: url('./map.svg');
  --icon-maximize-2: url('./maximize-2.svg');
  --icon-maximize: url('./maximize.svg');
  --icon-meh: url('./meh.svg');
  --icon-menu: url('./menu.svg');
  --icon-message-circle: url('./message-circle.svg');
  --icon-message-square: url('./message-square.svg');
  --icon-mic-off: url('./mic-off.svg');
  --icon-mic: url('./mic.svg');
  --icon-minimize-2: url('./minimize-2.svg');
  --icon-minimize: url('./minimize.svg');
  --icon-minus-circle: url('./minus-circle.svg');
  --icon-minus-square: url('./minus-square.svg');
  --icon-minus: url('./minus.svg');
  --icon-monitor: url('./monitor.svg');
  --icon-moon: url('./moon.svg');
  --icon-more-horizontal: url('./more-horizontal.svg');
  --icon-more-vertical: url('./more-vertical.svg');
  --icon-mouse-pointer: url('./mouse-pointer.svg');
  --icon-move: url('./move.svg');
  --icon-music: url('./music.svg');
  --icon-navigation-2: url('./navigation-2.svg');
  --icon-navigation: url('./navigation.svg');
  --icon-octagon: url('./octagon.svg');
  --icon-package: url('./package.svg');
  --icon-paperclip: url('./paperclip.svg');
  --icon-pause-circle: url('./pause-circle.svg');
  --icon-pause: url('./pause.svg');
  --icon-pen-tool: url('./pen-tool.svg');
  --icon-percent: url('./percent.svg');
  --icon-phone-call: url('./phone-call.svg');
  --icon-phone-forwarded: url('./phone-forwarded.svg');
  --icon-phone-incoming: url('./phone-incoming.svg');
  --icon-phone-missed: url('./phone-missed.svg');
  --icon-phone-off: url('./phone-off.svg');
  --icon-phone-outgoing: url('./phone-outgoing.svg');
  --icon-phone: url('./phone.svg');
  --icon-pie-chart: url('./pie-chart.svg');
  --icon-play-circle: url('./play-circle.svg');
  --icon-play: url('./play.svg');
  --icon-plus-circle: url('./plus-circle.svg');
  --icon-plus-square: url('./plus-square.svg');
  --icon-plus: url('./plus.svg');
  --icon-pocket: url('./pocket.svg');
  --icon-power: url('./power.svg');
  --icon-printer: url('./printer.svg');
  --icon-radio: url('./radio.svg');
  --icon-refresh-ccw: url('./refresh-ccw.svg');
  --icon-refresh-cw: url('./refresh-cw.svg');
  --icon-repeat: url('./repeat.svg');
  --icon-rewind: url('./rewind.svg');
  --icon-rotate-ccw: url('./rotate-ccw.svg');
  --icon-rotate-cw: url('./rotate-cw.svg');
  --icon-rss: url('./rss.svg');
  --icon-save: url('./save.svg');
  --icon-scissors: url('./scissors.svg');
  --icon-search: url('./search.svg');
  --icon-send: url('./send.svg');
  --icon-server: url('./server.svg');
  --icon-settings: url('./settings.svg');
  --icon-share-2: url('./share-2.svg');
  --icon-share: url('./share.svg');
  --icon-shield-off: url('./shield-off.svg');
  --icon-shield: url('./shield.svg');
  --icon-shopping-bag: url('./shopping-bag.svg');
  --icon-shopping-cart: url('./shopping-cart.svg');
  --icon-shuffle: url('./shuffle.svg');
  --icon-sidebar: url('./sidebar.svg');
  --icon-skip-back: url('./skip-back.svg');
  --icon-skip-forward: url('./skip-forward.svg');
  --icon-slack: url('./slack.svg');
  --icon-slash: url('./slash.svg');
  --icon-sliders: url('./sliders.svg');
  --icon-smartphone: url('./smartphone.svg');
  --icon-smile: url('./smile.svg');
  --icon-speaker: url('./speaker.svg');
  --icon-square: url('./square.svg');
  --icon-star: url('./star.svg');
  --icon-stop-circle: url('./stop-circle.svg');
  --icon-sunrise: url('./sunrise.svg');
  --icon-sunset: url('./sunset.svg');
  --icon-sun: url('./sun.svg');
  --icon-table: url('./table.svg');
  --icon-tablet: url('./tablet.svg');
  --icon-tag: url('./tag.svg');
  --icon-target: url('./target.svg');
  --icon-terminal: url('./terminal.svg');
  --icon-thermometer: url('./thermometer.svg');
  --icon-thumbs-down: url('./thumbs-down.svg');
  --icon-thumbs-up: url('./thumbs-up.svg');
  --icon-toggle-left: url('./toggle-left.svg');
  --icon-toggle-right: url('./toggle-right.svg');
  --icon-tool: url('./tool.svg');
  --icon-trash-2: url('./trash-2.svg');
  --icon-trash: url('./trash.svg');
  --icon-trello: url('./trello.svg');
  --icon-trending-down: url('./trending-down.svg');
  --icon-trending-up: url('./trending-up.svg');
  --icon-triangle: url('./triangle.svg');
  --icon-truck: url('./truck.svg');
  --icon-tv: url('./tv.svg');
  --icon-twitch: url('./twitch.svg');
  --icon-twitter: url('./twitter.svg');
  --icon-type: url('./type.svg');
  --icon-umbrella: url('./umbrella.svg');
  --icon-underline: url('./underline.svg');
  --icon-unlock: url('./unlock.svg');
  --icon-upload-cloud: url('./upload-cloud.svg');
  --icon-upload: url('./upload.svg');
  --icon-user-check: url('./user-check.svg');
  --icon-user-minus: url('./user-minus.svg');
  --icon-user-plus: url('./user-plus.svg');
  --icon-users: url('./users.svg');
  --icon-user: url('./user.svg');
  --icon-user-x: url('./user-x.svg');
  --icon-video-off: url('./video-off.svg');
  --icon-video: url('./video.svg');
  --icon-voicemail: url('./voicemail.svg');
  --icon-volume-1: url('./volume-1.svg');
  --icon-volume-2: url('./volume-2.svg');
  --icon-volume: url('./volume.svg');
  --icon-volume-x: url('./volume-x.svg');
  --icon-watch: url('./watch.svg');
  --icon-wifi-off: url('./wifi-off.svg');
  --icon-wifi: url('./wifi.svg');
  --icon-wind: url('./wind.svg');
  --icon-x-circle: url('./x-circle.svg');
  --icon-x-octagon: url('./x-octagon.svg');
  --icon-x-square: url('./x-square.svg');
  --icon-x: url('./x.svg');
  --icon-youtube: url('./youtube.svg');
  --icon-zap-off: url('./zap-off.svg');
  --icon-zap: url('./zap.svg');
  --icon-zoom-in: url('./zoom-in.svg');
  --icon-zoom-out: url('./zoom-out.svg');
}
