.container {
  height: 150px;
  overflow-y: scroll;
  border: 2px solid var(--standard-20);
  border-radius: var(--border-radius);
  margin: 20px 0;
  background: var(--background);
}

.content {
  padding: var(--padding);
  
  p {
    margin: 10px 0;
    line-height: 1.5;
  }
}

.measurements {
  background: var(--standard-5);
  padding: var(--padding);
  border-radius: var(--border-radius);
  
  p {
    margin: 5px 0;
    font-family: monospace;
    
    span {
      font-weight: bold;
      color: var(--primary-color);
    }
  }
}