.secondary.label {
  background: var(--label-secondary-background);
  color: var(--label-secondary-text-color);
}

.outline.label {
  background: var(--label-outline-background);
  outline: var(--label-outline);
  color: var(--label-outline-text-color);
}
