:host {
  --segment-secondary-background: var(--inverted-solid-95);
  --segment-secondary-color: var(--standard-60);

  --segment-tertiary-background: var(--inverted-solid-90);
  --segment-tertiary-color: var(--standard-50);
}
