/*-------------
      Focus
---------------*/

.button:focus {
  background-color: var(--focus-background-color);
  color: var(--focus-color);
  background-image: var(--focus-background-image) !important;
  box-shadow: var(--focus-box-shadow) !important;
}

.button:focus .icon {
  opacity: var(--icon-focus-opacity);
}
