/*--------------
  Pressed Down
---------------*/

.button:active,
.active.button:active {
  background-color: var(--pressed-background-color);
  background-image: var(--pressed-background-image);
  color: var(--pressed-color);
  box-shadow: var(--pressed-box-shadow);
}
