/*******************************
            Content
*******************************/

.header {
  font-size: 10px;
  font-weight: normal;
  letter-spacing: 0.05rem;
  margin: 0rem 0rem 0rem;
  text-transform: uppercase;
  color: var(--standard-30);
}

.title {
  display: flex;
  flex-direction: row;
  text-align: left;
  font-size: var(--14px);
  cursor: pointer;
  font-weight: bold;
  color: var(--standard-60);
  margin: 0.5rem 0rem;
  transition: 0.3s color ease;
  user-select: none;

  .text {
    flex: 1 1 auto;
  }

  ui-icon {
    opacity: 0.5;
    flex-grow: 0 1 auto;
    position: relative;
    display: block;
    font-size: 14px;
    padding-top: 3px;
    width: 1.5rem;
    height: 1rem;
    flex: 0 0 auto;
    text-align: center;
    margin-right: 1rem;
  }

  &:hover {
    transition: var(--duration) color var(--easing);
    color: var(--standard-100);
  }
  &.active {
    color: var(--standard-100);
    ui-icon {
      transform: translateY(15%) rotateX(180deg);
      opacity: 1;
    }
  }
  &.current {
    color: var(--primary-text-color);
  }
}
.content {

  max-height: 0px;
  opacity: 0;
  overflow: hidden;
  transition:
    opacity var(--duration) var(--easing),
    max-height var(--duration) var(--easing)
  ;

  &.active {
    opacity: 1;
    max-height: var(--max-height);

  }

  .menu {
    padding-left: 0.5rem;

    .item {
      display: block;
      text-decoration: none;
      font-size: 13px;
      padding: var(--2px) 0px;
      color: var(--standard-40);
      transition: 0.3s color ease;

      &:hover {
        color: var(--standard-100);
      }
      &.visible {
        color: var(--standard-100);
      }
      &.current {
        cursor: default;
        color: var(--primary-text-color);
      }
    }

  }
}
