.title {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  text-align: left;
  font-size: 14px;
  text-transform: none;
  font-weight: bold;
  transition: 0.3s color ease;
  padding: 0.5rem 0rem;
  color: #798088;
}
.title:hover {
  color: #ffffff;
}

.title.current {
  color: #73b9e1;
  cursor: default;
}
.title.active {
  color: #ffffff;
}
.title ui-icon:not([icon="dropdown"]) {
  display: block;
  font-size: 18px;
  width: 1.5rem;
  flex: 0 0 auto;
  text-align: center;
  margin-right: 1rem;
}
.title ui-icon[icon="dropdown"] {
  float: right;
  opacity: 0.3;
}
.content {
  display: none;
}
.content.active {
  display: block;
}

.title + .content {
  padding: 0rem 0rem 0.5rem 2.5rem;
}
.content .menu .item {
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
  line-height: 1;
  margin: 2px 0px;
  padding: 5px 0px;
}
.content .menu .active.item {
  color: #73b9e1;
}
.content .menu .item:hover {
  color: rgba(255, 255, 255, 0.9);
}
.content .title {
  font-size: 13px;
  padding: 4px 0px;
}

/* Nested Menu */
.content {
  .title {
    display: block;
    font-size: 13px;
    padding: 4px 0px;
  }
  .title .dropdown.icon {
    float: right;
    margin: 0rem 1rem 0rem 0rem;
  }
  .title + .content {
    padding: 0rem 0rem 0rem 0.25rem !important;
  }
  .title .content .title {
    font-size: 12px;
  }
  .content .menu .item {
    padding: 0.35em 0em;
  }
  .content .menu .item.item.item.item.item:not(:hover):not(.current):not(.active) {
    color: rgba(255, 255, 255, 0.35) !important;
  }
}

:host-context(body.dark) .content .menu .active.item {
  color: #26b0ff;
}
