/*******************************
            Content
*******************************/

:host {
  font-size: inherit;
  padding: 0rem 1rem;
}

.title {
  display: flex;
  cursor: pointer;
  flex-direction: row;
  text-align: left;
  font-size: var(--14px);
  text-transform: none;
  font-weight: bold;
  padding: 0.5rem 0rem;
  color: #798088;
  text-decoration: none;

  .description {
    float: right;
    opacity: 0.4;
    margin-left: 0.5rem;
    font-size: 12px;
  }

  .dropdown {
    opacity: 0.3;
    font-size: 12px;
    transition: all 0.3s ease;
    transform: rotate(90deg);
    width: auto;
    margin-right: 0px;
    margin-left: auto;
  }
}
.title {
  .glyph {
    display: block;
    width: 1.5rem;
    flex: 0 0 auto;
    text-align: center;
    margin-right: 1rem;
    font-size: 18px;
  }
  + .content {
    padding: 0rem 0rem 0rem 0.5rem;
  }
  + .indented.content {
    padding-left: 2.55rem;
  }
}

/* Nested Menu */
.content {
  .title {
    display: flex;
    font-size: 13px;
    padding: 4px 0px;
  }
  .title + .content {
    padding: 0rem 0rem 0rem 0.25rem !important;
  }
  .title .content .title {
    font-size: 12px;
  }

  .menu {
    display: flex;
    flex-direction: column;
    gap: 2px;

    .item {
      display: flex;
      text-decoration: none;
      color: rgba(255, 255, 255, 0.4);
      line-height: 1;
      font-size: var(--13px);
      padding: 5px 0px;
    }

    /* Third Level Menu */
    .content .menu {
      .item {
        padding: 0.35em 0em;
      }
    }
  }
}

/*******************************
            States
*******************************/

.title {
  &:hover {
    transition: 0.3s color ease;
    color: #ffffff;
  }
  &.active {
    color: #ffffff;

    .dropdown {
      margin-top: 3px;
      opacity: 0.8;
      transform: rotate(0deg);
    }
  }
  &.current {
    cursor: default;
    color: var(--primary-light-text-color);
  }
}
.content {

  opacity: 0;
  overflow: hidden;
  transition: opacity 0.2s ease;
  height: 0px;

  .title.active {
    color: #ffffff;
  }

  &.active {
    opacity: 1;
    height: auto;
  }

  .menu {
    .item:hover {
      color: rgba(255, 255, 255, 0.9);
    }
    .current.item {
      cursor: default;
      color: var(--primary-light-text-color);
    }
    .current.item[href] {
      cursor: auto;
    }
    .menu {
      .item:not(:hover):not(.current):not(.active) {
        color: rgba(255, 255, 255, 0.35) !important;
      }
    }
  }
}

