.container {
  padding: var(--padding);
  margin: var(--margin) 0;
  border: 2px solid var(--standard-30);
  background: var(--standard-5);
}

.box {
  padding: var(--padding);
  margin: var(--margin) 0;
  border: 2px solid var(--blue-30);
  background: var(--blue-5);
  height: 100px;
  position: relative;
}

.target {
  padding: var(--padding);
  background: var(--green-10);
  border: 2px solid var(--green-30);
  position: absolute;
  top: 80px;
  left: 20px;
  width: 200px;
}

ui-button {
  margin: 5px;
}

.log {
  margin: var(--margin) 0;
  padding: var(--padding);
  background: var(--standard-5);
  font-family: monospace;
  border-radius: var(--border-radius);
}

.highlight {
  outline: 3px solid var(--red-40);
  outline-offset: -3px;
}