.simulation {
  text-align: center;
  canvas {
    border: var(--border);
    border-radius: var(--border-radius);
  }
  p {
    font-size: var(--small);
    color: var(--standard-30);
    user-select: none;
  }
  input {
   vertical-align: middle;
    margin-left: var(--compact-spacing);
  }
}

