
ui-button {
  --primary-background-image: var(--colored-background-image);
  --primary-box-shadow: var(--colored-box-shadow);
  --primary-text-color: var(--inverted-text-color);
  --primary-text-shadow: var(--inverted-text-shadow);

  --secondary-background-image: var(--colored-background-image);
  --secondary-box-shadow: var(--colored-box-shadow);
  --secondary-text-color: var(--inverted-text-color);
  --secondary-text-shadow: var(--inverted-text-shadow);

  /* Inverted */
  --light-primary-text-color: var(--inverted-text-color);
  --light-secondary-text-color: var(--inverted-text-color);
}
