:root {
  --button-primary-color: var(--primary-color);
  --button-primary-background-image: var(--button-colored-background-image);
  --button-primary-box-shadow: var(--button-colored-box-shadow);
  --button-primary-text-color: var(--button-inverted-text-color);
  --button-primary-text-shadow: var(--button-inverted-text-shadow);

  --button-secondary-color: var(--secondary-color);
  --button-secondary-background-image: var(--button-colored-background-image);
  --button-secondary-box-shadow: var(--button-colored-box-shadow);
  --button-secondary-text-color: var(--button-inverted-text-color);
  --button-secondary-text-shadow: var(--button-inverted-text-shadow);

  /* Inverted */
  --button-light-primary-text-color: var(--button-inverted-text-color);
  --button-light-secondary-text-color: var(--button-inverted-text-color);
}
