.demo {
  border: var(--border);
  border-radius: var(--border-radius);
  background: var(--standard-5);
  margin: var(--vertically-spaced);
  padding: var(--padding);
  display: flex;
  flex-direction: row;
  align-items: center;

  .count {
    margin-right: var(--margin);
    vertical-align: middle;
  }
}
