.parent {
  padding: 15px;
  margin: 15px 0;
  background: var(--standard-5);
  border: var(--border);
  border-radius: var(--border-radius);
  line-height: 1.6;
}

.simple {
  padding: 15px;
  margin: 15px 0;
  background: var(--standard-10);
  border: var(--border);
  border-radius: var(--border-radius);
}

p {
  margin: 8px 0;
  font-family: monospace;
}

p span {
  font-weight: bold;
}