.parent {
  background: var(--blue-0);
  border: var(--border);
  padding: var(--padding);
  margin: var(--vertically-spaced);
  border-radius: var(--border-radius);
}

.simple {
  padding: var(--padding);
  margin: var(--vertically-spaced);
  background: var(--red-0);
  border: var(--border);
  border-radius: var(--border-radius);
}

p {
  margin: 8px 0;
  font-family: monospace;
}

p span {
  font-weight: bold;
}
