

/* All Sizes */
:host {
  display: block;
  max-width: 100%;
}

/* Mobile */
@media only screen and (max-width: 767px) {
  :host {
    width: auto;
    margin-left: 1em;
    margin-right: 1em;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  :host {
    width: 723px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Small Monitor */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  :host {
    width: 933px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Large Monitor */
@media only screen and (min-width: 1200px) {
  :host {
    width: 1127px;
    margin-left: auto;
    margin-right: auto;
  }
}


/*******************************
             Types
*******************************/


:host.text {
  max-width: 700px;
  line-height: 1.5;
}

/* Fluid */
:host.fluid {
  width: 100%;
}
