/*******************************
            Forms
*******************************/

:root {

  /* -------------------
       Input Padding
  -------------------- */

  --input-vertical-padding: var(--relative-10px);
  --input-horizontal-padding: var(--relative-12px);
  --input-padding: var(--input-vertical-padding) var(--input-horizontal-padding);

}
