/*******************************
            Motion
*******************************/

:root {

  /* -------------------
       Primitives
  -------------------- */

  --duration: 0.15s;
  --easing: ease;

  /* -------------------
       Computed
  -------------------- */

  --transition: all var(--duration) var(--easing);

}
