/*******************************
           Z-Index
*******************************/

:root {

  /* -------------------
       Page Layer
  -------------------- */

  --page-layer: 1;
  --page-layer-1: 1;
  --page-layer-2: 2;
  --page-layer-3: 3;
  --page-layer-4: 4;
  --page-layer-5: 5;

  /* -------------------
       Float Layer
  -------------------- */

  --float-layer: 100;
  --float-layer-1: 101;
  --float-layer-2: 102;
  --float-layer-3: 103;
  --float-layer-4: 104;
  --float-layer-5: 105;

  /* -------------------
      Overlay Layer
  -------------------- */

  --overlay-layer: 1000;
  --overlay-layer-1: 1001;
  --overlay-layer-2: 1002;
  --overlay-layer-3: 1003;
  --overlay-layer-4: 1004;
  --overlay-layer-5: 1005;

}
