.card {
  width: max-content;
  border: var(--border);
  border-radius: var(--border-radius);
  overflow: hidden;
}

table {
  width: 1px;
  border-collapse: collapse;
}
table td {
  border: var(--solid-border);
  padding: 10px 20px;
}
td:first-child {
  font-size: 13px;
  background-color: var(--standard-5);
  color: var(--standard-40);
  width: 1px;
  text-align: right;
}
td:last-child {
  font-weight: bold;
  white-space: nowrap;
}
ul {
  margin: 0rem;
  padding: 0rem 0rem 0rem 1rem;
}
