
:host {
  --card-min: var(250px);
  --card-gap: var(--spacing);
  --card-image-max-height: 150px;
}

.component {
  container: component / inline-size;
}

.actions {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing);

  .menu {
    margin: 0;
    border-radius: var(--border-radius);
    padding: 3px;
    background: var(--standard-5) var(--angled-gradient);
    box-shadow: var(--inset-shadow);
  }
  .search {
    margin-left: auto;
  }
}

@container component (max-width: 300px) {
  ui-card {
    flex-direction: column !important;
    .image {
      width: 100%;
      height: 100px;
    }
  }
}

@container component (min-width: 500px) {
  ui-cards::part(cards) {
    grid-template-columns: 1fr 1fr;
  }
}

@container component (min-width: 900px) {
  ui-cards::part(cards) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@container component (min-width: 1200px) {
  ui-cards::part(cards) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

