.container {
  position: relative;
  height: 200px;
  margin: 20px 0;
  background: var(--standard-10);
  border: var(--border);
  border-radius: var(--border-radius);
}

.box {
  position: absolute;
  width: 180px;
  height: 60px;
  padding: 10px;
  top: 10px;
  left: 10px;
  background: var(--standard-10);
  border-radius: var(--border-radius);
  text-align: center;
  align-content: center;
}


p {
  margin: 8px 0;
  font-family: monospace;
  span {
    font-weight: bold;
  }
  b {
    font-weight: bold;
    color: var(--primary-text-color);
  }
}
