---
import Homepage from '../layouts/Homepage.astro';
---

<Homepage>
  <aboveFold>
    <ui-container>
      <div class="left">
        <h2>This is the title</h2>
        <p>This is the copy</p>
        <ui-button primary icon-after icon="right-chevron">View Guide</ui-button>
        <ui-button transparent inverted> Visit Docs</ui-button>
      </div>
    </ui-container>
  </aboveFold>
  <ribbons>
    <ribbon>
      1
    </ribbon>
    <ribbon class="inverted">
      2
    </ribbon>
  </ribbons>
</Homepage>
