---
  import Playground from '@layouts/Playground.astro';
  import { getSandboxURL, getEmptyProjectFiles } from '@helpers/playground.js';
  import CodePlayground from '@components/CodePlayground/CodePlayground.js';

  const files = getEmptyProjectFiles({withInjections: true, withStubs: true});
  const projectConfig = {
    files: files
  };
  const sandboxURL = getSandboxURL();
---
<style>
  :root {
    --sidebar-width: 0px;
  }
</style>
<Playground>
  <CodePlayground client:only="lit" files={files} sandboxURL={sandboxURL}></CodePlayground>
</Playground>

<script>
  import { $ } from '@semantic-ui/query';
  import { readPlaygroundLink } from '@helpers/link-encoder.js';
  setTimeout(() => {
    const link = readPlaygroundLink(window.location.search);
    const files = $('code-playground').el().files;
    files['page.html'] = `<html><head></head><body>Test</body></html>`;
    $('code-playground').settings({
      files: files
    });
    console.log($('code-playground').length, files, link.files);
  }, 1000);
</script>
