---
import Body from '../layouts/Body.astro';
import BallSimulation from '@examples/ball-simulation/ball-simulation.js';
import UIButton from '@semantic-ui/core';
---
<Body padded>
<BallSimulation client:only></BallSimulation>
</Body>
