---
import Body from '../layouts/Body.astro';
import { CodeExample } from '@components/CodeExample/CodeExample.js';
import { CodeSample } from '@components/CodeSample/CodeSample.js';
import { UIPanels } from '@components/Panels/Panels.js';
import { UIPanel } from '@components/Panels/Panel.js';
---
<Body padded>
  <UIPanels direction="horizontal">
    <UIPanel direction="horizontal">1</UIPanel>
    <UIPanel direction="horizontal">2</UIPanel>
    <UIPanel direction="horizontal">3</UIPanel>
  </UIPanels>
</Body>
