---
import '../css/sui/theme/base.css';
import '../css/sui/ui/semantic-ui.css';
import Body from '../layouts/Body.astro';
import { UIButton, UIButtons } from '@semantic-ui/core';
---
<Body padded>
  <ui-buttons large red>
    <ui-button>Red</ui-button>
    <ui-button blue>Blue</ui-button>
  </ui-button>
</Body>
