---
import Body from '../layouts/Body.astro';
import { UIButton, UIIcon } from '@semantic-ui/core';
---
<Body padded>
<UIIcon icon="open-book" client:load>Test</UIIcon>
<UIButton primary>Primary</UIButton>
</Body>
