---
import Body from '../layouts/Body.astro';

import '../components/Test/component.js';
---
<Body padded>
  <dynamic-table></dynamic-table>
  <script>
    import { $ } from '@semantic-ui/query';
    import { Row } from '../components/Test/row.js';

    // use same row template across instances

    $('dynamic-table').settings({
      headers: [
        'Changed 1',
        'Changed 2',
        'Change 3',
      ],
      rowTemplate: Row,
    });
    // use different data for each table
      /*
      $('dynamic-table.one').initialize({
        rows: [
          { firstName: 'Buck', lastName: 'Pencilsworth', age: '42', gender: 'Male' },
        ]
      });
      $('dynamic-table.two').initialize({
        rows: [
          { firstName: 'Chuck', lastName: 'Cheesewheel', age: '44', gender: 'Male' },
          { firstName: 'Dotty', lastName: 'Paperclips', age: '72', gender: 'Female' },
          { firstName: 'Biff', lastName: 'Strongarm', age: '39', gender: 'Male' },
          { firstName: 'Pearl', lastName: 'Teacup', age: '61', gender: 'Female' },
          { firstName: 'Skip', lastName: 'Lunchpack', age: '27', gender: 'Male' },
          { firstName: 'Mabel', lastName: 'Clockwise', age: '84', gender: 'Female' },
          { firstName: 'Tank', lastName: 'Steelbeam', age: '47', gender: 'Male' },
          { firstName: 'Pip', lastName: 'Kettlewood', age: '19', gender: 'Female' },
          { firstName: 'Buzz', lastName: 'Lampshade', age: '36', gender: 'Male' },
          { firstName: 'Flo', lastName: 'Watercooler', age: '55', gender: 'Female' }
        ]
      });*/
  </script>

</Body>
