---
import Body from '../layouts/Body.astro';
import { UIMenu, MenuItem, UIInput, UIButton } from '@semantic-ui/core';
const items = [{label: 'One', value: '1'}, { label: 'Two', value: '2' },{label: 'Three', value: '3' }];
---
<Body padded>

<ui-container>
  <ui-menu value="3" items='[{"label":"One","value":"1"},{"label":"Two","value":"2"},{"label":"Three","value":"3"}]'></ui-menu>

  <UIMenu client:load selection evenly-spaced value="a">
    <MenuItem client:load value="a">Choice A</MenuItem>
    <MenuItem client:load value="b">Choice B</MenuItem>
    <MenuItem client:load value="c">Choice C</MenuItem>
  </UIMenu>
  <UIMenu client:load selection evenly-spaced value="a">
    <MenuItem client:load active value="a">Choice A</MenuItem>
    <MenuItem client:load value="b">Choice B</MenuItem>
    <MenuItem client:load value="c">Choice C</MenuItem>
  </UIMenu>

</ui-container>

</Body>
