---
import Body from '../layouts/Body.astro';
import { UIMenu, MenuItem } from '@semantic-ui/core';
---
<Body padded>
<UIMenu selection client:load>
  <MenuItem active>Test</MenuItem>
</UIMenu>
</Body>
