---
import Body from '../layouts/Body.astro';
import { UIButton, UIButtons } from '@semantic-ui/core';
---
<Body padded>
  <UIButtons client:load large red>
    <ui-button>Red</ui-button>
    <button-or></button-or>
    <ui-button blue>Blue</ui-button>
  </UIButtons>
  <br><br>
  <UIButton huge client:load>
    Test
  </UIButton>
  <script>
  </script>
</Body>
