---
import Body from '../layouts/Body.astro';
import { CodeExample } from '@components/CodeExample/CodeExample.js';
import { CodeSample } from '@components/CodeSample/CodeSample.js';
import { UIButton, UIButtons, UIIcon } from '@semantic-ui/core';
---
<Body padded>
  <script>
    import { createComponent } from '@semantic-ui/component';
    import { ReactiveVar, Reaction } from '@semantic-ui/reactivity';

    const settings = {
      showParity: true
    };

    const template = `
     The currentTime is {{formatDate currentTime 'h:mm:ss'}}
     <br><br>
    `;

    const createInstance = ({tpl}) => ({
       currentTime: new ReactiveVar(new Date()),
       isEven() {
         return tpl.currentTime.get() % 2 == 0;
       }
    });

    createComponent({
      tagName: 'ui-counter',
      template,
      createInstance,
      settings,
      onCreated: function({tpl, settings}) {
        console.log(settings);
        setInterval(() => {
          tpl.currentTime.now();
        }, 1000);
      }
    });
  </script>
  <ui-counter showParity="false"></ui-counter>
</Body>
