---
import Body from '../layouts/Body.astro';
import { CodeExample } from '@components/CodeExample/CodeExample.js';
import { UIButton, UIButtons, UIIcon } from '@semantic-ui/core';
---
<Body padded>
<UIIcon client:load icon="pause"></UIIcon>
<UIButton client:load icon="pause">Pause</UIButton>
</Body>
