---
import Body from '../layouts/Body.astro';

import NavMenu from '@components/NavMenu/NavMenu.js';
const menu = [];
---
<Body padded>
  <NavMenu
    menu={menu}
    use-accordion=true
    expand-all=true
    activeurl={Astro.url.pathname}
  />
</Body>
