---
import Body from '../layouts/Body.astro';
import PlaygroundExample from '@components/PlaygroundExample/PlaygroundExample.astro';
import UIButton from '@semantic-ui/core';
---
<Body padded>
<PlaygroundExample id="counter"></PlaygroundExample>
</Body>
