---
import Body from '../layouts/Body.astro';
import { UIMenu, UIButton, UIIcon, MenuItem } from '@semantic-ui/core';
---
<Body padded>
<UIButton top-attached>Test</UIButton><br>
<UIButton attached="top">Test</UIButton><br>
<UIButton attached="top-attached">Test</UIButton>
</Body>
