/*******************************
         Site Settings
*******************************/

:root {

  /* -------------------
         Fonts
  -------------------- */

  --font-name: 'Lato';

  --header-font: var(--font-name), 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
  --page-font: var(--font-name), 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;

  --header-color: var(--standard-90);
  --text-color: var(--standard-80);
  --line-height: var(--20px);

  /* these do not change with light/dark theme */
  --white-text-color: var(--white-80);
  --black-text-color: var(--black-80);

  --bold: bold;
  --normal: normal;

  /* -------------------
        Global Size
  -------------------- */

  /*
    All UI is RELATIVELY SIZED in EMs
    Sizing up this base unit will increase the size of "medium"
    for all UI

    It is common for dense web apps to use 13px and more friendly apps to use 14px
    but for blog/marketing it may make sense to increase up to 16px
  */

  /* Size of UI medium size */
  --em-size: 14;

  /* Size of page font */
  --font-size: calc(var(--em-size) * 1px);

  /* -------------------
          Sizes
  -------------------- */

  /*
    For sizes to resolve to exact pixels modify the NUMERATOR to the desired pixel value
    and the DENOMINATOR to the base em size

    We dont use a var for the denominator otherwise toggling EM size var would not scale
    since the ratios would be skewed

    @small = 13/14 = 0.928rem = 13px
  */

  --mini-ratio: calc(11 / 14);
  --tiny-ratio: calc(12 / 14);
  --small-ratio: calc(13 / 14);
  --medium-ratio: calc(14 / 14);
  --large-ratio: calc(16 / 14);
  --big-ratio: calc(18 / 14);
  --huge-ratio: calc(20 / 14);
  --massive-ratio: calc(24 / 14);

  /* -------------------
         Spacing
  -------------------- */

  --spacing: 1rem;
  --compact-spacing: 0.5rem;

  --padding: var(--spacing);
  --compact-padding: var(--compact-spacing);

  --horizontally-padded: 0rem var(--padding);
  --vertically-padded: var(--padding) 0rem;

  --margin: var(--spacing);
  --vertically-spaced: var(--spacing) 0rem;
  --horizontally-spaced: 0rem var(--spacing);

  --centered: var(--spacing) auto;

  /* -------------------
      Border Radius
  -------------------- */

  --absolute-border-radius: 4px;

  --border-radius: 4px;
  --circular-radius: 500rem;

  /* Attached Borders */
  --top-attached-border-radius: var(--border-radius) var(--border-radius) 0px 0px;
  --right-attached-border-radius: var(--border-radius) 0px 0px var(--border-radius);
  --bottom-attached-border-radius: 0px 0px var(--border-radius) var(--border-radius);
  --left-attached-border-radius: 0px var(--border-radius) var(--border-radius) 0px;

  /* -------------------
      Brand Colors
  -------------------- */

  --primary-color: var(--blue);
  --secondary-color: var(--black-solid-80);

  --light-primary-color: var(--light-blue);
  --light-secondary-color: var(--light-black);

  /* Used to emphasize text  */
  --primary-text-color: var(--blue-text-color);
  --primary-light-text-color: var(--light-blue);

  /* --------------
    Page Heading
  --------------- */

  --header-font-weight: var(--bold);
  --header-line-height: var(--18px);

  --h1: 28px;
  --h2: 24px;
  --h3: 18px;
  --h4: 15px;
  --h5: 14px;

  /* --------------
       Form
  --------------- */


  /* Used on inputs, textarea etc */
  --form-focused-border-color: var(--primary-text-color);

  --focused-ring: 0px 0px 1px 3px var(--standard-100);
  --focused-outline-color: var(--inverted-100);
  --focused-ring-color: var(--primary-color);
  --focused-ring-shadow:
    0px 0px 0px 1px var(--focused-outline-color),
    0px 0px 1px 3px var(--focused-ring-color)
  ;


  /* Used on dropdowns, other larger blocks */
  --form-focused-muted-border-color: #96C8DA;

  /* -------------------
        Dark Mode
  -------------------- */

  /* These swap to handle coarse level of dark mode theming */
  --white-lch: 1 0 0;
  --black-lch: 0 0 0;

  --standard-color: var(--black-lch);
  --inverted-color: var(--white-lch);

  --standard-10: oklch(var(--standard-color) / 10%);
  --standard-20: oklch(var(--standard-color) / 20%);
  --standard-30: oklch(var(--standard-color) / 30%);
  --standard-40: oklch(var(--standard-color) / 40%);
  --standard-50: oklch(var(--standard-color) / 50%);
  --standard-60: oklch(var(--standard-color) / 60%);
  --standard-70: oklch(var(--standard-color) / 70%);
  --standard-80: oklch(var(--standard-color) / 80%);
  --standard-90: oklch(var(--standard-color) / 90%);
  --standard-100: oklch(var(--standard-color) / 100%);

  --inverted-10: oklch(var(--inverted-color) / 10%);
  --inverted-20: oklch(var(--inverted-color) / 20%);
  --inverted-30: oklch(var(--inverted-color) / 30%);
  --inverted-40: oklch(var(--inverted-color) / 40%);
  --inverted-50: oklch(var(--inverted-color) / 50%);
  --inverted-60: oklch(var(--inverted-color) / 60%);
  --inverted-70: oklch(var(--inverted-color) / 70%);
  --inverted-80: oklch(var(--inverted-color) / 80%);
  --inverted-90: oklch(var(--inverted-color) / 90%);
  --inverted-100: oklch(var(--inverted-color) / 100%);

  /* -------------------
          Page
  -------------------- */

  --page-background: #FFFFFF;
  --page-overflow-x: hidden;

  /* -------------------
        Paragraph
  -------------------- */

  --paragraph-margin: 0em 0em 1em;
  --paragraph-line-height: var(--line-height);

  /* -------------------
         Links
  -------------------- */

  --link-color: oklch(0.61 0.17 250.88);
  --link-text-decoration: none;
  --link-hover-color: oklch(0.62 0.22 252.98);
  --link-hover-text-decoration: var(--link-text-decoration);

  /* -------------------
      Scroll Bars
  -------------------- */

  --use-custom-scrollbars: true;

  --scrollbar-width: 9px;
  --scrollbar-height: 9px;

  --track-background: oklch(var(--standard-color) / 10%);
  --track-border-radius: 0px;

  --thumb-border-radius: 0px;
  --thumb-background: oklch(var(--standard-color) / 15%);
  --thumb-transition: color 0.2s ease;

  --thumb-inactive-background: oklch(var(--standard-color) / 15%);
  --thumb-hover-background: oklch(var(--standard-color) / 20%);

  /* Inverted */
  --track-inverted-background: oklch(var(--inverted-color) / 5%);
  --thumb-inverted-background: oklch(var(--inverted-color) / 10%);
  --thumb-inverted-inactive-background: oklch(var(--inverted-color) / 5%);
  --thumb-inverted-hover-background: oklch(var(--inverted-color) / 15%);

  /* -------------------
    Highlighted Text
  -------------------- */

  --highlight-background: #CCE2FF;
  --highlight-color: var(--text-color);

  --input-highlight-background: rgb(100 100 100 / 40%);
  --input-highlight-color: var(--text-color);

  /* -------------------
         Loader
  -------------------- */

  --loader-size: var(--13px);
  --loader-speed: 0.6s;
  --loader-line-width: var(--2px);
  --loader-fill-color: rgb(var(--standard-color) / 10%);
  --loader-line-color: var(--grey);

  --inverted-loader-fill-color: rgb(var(--inverted-color) / 15%);
  --inverted-loader-line-color: var(--white);

  /* -------------------
          Grid
  -------------------- */

  --column-count: 16;

  /* -------------------
       Transitions
  -------------------- */

  --duration: 0.15s;
  --easing: ease;
  --transition: all var(--duration) var(--easing);

  /* -------------------
       Breakpoints
  -------------------- */

  --mobile-breakpoint: 320px;
  --tablet-breakpoint: 768px;
  --computer-breakpoint: 992px;
  --large-monitor-breakpoint: 1200px;
  --widescreen-monitor-breakpoint: 1920px;

  /* -------------------
        Site Colors
  -------------------- */

  /* ---  Colors  --- */
  --red: oklch(0.59 0.27 29);
  --orange: oklch(0.65 0.2 44.37);
  --yellow: oklch(0.78 0.18 81.24);
  --olive: oklch(0.69 0.19 119.53);
  --green: oklch(0.62 0.26 145.53);
  --teal: oklch(0.66 0.14 188.03);
  --blue: oklch(0.56 0.21 251);
  --violet: oklch(0.46 0.26 283.29);
  --purple: oklch(0.54 0.26 314.43);
  --pink: oklch(0.59 0.27 358.33);
  --brown: oklch(0.5 0.11 51.34);
  --grey: oklch(0.57 0 0);
  --black: oklch(0.23 0 0);

  /* ---  Light Colors  --- */
  --light-red: #FF695E;
  --light-orange: #FF851B;
  --light-yellow: #FFE21F;
  --light-olive: #D9E778;
  --light-green: #2ECC40;
  --light-teal: #6DFFFF;
  --light-blue: #58C1FE;
  --light-violet: #A291FB;
  --light-purple: #DC73FF;
  --light-pink: #FF8EDF;
  --light-brown: #D67C1C;
  --light-grey: #DCDDDE;
  --light-black: #545454;

  /* ---   Neutrals  --- */
  --white-5: oklch(var(--white-lch) / 5%);
  --white-10: oklch(var(--white-lch) / 10%);
  --white-20: oklch(var(--white-lch) / 20%);
  --white-30: oklch(var(--white-lch) / 30%);
  --white-40: oklch(var(--white-lch) / 40%);
  --white-50: oklch(var(--white-lch) / 50%);
  --white-60: oklch(var(--white-lch) / 60%);
  --white-70: oklch(var(--white-lch) / 70%);
  --white-80: oklch(var(--white-lch) / 80%);
  --white-85: oklch(var(--white-lch) / 85%);
  --white-90: oklch(var(--white-lch) / 90%);
  --white-95: oklch(var(--white-lch) / 95%);
  --white-100: oklch(var(--white-lch) / 100%);
  --white: var(--white-100);

  --black-5: oklch(var(--black-lch) / 5%);
  --black-10: oklch(var(--black-lch) / 10%);
  --black-15: oklch(var(--black-lch) / 15%);
  --black-20: oklch(var(--black-lch) / 20%);
  --black-30: oklch(var(--black-lch) / 30%);
  --black-40: oklch(var(--black-lch) / 40%);
  --black-50: oklch(var(--black-lch) / 50%);
  --black-60: oklch(var(--black-lch) / 60%);
  --black-70: oklch(var(--black-lch) / 70%);
  --black-80: oklch(var(--black-lch) / 80%);
  --black-85: oklch(var(--black-lch) / 85%);
  --black-90: oklch(var(--black-lch) / 90%);
  --black-95: oklch(var(--black-lch) / 95%);
  --black-100: oklch(var(--black-lch) / 100%);
  --black: var(--black-100);

  --white-solid-100: oklch(1 0 0 / 100%);
  --white-solid-95: oklch(0.95 0 0 / 100%);
  --white-solid-90: oklch(0.9 0 0 / 100%);
  --white-solid-85: oklch(0.85 0 0 / 100%);
  --white-solid-80: oklch(0.8 0 0 / 100%);
  --white-solid-70: oklch(0.7 0 0 / 100%);
  --white-solid-60: oklch(0.6 0 0 / 100%);
  --white-solid-50: oklch(0.5 0 0 / 100%);
  --white-solid-40: oklch(0.4 0 0 / 100%);
  --white-solid-30: oklch(0.3 0 0 / 100%);
  --white-solid-20: oklch(0.2 0 0 / 100%);
  --white-solid-15: oklch(0.15 0 0 / 100%);
  --white-solid-10: oklch(0.1 0 0 / 100%);
  --white-solid-5: oklch(0.05 0 0 / 100%);

  --black-solid-100: oklch(0 0 0 / 100%);
  --black-solid-95: oklch(0.05 0 0 / 100%);
  --black-solid-90: oklch(0.1 0 0 / 100%);
  --black-solid-85: oklch(0.15 0 0 / 100%);
  --black-solid-80: oklch(0.2 0 0 / 100%);
  --black-solid-70: oklch(0.3 0 0 / 100%);
  --black-solid-60: oklch(0.4 0 0 / 100%);
  --black-solid-50: oklch(0.5 0 0 / 100%);
  --black-solid-40: oklch(0.6 0 0 / 100%);
  --black-solid-30: oklch(0.7 0 0 / 100%);
  --black-solid-20: oklch(0.8 0 0 / 100%);
  --black-solid-15: oklch(0.85 0 0 / 100%);
  --black-solid-10: oklch(0.9 0 0 / 100%);
  --black-solid-5: oklch(0.95 0 0 / 100%);

  /* --- Colored Backgs --- */
  --red-background: #FFE8E6;
  --orange-background: #FFEDDE;
  --yellow-background: #FFF8DB;
  --olive-background: #FBFDEF;
  --green-background: #E5F9E7;
  --teal-background: #E1F7F7;
  --blue-background: #DFF0FF;
  --violet-background: #EAE7FF;
  --purple-background: #F6E7FF;
  --pink-background: #FFE3FB;
  --brown-background: #F1E2D3;

  /* --- Colored Headers --- */
  --red-header-color: oklch(from var(--red-text-color) calc(l - 0.05) c h);
  --olive-header-color: oklch(from var(--olive-text-color) calc(l - 0.05) c h);
  --green-header-color: oklch(from var(--green-text-color) calc(l - 0.05) c h);
  --yellow-header-color: oklch(from var(--yellow-text-color) calc(l - 0.05) c h);
  --blue-header-color: oklch(from var(--blue-text-color) calc(l - 0.05) c h);
  --teal-header-color: oklch(from var(--teal-text-color) calc(l - 0.05) c h);
  --pink-header-color: oklch(from var(--pink-text-color) calc(l - 0.05) c h);
  --violet-header-color: oklch(from var(--violet-text-color) calc(l - 0.05) c h);
  --purple-header-color: oklch(from var(--purple-text-color) calc(l - 0.05) c h);
  --orange-header-color: oklch(from var(--orange-text-color) calc(l - 0.05) c h);
  --brown-header-color: oklch(from var(--brown-text-color) calc(l - 0.05) c h);

  /* --- Colored Text --- */
  --red-text-color: var(--red);
  --orange-text-color: var(--orange);
  --yellow-text-color: #B58105; /* Yellow text is difficult to read */
  --olive-text-color: #8ABC1E; /* Olive is difficult to read */
  --green-text-color: #1EBC30; /* Green is difficult to read */
  --teal-text-color: #10A3A3; /* Teal text is difficult to read */
  --blue-text-color: #208BD7;
  --violet-text-color: var(--violet);
  --purple-text-color: var(--purple);
  --pink-text-color: var(--pink);
  --brown-text-color: var(--brown);

  /* --- Colored Border --- */
  --red-border-color: var(--red-text-color);
  --orange-border-color: var(--orange-text-color);
  --yellow-border-color: var(--yellow-text-color);
  --olive-border-color: var(--olive-text-color);
  --green-border-color: var(--green-text-color);
  --teal-border-color: var(--teal-text-color);
  --blue-border-color: var(--blue-text-color);
  --violet-border-color: var(--violet-text-color);
  --purple-border-color: var(--purple-text-color);
  --pink-border-color: var(--pink-text-color);
  --brown-border-color: var(--brown-text-color);

  /* -------------------
       Alpha Colors
  -------------------- */

  --subtle-transparent-black: oklch(var(--black-lch) / 3%);
  --transparent-black: oklch(var(--black-lch) / 5%);
  --strong-transparent-black: oklch(var(--black-lch) / 8%);
  --very-strong-transparent-black: oklch(var(--black-lch) / 15%);

  --subtle-transparent-white: oklch(var(--white-lch) / 5%);
  --transparent-white: oklch(var(--white-lch) / 8%);
  --strong-transparent-white: oklch(var(--white-lch) / 13%);
  --very-strong-transparent-white: oklch(var(--black-lch) / 18%);

  /* -------------------
         Accents
  -------------------- */

  /* Differentiating Neutrals */
  --subtle-gradient: linear-gradient(var(--strong-transparent-white), var(--strong-transparent-black));

  /* Differentiating Layers */
  --subtle-shadow: 0px 1px 2px 0 var(--strong-transparent-black);

  /* Pressed or inset */
  --subtle-inset-shadow: 0px 1px 2px 0 var(--transparent-black) inset;
  --inset-shadow: 0px 2px 3px 0 var(--strong-transparent-black) inset;

  /* Lip Shadow */
  --subtle-lip-distance: 2px;
  --subtle-lip-distance-inverse: calc(var(--subtle-lip-distance) * -1);
  --subtle-lip-spread: 10px;
  --subtle-lip-reduce: -6px;

  --subtle-top-lip-shadow:
    0px var(--subtle-lip-distance) var(--subtle-lip-spread) var(--subtle-lip-reduce) var(--strong-transparent-black) inset
  ;
  --subtle-bottom-lip-shadow:
    0px var(--subtle-lip-distance-inverse) var(--subtle-lip-spread) var(--subtle-lip-reduce) var(--strong-transparent-black) inset
  ;
  --subtle-left-lip-shadow:
    var(--subtle-lip-distance) 0px var(--subtle-lip-spread) var(--subtle-lip-reduce) var(--strong-transparent-black) inset
  ;
  --subtle-right-lip-shadow:
    var(--subtle-lip-distance-inverse) 0px var(--subtle-lip-spread) var(--subtle-lip-reduce) var(--strong-transparent-black) inset
  ;

  --floating-shadow:
    0px 2px 4px 0px rgb(34 36 38 12%),
    0px 2px 10px 0px rgb(34 36 38 15%)
  ;

  /*--------------
      Messages
  ---------------*/


  /* Positive */
  --positive-color: var(--green);
  --positive-background-color: #F0F7F3;
  --positive-border-color: #CCEAD9;
  --positive-header-color: #1A531B;
  --positive-text-color: var(--green-text-color);

  /* Negative */
  --negative-color: var(--red);
  --negative-background-color: #F9F1F1;
  --negative-border-color: #E6D9D9;
  --negative-header-color: #C55250;
  --negative-text-color: var(--red-text-color);

  /* Info */
  --info-color: #318291;
  --info-background-color: #FAFDFD;
  --info-border-color: #B0D8D8;
  --info-header-color: #0E566C;
  --info-text-color: #276F86;

  /* Warning */
  --warning-color: #D7922E;
  --warning-border-color: #CAC09D;
  --warning-background-color: #FFFAF8;
  --warning-header-color: #794B02;
  --warning-text-color: var(--orange-text-color);

  /* -------------------
       Neutral Text
  -------------------- */

  --dark-text-color: rgb(var(--standard-color) / 85%);
  --muted-text-color: rgb(var(--standard-color) / 60%);
  --light-text-color: rgb(var(--standard-color) / 40%);

  --unselected-text-color: rgb(var(--standard-color) / 40%);
  --hovered-text-color: rgb(var(--standard-color) / 80%);
  --pressed-text-color: rgb(var(--standard-color) / 90%);
  --selected-text-color: rgb(var(--standard-color) / 95%);
  --disabled-text-color: rgb(var(--standard-color) / 20%);

  --inverted-text-color: rgb(var(--inverted-color) / 90%);
  --inverted-muted-text-color: rgb(var(--inverted-color) / 80%);
  --inverted-light-text-color: rgb(var(--inverted-color) / 70%);
  --inverted-unselected-text-color: rgb(var(--inverted-color) / 50%);
  --inverted-hovered-text-color: rgb(var(--inverted-color) / 100%);
  --inverted-pressed-text-color: rgb(var(--inverted-color) / 100%);
  --inverted-selected-text-color: rgb(var(--inverted-color) / 100%);
  --inverted-disabled-text-color: rgb(var(--inverted-color) / 20%);

  /* -------------------
       Brand Colors
  -------------------- */

  --facebook-color: #1877F2;
  --twitter-color: #55ACEE;
  --google-plus-color: #DD4B39;
  --linked-in-color: #1F88BE;
  --youtube-color: #FF0000;
  --pinterest-color: #BD081C;
  --instagram-color: #FD1D1D;
  --instagram-gradient: linear-gradient(45deg, #F09433 0%, #E6683C 25%, #DC2743 50%, #CC2366 75%, #BC1888 100%);

  /* -------------------
       Border Colors
  -------------------- */

  /* color base */
  --black-border-lch: 0.2 0.01 279.32;
  --white-border-lch: 0.96 0.01 279.32;

  /* theme mutable border */
  --standard-border-color: var(--black-border-lch);
  --inverted-border-color: var(--white-border-lch);

  --border-color: oklch(var(--standard-border-color) / 15%);
  --internal-border-color: oklch(var(--standard-border-color) / 10%);

  /* black - dark/light theme immutable */
  --black-border-color: oklch(var(--black-border-lch) / 15%);
  --selected-black-border-color: oklch(var(--black-border-lch) / 80%);

  /* white - dark/light theme immutable */
  --white-border-color: oklch(var(--white-border-lch) / 10%);
  --selected-white-border-color: oklch(var(--white-border-lch) / 80%);

  /* strength */
  --subtle-border-color: oklch(var(--standard-border-color) / 8%);
  --strong-border-color: oklch(var(--standard-border-color) / 22%);

  /* states */
  --selected-border-color: oklch(var(--standard-border-color) / 35%);
  --strong-selected-border-color: oklch(var(--standard-border-color) / 50%);
  --disabled-border-color: oklch(var(--standard-border-color) / 5%);

  /* solids */
  --solid-internal-border-color: oklch(0.95 0 0 / 100%);;
  --solid-border-color: #D4D4D5;
  --solid-selected-border-color: #BCBDBD;
  --solid-white-border-color: var(--white-solid-10);
  --selected-solid-white-border-color: #999999;

  /* -------------------
         Borders
  -------------------- */

  /* dark / light theme - variant */
  --border-color: oklch(var(--standard-border-color) / 15%);
  --border: 1px solid var(--border-color);

  /* black - theme invariant */
  --black-border: 1px solid var(--black-border-color);
  --selected-black-border: 1px solid var(--selected-black-border-color);
  --internal-border: 1px solid var(--internal-border-color);

  /* white - theme invariant */
  --white-border: 1px solid var(--white-border-color);
  --selected-white-border: 1px solid var(--selected-white-border-color);

  /* strength */
  --subtle-border: 1px solid var(--subtle-border-color);
  --strong-border: 1px solid var(--strong-border-color);

  /* states */
  --selected-border: 1px solid var(--selected-border-color);
  --strong-selected-border: 1px solid var(--strong-selected-border-color);
  --disabled-border: 1px solid var(--disabled-border-color);

  /* solids */
  --solid-border: 1px solid var(--solid-border-color);

  /* -------------------
      Derived Values
  -------------------- */

  /* Loaders Position Offset */
  --loader-offset: calc(var(--loader-size) / 2 * -1);
  --loader-margin: var(--loader-offset) 0em 0em var(--loader-offset);

  /* Rendered Scrollbar Width */
  --default-scrollbar-width: 17px;

  /* Maximum Single Character Glyph Width, aka Capital "W" */
  --glyph-width: 1.1em;

  /* Used to match floats with text */
  --line-height-offset: calc((var(--line-height) - 1em) / 2);
  --header-line-height-offset: calc(var(--header-line-height) - 1em) / 2;

  /* Header Spacing */
  --header-top-margin: calc(2rem - var(--header-line-height-offset));
  --header-bottom-margin: 1rem;
  --header-margin: var(--header-top-margin) 0em var(--header-bottom-margin);

  /* Minimum Mobile Width */
  --page-min-width: 320px;

  /* Positive / Negative Dupes */
  --success-background-color: var(--positive-background-color);
  --success-color: var(--positive-color);
  --success-border-color: var(--positive-border-color);
  --success-header-color: var(--positive-header-color);
  --success-text-color: var(--positive-text-color);

  --error-background-color: var(--negative-background-color);
  --error-color: var(--negative-color);
  --error-border-color: var(--negative-border-color);
  --error-header-color: var(--negative-header-color);
  --error-text-color: var(--negative-text-color);

  /* Responsive */
  --largest-mobile-screen: calc(var(--tablet-breakpoint) - 1px);
  --largest-tablet-screen: calc(var(--computer-breakpoint) - 1px);
  --largest-small-monitor: calc(var(--large-monitor-breakpoint) - 1px);
  --largest-large-monitor: calc(var(--widescreen-monitor-breakpoint) - 1px);

  /* -------------------
       Sizing Values
  -------------------- */

  /*
    These are the pixel values expressed as a ratio of base em
    This is used to calculate em sizing

  */

  /* rem (relative to html/body tag) */
  --mini: calc(var(--mini-ratio) * 1rem);
  --tiny: calc(var(--tiny-ratio) * 1rem);
  --small: calc(var(--small-ratio) * 1rem);
  --medium: calc(var(--medium-ratio) * 1rem);
  --large: calc(var(--large-ratio) * 1rem);
  --big: calc(var(--big-ratio) * 1rem);
  --huge: calc(var(--huge-ratio) * 1rem);
  --massive: calc(var(--massive-ratio) * 1rem);

  /* em (relative to container) */
  --relative-mini: calc(var(--mini-ratio) * 1em);
  --relative-tiny: calc(var(--tiny-ratio) * 1em);
  --relative-small: calc(var(--small-ratio) * 1em);
  --relative-medium: calc(var(--medium-ratio) * 1em);
  --relative-large: calc(var(--large-ratio) * 1em);
  --relative-big: calc(var(--big-ratio) * 1em);
  --relative-huge: calc(var(--huge-ratio) * 1em);
  --relative-massive: calc(var(--massive-ratio) * 1em);

  /* -------------------
    Exact Pixel Values
  -------------------- */
  /*
    These are used to specify exact pixel values in em
    for things like borders that remain constantly
    sized as emSize adjusts

    Since there are many more sizes than names for sizes,
    these are named by their original pixel values.

  */

  --1px: calc((1 / var(--em-size)) * 1rem);
  --2px: calc((2 / var(--em-size)) * 1rem);
  --3px: calc((3 / var(--em-size)) * 1rem);
  --4px: calc((4 / var(--em-size)) * 1rem);
  --5px: calc((5 / var(--em-size)) * 1rem);
  --6px: calc((6 / var(--em-size)) * 1rem);
  --7px: calc((7 / var(--em-size)) * 1rem);
  --8px: calc((8 / var(--em-size)) * 1rem);
  --9px: calc((9 / var(--em-size)) * 1rem);
  --10px: calc((10 / var(--em-size)) * 1rem);
  --11px: calc((11 / var(--em-size)) * 1rem);
  --12px: calc((12 / var(--em-size)) * 1rem);
  --13px: calc((13 / var(--em-size)) * 1rem);
  --14px: calc((14 / var(--em-size)) * 1rem);
  --15px: calc((15 / var(--em-size)) * 1rem);
  --16px: calc((16 / var(--em-size)) * 1rem);
  --17px: calc((17 / var(--em-size)) * 1rem);
  --18px: calc((18 / var(--em-size)) * 1rem);
  --19px: calc((19 / var(--em-size)) * 1rem);
  --20px: calc((20 / var(--em-size)) * 1rem);
  --21px: calc((21 / var(--em-size)) * 1rem);
  --22px: calc((22 / var(--em-size)) * 1rem);
  --23px: calc((23 / var(--em-size)) * 1rem);
  --24px: calc((24 / var(--em-size)) * 1rem);
  --25px: calc((25 / var(--em-size)) * 1rem);
  --26px: calc((26 / var(--em-size)) * 1rem);
  --27px: calc((27 / var(--em-size)) * 1rem);
  --28px: calc((28 / var(--em-size)) * 1rem);
  --29px: calc((29 / var(--em-size)) * 1rem);
  --30px: calc((30 / var(--em-size)) * 1rem);
  --31px: calc((31 / var(--em-size)) * 1rem);
  --32px: calc((32 / var(--em-size)) * 1rem);
  --33px: calc((33 / var(--em-size)) * 1rem);
  --34px: calc((34 / var(--em-size)) * 1rem);
  --35px: calc((35 / var(--em-size)) * 1rem);
  --36px: calc((36 / var(--em-size)) * 1rem);
  --37px: calc((37 / var(--em-size)) * 1rem);
  --38px: calc((38 / var(--em-size)) * 1rem);
  --39px: calc((39 / var(--em-size)) * 1rem);
  --40px: calc((40 / var(--em-size)) * 1rem);
  --41px: calc((41 / var(--em-size)) * 1rem);
  --42px: calc((42 / var(--em-size)) * 1rem);
  --43px: calc((43 / var(--em-size)) * 1rem);
  --44px: calc((44 / var(--em-size)) * 1rem);
  --45px: calc((45 / var(--em-size)) * 1rem);
  --46px: calc((46 / var(--em-size)) * 1rem);
  --47px: calc((47 / var(--em-size)) * 1rem);
  --48px: calc((48 / var(--em-size)) * 1rem);
  --49px: calc((49 / var(--em-size)) * 1rem);
  --50px: calc((50 / var(--em-size)) * 1rem);
  --51px: calc((51 / var(--em-size)) * 1rem);
  --52px: calc((52 / var(--em-size)) * 1rem);
  --53px: calc((53 / var(--em-size)) * 1rem);
  --54px: calc((54 / var(--em-size)) * 1rem);
  --55px: calc((55 / var(--em-size)) * 1rem);
  --56px: calc((56 / var(--em-size)) * 1rem);
  --57px: calc((57 / var(--em-size)) * 1rem);
  --58px: calc((58 / var(--em-size)) * 1rem);
  --59px: calc((59 / var(--em-size)) * 1rem);
  --60px: calc((60 / var(--em-size)) * 1rem);
  --61px: calc((61 / var(--em-size)) * 1rem);
  --62px: calc((62 / var(--em-size)) * 1rem);
  --63px: calc((63 / var(--em-size)) * 1rem);
  --64px: calc((64 / var(--em-size)) * 1rem);

  --relative-1px: calc((1 / var(--em-size)) * 1em);
  --relative-2px: calc((2 / var(--em-size)) * 1em);
  --relative-3px: calc((3 / var(--em-size)) * 1em);
  --relative-4px: calc((4 / var(--em-size)) * 1em);
  --relative-5px: calc((5 / var(--em-size)) * 1em);
  --relative-6px: calc((6 / var(--em-size)) * 1em);
  --relative-7px: calc((7 / var(--em-size)) * 1em);
  --relative-8px: calc((8 / var(--em-size)) * 1em);
  --relative-9px: calc((9 / var(--em-size)) * 1em);
  --relative-10px: calc((10 / var(--em-size)) * 1em);
  --relative-11px: calc((11 / var(--em-size)) * 1em);
  --relative-12px: calc((12 / var(--em-size)) * 1em);
  --relative-13px: calc((13 / var(--em-size)) * 1em);
  --relative-14px: calc((14 / var(--em-size)) * 1em);
  --relative-15px: calc((15 / var(--em-size)) * 1em);
  --relative-16px: calc((16 / var(--em-size)) * 1em);
  --relative-17px: calc((17 / var(--em-size)) * 1em);
  --relative-18px: calc((18 / var(--em-size)) * 1em);
  --relative-19px: calc((19 / var(--em-size)) * 1em);
  --relative-20px: calc((20 / var(--em-size)) * 1em);
  --relative-21px: calc((21 / var(--em-size)) * 1em);
  --relative-22px: calc((22 / var(--em-size)) * 1em);
  --relative-23px: calc((23 / var(--em-size)) * 1em);
  --relative-24px: calc((24 / var(--em-size)) * 1em);
  --relative-25px: calc((25 / var(--em-size)) * 1em);
  --relative-26px: calc((26 / var(--em-size)) * 1em);
  --relative-27px: calc((27 / var(--em-size)) * 1em);
  --relative-28px: calc((28 / var(--em-size)) * 1em);
  --relative-29px: calc((29 / var(--em-size)) * 1em);
  --relative-30px: calc((30 / var(--em-size)) * 1em);
  --relative-31px: calc((31 / var(--em-size)) * 1em);
  --relative-32px: calc((32 / var(--em-size)) * 1em);
  --relative-33px: calc((33 / var(--em-size)) * 1em);
  --relative-34px: calc((34 / var(--em-size)) * 1em);
  --relative-35px: calc((35 / var(--em-size)) * 1em);
  --relative-36px: calc((36 / var(--em-size)) * 1em);
  --relative-37px: calc((37 / var(--em-size)) * 1em);
  --relative-38px: calc((38 / var(--em-size)) * 1em);
  --relative-39px: calc((39 / var(--em-size)) * 1em);
  --relative-40px: calc((40 / var(--em-size)) * 1em);
  --relative-41px: calc((41 / var(--em-size)) * 1em);
  --relative-42px: calc((42 / var(--em-size)) * 1em);
  --relative-43px: calc((43 / var(--em-size)) * 1em);
  --relative-44px: calc((44 / var(--em-size)) * 1em);
  --relative-45px: calc((45 / var(--em-size)) * 1em);
  --relative-46px: calc((46 / var(--em-size)) * 1em);
  --relative-47px: calc((47 / var(--em-size)) * 1em);
  --relative-48px: calc((48 / var(--em-size)) * 1em);
  --relative-49px: calc((49 / var(--em-size)) * 1em);
  --relative-50px: calc((50 / var(--em-size)) * 1em);
  --relative-51px: calc((51 / var(--em-size)) * 1em);
  --relative-52px: calc((52 / var(--em-size)) * 1em);
  --relative-53px: calc((53 / var(--em-size)) * 1em);
  --relative-54px: calc((54 / var(--em-size)) * 1em);
  --relative-55px: calc((55 / var(--em-size)) * 1em);
  --relative-56px: calc((56 / var(--em-size)) * 1em);
  --relative-57px: calc((57 / var(--em-size)) * 1em);
  --relative-58px: calc((58 / var(--em-size)) * 1em);
  --relative-59px: calc((59 / var(--em-size)) * 1em);
  --relative-60px: calc((60 / var(--em-size)) * 1em);
  --relative-61px: calc((61 / var(--em-size)) * 1em);
  --relative-62px: calc((62 / var(--em-size)) * 1em);
  --relative-63px: calc((63 / var(--em-size)) * 1em);
  --relative-64px: calc((64 / var(--em-size)) * 1em);


  /*******************************
               States
  *******************************/

  --recessed-opacity: 0.4;
  --disabled-opacity: 0.4;
  --hover-lightness: 0.05;
  --focus-lightness: -0.05;
  --down-lightness: -0.08;
  --active-lightness: -0.08;
  --link-opacity: 0.6;


  /*******************************
           Not Yet Used
  *******************************/

  /* Columns */
  --one-wide: calc(1 / var(--column-count) * 100%);
  --two-wide: calc(2 / var(--column-count) * 100%);
  --three-wide: calc(3 / var(--column-count) * 100%);
  --four-wide: calc(4 / var(--column-count) * 100%);
  --five-wide: calc(5 / var(--column-count) * 100%);
  --six-wide: calc(6 / var(--column-count) * 100%);
  --seven-wide: calc(7 / var(--column-count) * 100%);
  --eight-wide: calc(8 / var(--column-count) * 100%);
  --nine-wide: calc(9 / var(--column-count) * 100%);
  --ten-wide: calc(10 / var(--column-count) * 100%);
  --eleven-wide: calc(11 / var(--column-count) * 100%);
  --twelve-wide: calc(12 / var(--column-count) * 100%);
  --thirteen-wide: calc(13 / var(--column-count) * 100%);
  --fourteen-wide: calc(14 / var(--column-count) * 100%);
  --fifteen-wide: calc(15 / var(--column-count) * 100%);
  --sixteen-wide: calc(16 / var(--column-count) * 100%);

  --one-column: calc(1 / 1 * 100%);
  --two-column: calc(1 / 2 * 100%);
  --three-column: calc(1 / 3 * 100%);
  --four-column: calc(1 / 4 * 100%);
  --five-column: calc(1 / 5 * 100%);
  --six-column: calc(1 / 6 * 100%);
  --seven-column: calc(1 / 7 * 100%);
  --eight-column: calc(1 / 8 * 100%);
  --nine-column: calc(1 / 9 * 100%);
  --ten-column: calc(1 / 10 * 100%);
  --eleven-column: calc(1 / 11 * 100%);
  --twelve-column: calc(1 / 12 * 100%);
  --thirteen-column: calc(1 / 13 * 100%);
  --fourteen-column: calc(1 / 14 * 100%);
  --fifteen-column: calc(1 / 15 * 100%);
  --sixteen-column: calc(1 / 16 * 100%);

}




html.dark {

  --dark-mode: true;
  --page-background: #000000;

  --standard-color: var(--white-lch);
  --inverted-color: var(--black-lch);

  --standard-border-color: var(--white-border-lch);
  --inverted-border-color: var(--black-border-lch);

  --text-color: var(--standard-90);
  --header-color: var(--standard-100);

  --link-color: oklch(0.74 0.15 249.95);
  --link-hover-color: oklch(0.7 0.18 250.31);

  --solid-border-color: #222222;
  --solid-border: 1px solid var(--solid-border-color);

  --primary-text-color: var(--primary-light-text-color);

  /* We need to boost some black colors to be noticable in dark mode */
  --subtle-transparent-black: oklch(var(--black-lch) / 5%);
  --transparent-black: oklch(var(--black-lch) / 15%);
  --strong-transparent-black: oklch(var(--black-lch) / 20%);
  --very-strong-transparent-black: oklch(var(--black-lch) / 20%);

  --subtle-transparent-white: oklch(var(--white-lch) / 5%);
  --transparent-white: oklch(var(--white-lch) / 8%);
  --strong-transparent-white: oklch(var(--white-lch) / 13%);
  --very-strong-transparent-white: oklch(var(--white-lch) / 18%);

  /* We need to boost some gradients to be noticable in dark mode */
  --subtle-gradient: linear-gradient(var(--transparent-white), var(--transparent-black));
  --subtle-shadow: 0px 1px 2px 0 var(--transparent-black);
  --subtle-inset-shadow: 0px 2px 3px 0 var(--transparent-black) inset;

  /* Lip Shadow */
  --subtle-top-lip-shadow: 0px var(--subtle-lip-distance) var(--subtle-lip-spread) var(--subtle-lip-reduce) var(--strong-transparent-black) inset;
  --subtle-bottom-lip-shadow: 0px var(--subtle-lip-distance-inverse) var(--subtle-lip-spread) var(--subtle-lip-reduce) var(--strong-transparent-black) inset;
  --subtle-left-lip-shadow: var(--subtle-lip-distance) 0px var(--subtle-lip-spread) var(--subtle-lip-reduce) var(--strong-transparent-black) inset;
  --subtle-right-lip-shadow: var(--subtle-lip-distance-inverse) 0px var(--subtle-lip-spread) var(--subtle-lip-reduce) var(--strong-transparent-black) inset;

}


