/*******************************
         Site Settings
*******************************/

@import url('https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin');

:root {

  /* -------------------
         Fonts
  -------------------- */

  --font-name: 'Lato';
  --font-smoothing: antialiased;

  --header-font: var(--font-name), 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
  --page-font: var(--font-name), 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;

  --bold: bold;
  --normal: normal;

  /* -------------------
        Global Size
  -------------------- */

  /*
    All UI is RELATIVELY SIZED in EMs
    Sizing up this base unit will increase the size of "medium"
    for all UI

    It is common for dense web apps to use 13px and more friendly apps to use 14px
    but for blog/marketing it may make sense to increase up to 16px
  */

  /* Size of UI medium size */
  --em-size: 14;

  /* Size of page font */
  --font-size: calc(var(--em-size) * 1px);

  /* -------------------
          Sizes
  -------------------- */

  /*
    For sizes to resolve to exact pixels modify the NUMERATOR to the desired pixel value
    and the DENOMINATOR to the base em size

    We dont use a var for the denominator otherwise toggling EM size var would not scale
    since the ratios would be skewed

    @small = 13/14 = 0.928rem = 13px
  */

  --mini-ratio: calc(11 / 14);
  --tiny-ratio: calc(12 / 14);
  --small-ratio: calc(13 / 14);
  --medium-ratio: calc(14 / 14);
  --large-ratio: calc(16 / 14);
  --big-ratio: calc(18 / 14);
  --huge-ratio: calc(20 / 14);
  --massive-ratio: calc(24 / 14);

  /* -------------------
      Border Radius
  -------------------- */

  /* See Power-user section below
     for explanation of px variables
  */
  --relative-border-radius: var(--relative-4px);
  --absolute-border-radius: var(--4px);

  --default-border-radius: var(--absolute-border-radius);

  /* -------------------
      Brand Colors
  -------------------- */

  --primary-color: var(--blue);

  --secondary-color: var(--black);

  --light-primary-color: var(--light-blue);
  --light-secondary-color: var(--light-black);

  /* --------------
    Page Heading
  --------------- */

  --header-font-weight: var(--bold);
  --header-line-height: calc((18 / 14) * 1em);

  --h1: calc(28 / 14 * 1rem);
  --h2: calc(24 / 14 * 1rem);
  --h3: calc(18 / 14 * 1rem);
  --h4: calc(15 / 14 * 1rem);
  --h5: calc(14 / 14 * 1rem);

  /* --------------
     Form Input
  --------------- */

  /* This adjusts the default form input across all elements */
  --input-background: var(--white);
  --input-vertical-padding: var(--relative-10px);
  --input-horizontal-padding: var(--relative-12px);
  --input-padding: var(--input-vertical-padding) var(--input-horizontal-padding);

  /* Input Text Color */
  --input-color: var(--text-color);
  --input-placeholder-color: oklch(from var(--input-color) calc(l + 75) c h);
  --input-placeholder-focus-color: oklch(from var(--input-color), calc(l + 45) c h);

  /* Line Height Default For Inputs in Browser (Descenders are 17px at 14px base em) */
  --input-line-height: calc((17 / 14) * 1em);

  /* -------------------
      Focused Input
  -------------------- */

  /* Used on inputs, textarea etc */
  --focused-form-border-color: #85B7D9;

  /* Used on dropdowns, other larger blocks */
  --focused-form-muted-border-color: #96C8DA;



  /* -------------------
          Page
  -------------------- */

  --page-background: #FFFFFF;
  --page-overflow-x: hidden;

  --line-height: 1.4285714em;
  --text-color: rgb(0 0 0 / 87%);

  /* -------------------
        Paragraph
  -------------------- */

  --paragraph-margin: 0em 0em 1em;
  --paragraph-line-height: var(--line-height);

  /* -------------------
         Links
  -------------------- */

  --link-color: #4183C4;
  --link-underline: none;
  --link-hover-color: oklch(from var(--link-color) calc(l + 20) c calc(h + 15));
  --link-hover-underline: var(--link-underline);

  /* -------------------
      Scroll Bars
  -------------------- */

  --use-custom-scrollbars: true;

  --custom-scrollbar-width: 10px;
  --custom-scrollbar-height: 10px;

  --track-background: rgb(0 0 0 / 10%);
  --track-border-radius: 0px;

  --thumb-border-radius: 5px;
  --thumb-background: rgb(0 0 0 / 25%);
  --thumb-transition: color 0.2s ease;

  --thumb-inactive-background: rgb(0 0 0 / 15%);
  --thumb-hover-background: rgb(128 135 139 / 80%);

  /* Inverted */
  --track-inverted-background: rgb(255 255 255 / 10%);
  --thumb-inverted-background: rgb(255 255 255 / 25%);
  --thumb-inverted-inactive-background: rgb(255 255 255 / 15%);
  --thumb-inverted-hover-background: rgb(255 255 255 / 35%);

  /* -------------------
    Highlighted Text
  -------------------- */

  --highlight-background: #CCE2FF;
  --highlight-color: var(--text-color);

  --input-highlight-background: rgb(100 100 100 / 40%);
  --input-highlight-color: var(--text-color);


  /* -------------------
         Loader
  -------------------- */

  --loader-size: var(--13px);
  --loader-speed: 0.6s;
  --loader-line-width: var(--2px);
  --loader-fill-color: rgb(0 0 0 / 10%);
  --loader-line-color: var(--grey);

  --inverted-loader-fill-color: rgb(255 255 255 / 15%);
  --inverted-loader-line-color: var(--white);

  /* -------------------
          Grid
  -------------------- */

  --column-count: 16;

  /* -------------------
       Transitions
  -------------------- */

  --default-duration: 0.1s;
  --default-easing: ease;

  /* -------------------
       Breakpoints
  -------------------- */

  --mobile-breakpoint: 320px;
  --tablet-breakpoint: 768px;
  --computer-breakpoint: 992px;
  --large-monitor-breakpoint: 1200px;
  --widescreen-monitor-breakpoint: 1920px;

  /* -------------------
        Site Colors
  -------------------- */

  /* ---  Colors  --- */
  --red: #DB2828;
  --orange: #F2711C;
  --yellow: #FBBD08;
  --olive: #B5CC18;
  --green: #21BA45;
  --teal: #00B5AD;
  --blue: #2185D0;
  --violet: #6435C9;
  --purple: #A333C8;
  --pink: #E03997;
  --brown: #A5673F;
  --grey: #767676;
  --black: #1B1C1D;

  /* ---  Light Colors  --- */
  --light-red: #FF695E;
  --light-orange: #FF851B;
  --light-yellow: #FFE21F;
  --light-olive: #D9E778;
  --light-green: #2ECC40;
  --light-teal: #6DFFFF;
  --light-blue: #54C8FF;
  --light-violet: #A291FB;
  --light-purple: #DC73FF;
  --light-pink: #FF8EDF;
  --light-brown: #D67C1C;
  --light-grey: #DCDDDE;
  --light-black: #545454;

  /* ---   Neutrals  --- */
  --full-black: #000000;
  --off-white: #F9FAFB;
  --dark-white: #F3F4F5;
  --mid-white: #DCDDDE;
  --white: #FFFFFF;

  /* --- Colored Backgs --- */
  --red-background: #FFE8E6;
  --orange-background: #FFEDDE;
  --yellow-background: #FFF8DB;
  --olive-background: #FBFDEF;
  --green-background: #E5F9E7;
  --teal-background: #E1F7F7;
  --blue-background: #DFF0FF;
  --violet-background: #EAE7FF;
  --purple-background: #F6E7FF;
  --pink-background: #FFE3FB;
  --brown-background: #F1E2D3;

  /* --- Colored Headers --- */
  --red-header-color: oklch(from var(--red-text-color) calc(l - 0.05) c h);
  --olive-header-color: oklch(from var(--olive-text-color) calc(l - 0.05) c h);
  --green-header-color: oklch(from var(--green-text-color) calc(l - 0.05) c h);
  --yellow-header-color: oklch(from var(--yellow-text-color) calc(l - 0.05) c h);
  --blue-header-color: oklch(from var(--blue-text-color) calc(l - 0.05) c h);
  --teal-header-color: oklch(from var(--teal-text-color) calc(l - 0.05) c h);
  --pink-header-color: oklch(from var(--pink-text-color) calc(l - 0.05) c h);
  --violet-header-color: oklch(from var(--violet-text-color) calc(l - 0.05) c h);
  --purple-header-color: oklch(from var(--purple-text-color) calc(l - 0.05) c h);
  --orange-header-color: oklch(from var(--orange-text-color) calc(l - 0.05) c h);
  --brown-header-color: oklch(from var(--brown-text-color) calc(l - 0.05) c h);

  /* --- Colored Text --- */
  --red-text-color: var(--red);
  --orange-text-color: var(--orange);
  --yellow-text-color: #B58105; /* Yellow text is difficult to read */
  --olive-text-color: #8ABC1E; /* Olive is difficult to read */
  --green-text-color: #1EBC30; /* Green is difficult to read */
  --teal-text-color: #10A3A3; /* Teal text is difficult to read */
  --blue-text-color: var(--blue);
  --violet-text-color: var(--violet);
  --purple-text-color: var(--purple);
  --pink-text-color: var(--pink);
  --brown-text-color: var(--brown);

  /* --- Colored Border --- */
  --red-border-color: var(--red-text-color);
  --orange-border-color: var(--orange-text-color);
  --yellow-border-color: var(--yellow-text-color);
  --olive-border-color: var(--olive-text-color);
  --green-border-color: var(--green-text-color);
  --teal-border-color: var(--teal-text-color);
  --blue-border-color: var(--blue-text-color);
  --violet-border-color: var(--violet-text-color);
  --purple-border-color: var(--purple-text-color);
  --pink-border-color: var(--pink-text-color);
  --brown-border-color: var(--brown-text-color);

  /* -------------------
       Alpha Colors
  -------------------- */

  --subtle-transparent-black: rgb(0 0 0 / 3%);
  --transparent-black: rgb(0 0 0 / 5%);
  --strong-transparent-black: rgb(0 0 0 / 8%);
  --very-strong-transparent-black: rgb(0 0 0 / 15%);

  --subtle-transparent-white: rgb(255 255 255 / 5%);
  --transparent-white: rgb(255 255 255 / 8%);
  --strong-transparent-white: rgb(255 255 255 / 15%);

  /* -------------------
         Accents
  -------------------- */

  /* Differentiating Neutrals */
  --subtle-gradient: linear-gradient(var(--subtle-transparent-white), var(--strong-transparent-black));

  /* Differentiating Layers */
  --subtle-shadow:
    0px 1px 2px 0 var(--strong-transparent-black)
  ;
  --subtle-inset-shadow:
    0px 2px 3px 0 var(--strong-transparent-black) inset
  ;
  --floating-shadow:
    0px 2px 4px 0px rgb(34 36 38 12%),
    0px 2px 10px 0px rgb(34 36 38 15%)
  ;

  /*******************************
             Power-User
  *******************************/


  /* -------------------
      Emotive Colors
  -------------------- */


/*--------------
     Messages
---------------*/


  /* Positive */
  --positive-color: var(--green);
  --positive-background-color: #F0F7F3;
  --positive-border-color: #CCEAD9;
  --positive-header-color: #1A531B;
  --positive-text-color: var(--green-text-color);

  /* Negative */
  --negative-color: var(--red);
  --negative-background-color: #F9F1F1;
  --negative-border-color: #E6D9D9;
  --negative-header-color: #C55250;
  --negative-text-color: var(--red-text-color);

  /* Info */
  --info-color: #318291;
  --info-background-color: #FAFDFD;
  --info-border-color: #B0D8D8;
  --info-header-color: #0E566C;
  --info-text-color: #276F86;

  /* Warning */
  --warning-color: #D7922E;
  --warning-border-color: #CAC09D;
  --warning-background-color: #FFFAF8;
  --warning-header-color: #794B02;
  --warning-text-color: var(--orange-text-color);

  /* -------------------
       Neutral Text
  -------------------- */

  --dark-text-color: rgb(0 0 0 / 85%);
  --muted-text-color: rgb(0 0 0 / 60%);
  --light-text-color: rgb(0 0 0 / 40%);

  --unselected-text-color: rgb(0 0 0 / 40%);
  --hovered-text-color: rgb(0 0 0 / 80%);
  --pressed-text-color: rgb(0 0 0 / 90%);
  --selected-text-color: rgb(0 0 0 / 95%);
  --disabled-text-color: rgb(0 0 0 / 20%);

  --inverted-text-color: rgb(255 255 255 / 90%);
  --inverted-muted-text-color: rgb(255 255 255 / 80%);
  --inverted-light-text-color: rgb(255 255 255 / 70%);
  --inverted-unselected-text-color: rgb(255 255 255 / 50%);
  --inverted-hovered-text-color: rgb(255 255 255 / 100%);
  --inverted-pressed-text-color: rgb(255 255 255 / 100%);
  --inverted-selected-text-color: rgb(255 255 255 / 100%);
  --inverted-disabled-text-color: rgb(255 255 255 / 20%);

  /* -------------------
       Brand Colors
  -------------------- */

  --facebook-color: #3B5998;
  --twitter-color: #55ACEE;
  --google-plus-color: #DD4B39;
  --linked-in-color: #1F88BE;
  --youtube-color: #FF0000;
  --pinterest-color: #BD081C;
  --vk-color: #4D7198;
  --instagram-color: #49769C;

  /* -------------------
        Borders
  -------------------- */

  --circular-radius: 500rem;

  --border-color: rgba(34, 36, 38, 0.15);
  --strong-border-color: rgba(34, 36, 38, 0.22);
  --internal-border-color: rgba(34, 36, 38, 0.10);
  --selected-border-color: rgba(34, 36, 38, 0.35);
  --strong-selected-border-color: rgba(34, 36, 38, 0.5);
  --disabled-border-color: rgba(34, 36, 38, 0.5);

  --solid-internal-border-color: #FAFAFA;
  --solid-border-color: #D4D4D5;
  --solid-selected-border-color: #BCBDBD;

  --white-border-color: rgba(255, 255, 255, 0.1);
  --selected-white-border-color: rgba(255, 255, 255, 0.8);

  --solid-white-border-color: #555555;
  --selected-solid-white-border-color: #999999;


  /* -------------------
      Derived Values
  -------------------- */

  /* Loaders Position Offset */
  --loader-offset: calc(var(--loader-size) / 2 * -1);
  --loader-margin: var(--loader-offset) 0em 0em var(--loader-offset);

  /* Rendered Scrollbar Width */
  --scrollbar-width: 17px;

  /* Maximum Single Character Glyph Width, aka Capital "W" */
  --glyph-width: 1.1em;

  /* Used to match floats with text */
  --line-height-offset: calc((var(--line-height) - 1em) / 2);
  --header-line-height-offset: calc(var(--header-line-height) - 1em) / 2;

  /* Header Spacing */
  --header-top-margin: calc(2rem - var(--header-line-height-offset));
  --header-bottom-margin: 1rem;
  --header-margin: var(--header-top-margin) 0em var(--header-bottom-margin);

  /* Minimum Mobile Width */
  --page-min-width: 320px;

  /* Positive / Negative Dupes */
  --success-background-color: var(--positive-background-color);
  --success-color: var(--positive-color);
  --success-border-color: var(--positive-border-color);
  --success-header-color: var(--positive-header-color);
  --success-text-color: var(--positive-text-color);

  --error-background-color: var(--negative-background-color);
  --error-color: var(--negative-color);
  --error-border-color: var(--negative-border-color);
  --error-header-color: var(--negative-header-color);
  --error-text-color: var(--negative-text-color);


  /* Responsive */
  --largest-mobile-screen: calc(var(--tablet-breakpoint) - 1px);
  --largest-tablet-screen: calc(var(--computer-breakpoint) - 1px);
  --largest-small-monitor: calc(var(--large-monitor-breakpoint) - 1px);
  --largest-large-monitor: calc(var(--widescreen-monitor-breakpoint) - 1px);

  /* -------------------
       Sizing Values
  -------------------- */

  /*
    These are the pixel values expressed as a ratio of base em
    This is used to calculate em sizing

  */

  /* rem (relative to html/body tag) */
  --mini: calc(var(--mini-ratio) * 1rem);
  --tiny: calc(var(--tiny-ratio) * 1rem);
  --small: calc(var(--small-ratio) * 1rem);
  --medium: calc(var(--medium-ratio) * 1rem);
  --large: calc(var(--large-ratio) * 1rem);
  --big: calc(var(--big-ratio) * 1rem);
  --huge: calc(var(--huge-ratio) * 1rem);
  --massive: calc(var(--massive-ratio) * 1rem);

  /* em (relative to container) */
  --relative-mini: calc(var(--mini-ratio) * 1em);
  --relative-tiny: calc(var(--tiny-ratio) * 1em);
  --relative-small: calc(var(--small-ratio) * 1em);
  --relative-medium: calc(var(--medium-ratio) * 1em);
  --relative-large: calc(var(--large-ratio) * 1em);
  --relative-big: calc(var(--big-ratio) * 1em);
  --relative-huge: calc(var(--huge-ratio) * 1em);
  --relative-massive: calc(var(--massive-ratio) * 1em);

  /* -------------------
    Exact Pixel Values
  -------------------- */
  /*
    These are used to specify exact pixel values in em
    for things like borders that remain constantly
    sized as emSize adjusts

    Since there are many more sizes than names for sizes,
    these are named by their original pixel values.

  */

  --1px: calc((1 / var(--em-size)) * 1rem);
  --2px: calc((2 / var(--em-size)) * 1rem);
  --3px: calc((3 / var(--em-size)) * 1rem);
  --4px: calc((4 / var(--em-size)) * 1rem);
  --5px: calc((5 / var(--em-size)) * 1rem);
  --6px: calc((6 / var(--em-size)) * 1rem);
  --7px: calc((7 / var(--em-size)) * 1rem);
  --8px: calc((8 / var(--em-size)) * 1rem);
  --9px: calc((9 / var(--em-size)) * 1rem);
  --10px: calc((10 / var(--em-size)) * 1rem);
  --11px: calc((11 / var(--em-size)) * 1rem);
  --12px: calc((12 / var(--em-size)) * 1rem);
  --13px: calc((13 / var(--em-size)) * 1rem);
  --14px: calc((14 / var(--em-size)) * 1rem);
  --15px: calc((15 / var(--em-size)) * 1rem);
  --16px: calc((16 / var(--em-size)) * 1rem);
  --17px: calc((17 / var(--em-size)) * 1rem);
  --18px: calc((18 / var(--em-size)) * 1rem);
  --19px: calc((19 / var(--em-size)) * 1rem);
  --20px: calc((20 / var(--em-size)) * 1rem);
  --21px: calc((21 / var(--em-size)) * 1rem);
  --22px: calc((22 / var(--em-size)) * 1rem);
  --23px: calc((23 / var(--em-size)) * 1rem);
  --24px: calc((24 / var(--em-size)) * 1rem);
  --25px: calc((25 / var(--em-size)) * 1rem);
  --26px: calc((26 / var(--em-size)) * 1rem);
  --27px: calc((27 / var(--em-size)) * 1rem);
  --28px: calc((28 / var(--em-size)) * 1rem);
  --29px: calc((29 / var(--em-size)) * 1rem);
  --30px: calc((30 / var(--em-size)) * 1rem);
  --31px: calc((31 / var(--em-size)) * 1rem);
  --32px: calc((32 / var(--em-size)) * 1rem);
  --33px: calc((33 / var(--em-size)) * 1rem);
  --34px: calc((34 / var(--em-size)) * 1rem);
  --35px: calc((35 / var(--em-size)) * 1rem);
  --36px: calc((36 / var(--em-size)) * 1rem);
  --37px: calc((37 / var(--em-size)) * 1rem);
  --38px: calc((38 / var(--em-size)) * 1rem);
  --39px: calc((39 / var(--em-size)) * 1rem);
  --40px: calc((40 / var(--em-size)) * 1rem);
  --41px: calc((41 / var(--em-size)) * 1rem);
  --42px: calc((42 / var(--em-size)) * 1rem);
  --43px: calc((43 / var(--em-size)) * 1rem);
  --44px: calc((44 / var(--em-size)) * 1rem);
  --45px: calc((45 / var(--em-size)) * 1rem);
  --46px: calc((46 / var(--em-size)) * 1rem);
  --47px: calc((47 / var(--em-size)) * 1rem);
  --48px: calc((48 / var(--em-size)) * 1rem);
  --49px: calc((49 / var(--em-size)) * 1rem);
  --50px: calc((50 / var(--em-size)) * 1rem);
  --51px: calc((51 / var(--em-size)) * 1rem);
  --52px: calc((52 / var(--em-size)) * 1rem);
  --53px: calc((53 / var(--em-size)) * 1rem);
  --54px: calc((54 / var(--em-size)) * 1rem);
  --55px: calc((55 / var(--em-size)) * 1rem);
  --56px: calc((56 / var(--em-size)) * 1rem);
  --57px: calc((57 / var(--em-size)) * 1rem);
  --58px: calc((58 / var(--em-size)) * 1rem);
  --59px: calc((59 / var(--em-size)) * 1rem);
  --60px: calc((60 / var(--em-size)) * 1rem);
  --61px: calc((61 / var(--em-size)) * 1rem);
  --62px: calc((62 / var(--em-size)) * 1rem);
  --63px: calc((63 / var(--em-size)) * 1rem);
  --64px: calc((64 / var(--em-size)) * 1rem);

  --relative-1px: calc((1 / var(--em-size)) * 1em);
  --relative-2px: calc((2 / var(--em-size)) * 1em);
  --relative-3px: calc((3 / var(--em-size)) * 1em);
  --relative-4px: calc((4 / var(--em-size)) * 1em);
  --relative-5px: calc((5 / var(--em-size)) * 1em);
  --relative-6px: calc((6 / var(--em-size)) * 1em);
  --relative-7px: calc((7 / var(--em-size)) * 1em);
  --relative-8px: calc((8 / var(--em-size)) * 1em);
  --relative-9px: calc((9 / var(--em-size)) * 1em);
  --relative-10px: calc((10 / var(--em-size)) * 1em);
  --relative-11px: calc((11 / var(--em-size)) * 1em);
  --relative-12px: calc((12 / var(--em-size)) * 1em);
  --relative-13px: calc((13 / var(--em-size)) * 1em);
  --relative-14px: calc((14 / var(--em-size)) * 1em);
  --relative-15px: calc((15 / var(--em-size)) * 1em);
  --relative-16px: calc((16 / var(--em-size)) * 1em);
  --relative-17px: calc((17 / var(--em-size)) * 1em);
  --relative-18px: calc((18 / var(--em-size)) * 1em);
  --relative-19px: calc((19 / var(--em-size)) * 1em);
  --relative-20px: calc((20 / var(--em-size)) * 1em);
  --relative-21px: calc((21 / var(--em-size)) * 1em);
  --relative-22px: calc((22 / var(--em-size)) * 1em);
  --relative-23px: calc((23 / var(--em-size)) * 1em);
  --relative-24px: calc((24 / var(--em-size)) * 1em);
  --relative-25px: calc((25 / var(--em-size)) * 1em);
  --relative-26px: calc((26 / var(--em-size)) * 1em);
  --relative-27px: calc((27 / var(--em-size)) * 1em);
  --relative-28px: calc((28 / var(--em-size)) * 1em);
  --relative-29px: calc((29 / var(--em-size)) * 1em);
  --relative-30px: calc((30 / var(--em-size)) * 1em);
  --relative-31px: calc((31 / var(--em-size)) * 1em);
  --relative-32px: calc((32 / var(--em-size)) * 1em);
  --relative-33px: calc((33 / var(--em-size)) * 1em);
  --relative-34px: calc((34 / var(--em-size)) * 1em);
  --relative-35px: calc((35 / var(--em-size)) * 1em);
  --relative-36px: calc((36 / var(--em-size)) * 1em);
  --relative-37px: calc((37 / var(--em-size)) * 1em);
  --relative-38px: calc((38 / var(--em-size)) * 1em);
  --relative-39px: calc((39 / var(--em-size)) * 1em);
  --relative-40px: calc((40 / var(--em-size)) * 1em);
  --relative-41px: calc((41 / var(--em-size)) * 1em);
  --relative-42px: calc((42 / var(--em-size)) * 1em);
  --relative-43px: calc((43 / var(--em-size)) * 1em);
  --relative-44px: calc((44 / var(--em-size)) * 1em);
  --relative-45px: calc((45 / var(--em-size)) * 1em);
  --relative-46px: calc((46 / var(--em-size)) * 1em);
  --relative-47px: calc((47 / var(--em-size)) * 1em);
  --relative-48px: calc((48 / var(--em-size)) * 1em);
  --relative-49px: calc((49 / var(--em-size)) * 1em);
  --relative-50px: calc((50 / var(--em-size)) * 1em);
  --relative-51px: calc((51 / var(--em-size)) * 1em);
  --relative-52px: calc((52 / var(--em-size)) * 1em);
  --relative-53px: calc((53 / var(--em-size)) * 1em);
  --relative-54px: calc((54 / var(--em-size)) * 1em);
  --relative-55px: calc((55 / var(--em-size)) * 1em);
  --relative-56px: calc((56 / var(--em-size)) * 1em);
  --relative-57px: calc((57 / var(--em-size)) * 1em);
  --relative-58px: calc((58 / var(--em-size)) * 1em);
  --relative-59px: calc((59 / var(--em-size)) * 1em);
  --relative-60px: calc((60 / var(--em-size)) * 1em);
  --relative-61px: calc((61 / var(--em-size)) * 1em);
  --relative-62px: calc((62 / var(--em-size)) * 1em);
  --relative-63px: calc((63 / var(--em-size)) * 1em);
  --relative-64px: calc((64 / var(--em-size)) * 1em);

  /* Columns */
  --one-wide: calc(1 / var(--column-count) * 100%);
  --two-wide: calc(2 / var(--column-count) * 100%);
  --three-wide: calc(3 / var(--column-count) * 100%);
  --four-wide: calc(4 / var(--column-count) * 100%);
  --five-wide: calc(5 / var(--column-count) * 100%);
  --six-wide: calc(6 / var(--column-count) * 100%);
  --seven-wide: calc(7 / var(--column-count) * 100%);
  --eight-wide: calc(8 / var(--column-count) * 100%);
  --nine-wide: calc(9 / var(--column-count) * 100%);
  --ten-wide: calc(10 / var(--column-count) * 100%);
  --eleven-wide: calc(11 / var(--column-count) * 100%);
  --twelve-wide: calc(12 / var(--column-count) * 100%);
  --thirteen-wide: calc(13 / var(--column-count) * 100%);
  --fourteen-wide: calc(14 / var(--column-count) * 100%);
  --fifteen-wide: calc(15 / var(--column-count) * 100%);
  --sixteen-wide: calc(16 / var(--column-count) * 100%);

  --one-column: calc(1 / 1 * 100%);
  --two-column: calc(1 / 2 * 100%);
  --three-column: calc(1 / 3 * 100%);
  --four-column: calc(1 / 4 * 100%);
  --five-column: calc(1 / 5 * 100%);
  --six-column: calc(1 / 6 * 100%);
  --seven-column: calc(1 / 7 * 100%);
  --eight-column: calc(1 / 8 * 100%);
  --nine-column: calc(1 / 9 * 100%);
  --ten-column: calc(1 / 10 * 100%);
  --eleven-column: calc(1 / 11 * 100%);
  --twelve-column: calc(1 / 12 * 100%);
  --thirteen-column: calc(1 / 13 * 100%);
  --fourteen-column: calc(1 / 14 * 100%);
  --fifteen-column: calc(1 / 15 * 100%);
  --sixteen-column: calc(1 / 16 * 100%);


  /*******************************
               States
  *******************************/

  --disabled-opacity: 0.45;
  --hover-lightness: 0.05;
  --focus-lightness: -0.05;
  --down-lightness: -0.12;
  --active-lightness: -0.12;
}
