:host {

  --input-background: var(--inverted-100);
  --input-width: 12em;

  /* Input Text Color */
  --input-font-family: var(--page-font);
  --input-font-weight: var(--normal);
  --input-text-color: var(--text-color);

  /* Line Height Default For Inputs in Browser (Descenders are 17px at 14px base em) */
  --input-line-height: var(--relative-17px);
  --input-text-align: left;

  --input-box-shadow: var(--subtle-inset-shadow);
  --input-border: var(--border);
  --input-border-radius: var(--border-radius);

  --input-item-spacing: 5px;

  --input-placeholder-color: var(--standard-15);
  --input-placeholder-focused-color: var(--standard-20);

  --input-transition:
    box-shadow var(--duration) var(--easing),
    border-color var(--duration) var(--easing)
  ;

  --input-icon-right: var(--input-horizontal-padding);
  --input-icon-width: 1em;
  --input-icon-index: var(--page-layer-2);

  --input-label-right: var(--input-horizontal-padding);
  --input-label-font-size: var(--relative-11px);
  --input-label-font-weight: var(--bold);
  --input-label-padding: var(--relative-2px) var(--relative-3px);
  --input-label-color: var(--standard-20);
  --input-label-border: var(--border);
  --input-label-border-radius: var(--border-radius);

  --input-label-with-icon-right: calc( 1em + var(--input-icon-width) + var(--input-icon-right) );
}
