.box {
  padding: var(--16px);
  border: var(--border);
  border-radius: var(--border-radius);

  > .box {
    margin-top: var(--8px);
  }

  &.found {
    border-color: var(--green-border-color);
    background: var(--green-background);
  }
}

p {
  color: var(--muted-text-color);

  .count {
    font-weight: var(--bold);
  }
}
