ui-button {
  margin: 10px 5px;
}

.log {
  margin: 20px 0;
  padding: 15px;
  background: var(--standard-5);
  border: var(--border);
  border-radius: var(--border-radius);
  font-family: monospace;
  min-height: 100px;
}

.log div {
  margin: 5px 0;
  padding: 5px;
  background: var(--standard-10);
  border-radius: var(--border-radius);
}