:host {
  display: block;
  margin: var(--menu-margin);
}
:host::first-child {
  margin-top: 0rem;
}
:host::last-child {
  margin-bottom: 0rem;
}

.menu {
  display: flex;
  flex-direction: row;
  font-weight: var(--menu-font-weight);
  gap: var(--menu-gap);
}
