/* src/components/menu/css/shadow/content/menu.css */
@layer component.content.menu {
  :host {
    display: block;
    margin: var(--menu-margin);
  }
  :host::first-child {
    margin-top: 0rem;
  }
  :host::last-child {
    margin-bottom: 0rem;
  }
  .menu {
    display: flex;
    flex-direction: row;
    font-weight: var(--menu-font-weight);
    gap: var(--menu-gap);
  }
}

/* src/components/menu/css/shadow/types/dashboard.css */
@layer component.types.dashboard {
  .dashboard.menu {
    padding: 11px 14px 11px;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.04));
    font-size: 1em;
    font-weight: bold;
    justify-content: flex-start;
    box-shadow: 0px 2px 2px 0 rgba(34, 36, 38, 0.15);
    min-height: 2.71428571em;
  }
  .dashboard.menu .item {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    padding: 7px 6px;
    line-height: 1;
    margin-right: 6px;
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.6);
  }
  .dashboard.menu .item:last-child {
    margin-right: 0px;
  }
  .dashboard.menu .active.item {
    cursor: default;
    background-color: #d0ebf3;
    color: #013a4f;
    box-shadow: 0px 1px 6px rgba(85, 147, 167, 0.77) inset;
  }
  .dashboard.menu a.item {
    cursor: pointer;
  }
  .dashboard.menu a.item:not(.active):hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  body.dark ui-menu[dashboard] .item {
    color: rgba(255, 255, 255, 0.4);
  }
  body.dark ui-menu[dashboard] a.item:not(.active):hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
  }
  body.dark ui-menu[dashboard] .active.item {
    color: #002A47;
    box-shadow: 0px 0px 10px rgb(0, 92, 165) inset;
    background-color: #35b7f1;
  }
}

/* src/components/menu/css/shadow/variations/evenly-spaced.css */
@layer component.variations.equalWidth {
  .evenly-spaced.menu {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(0, 1fr);
    --menu-item-text-align: var(--menu-evenly-spaced-item-text-align) ;
  }
}

/* src/components/menu/css/shadow/menu.css */
