---
import './DocsMasthead.css';
const { header, description } = Astro.props;
---
<masthead>
  <ui-container>
    <h1>{header}</h1>
    <p>{description}</p>
  </ui-container>
  <ui-menu two-item dashboard>
    <ui-container>
      <a class="active item">Definition</a>
      <a class="item">Settings</a>
    </ui-container>
  </ui-menu>
</masthead>
