---
import { isArray, any } from '@semantic-ui/utils';
import { removeTrailingSlash } from '@helpers/navigation';
import './DocsMasthead.css';
import { UIMenu, MenuItem } from '@semantic-ui/core';
const { tabs, header, description, menu } = Astro.props;

const isURLActive = (url, index) => {
  url = removeTrailingSlash(url);
  if(index == 0 && !any(menu.slice(1), item => Astro.url.pathname === item.url)) {
    return true;
  }
  return Astro.url.pathname == url;
};

const isActive = (url, index) => {
  return isURLActive(url, index) ? true : false;
};

const getLink = (url, index) => {
  return !isURLActive(url, index) ? url : undefined;
};


const menuItems = (menu || []).map((item, index) => ({
  active: isActive(item.url, index),
  href: getLink(item.url, index),
  label: item.text
}));


---
<masthead>
  <ui-container active="true">
    <h1>{header}</h1>
    <p>{description}</p>
    {isArray(menu) && (
      <UIMenu three-item selection items={menuItems}></UIMenu>
    )}
  </ui-container>
</masthead>
