@layer layout {

  layout masthead {
    display: block;
    background: #FFFFFF;
    border-radius: 0px;
    box-shadow: none;
    border: none;
    padding-bottom: 0em;
    z-index: 3;
    margin: 0em;
    padding: 2.5em 0em 2em;
    border-bottom: var(--border);

    ui-container {
      position: relative;
      width: auto;
      max-width: calc(1170px - 3em);
      margin-left: 3em;
      margin-right: calc(var(--rail-width) + 2rem);
    }
    h1 {
      margin-top: -0.14285em;
      font-size: 28px;
      margin-bottom: 0.75rem;
      font-weight: bold;
    }
    h1 + p {
      font-size: 16px;
      margin: 0rem 0rem 1.5rem;
      color: rgba(0, 0, 0, 0.6);
    }
    ui-menu {
      margin-top: 1rem;
      margin-bottom: 0rem;
    }
  }



}
