---
const { currentRoute } = Astro.props;
import './navigation.css';
---
<navigation>
	<div class="content">

	</div>
	<div class="logo">
		<img src="/images/logo.png" class="logo">
		<span>Semantic UI</span>
	</div>
</navigation>
