---
const { currentRoute } = Astro.props;
import './Navigation.css';
---
<navigation>
	<div class="content">
		wee
	</div>
</navigation>

<script>
	const el = document.querySelectorAll('.theme.icon')[0];
	el.addEventListener('click', function() {
		let theme = localStorage.getItem('theme');
		let newTheme = (theme == 'light') ? 'dark' : 'light';
		localStorage.setItem('theme', newTheme);
		let body = document.querySelectorAll('body')[0];
		body.classList.remove(theme);
		body.classList.add(newTheme);
	}, true, true);
</script>
