@layer layout {

  :root {
    --sidebar-background: var(--ui-background-emphasis);
    --sidebar-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3) inset;
    --sidebar-width: 220px;
  }

  html.light {
    --sidebar-background: linear-gradient(140deg, oklch(0.16 0.02 266.69), oklch(0 0 0), oklch(0.13 0.02 266.79));

    ui-menu {

    }
  }

  html.sidebar-collapsed sidebar,
  sidebar.collapsed {
    --sidebar-width: 50px;

    > ui-menu {
      transition: var(--transition);
      margin: 46px 10px 0px;

      &::part(item-icon) {
        font-size: 18px;
      }
    }

    ui-menu::part(item-label),
    nav-menu,
    .subheader {
      display: none;
    }
  }

  sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    background: var(--sidebar-background);
    color: #FFFFFF;
    box-shadow: var(--sidebar-box-shadow);
    width: var(--sidebar-width);
    border: none;
    border-right: var(--very-subtle-border);
    scrollbar-width: thin;
    overflow: hidden;
    transition: width 0.3s ease;

    sidebar-toggle {
      position: absolute;
      right: 6px;
      top: 5px;

      &::part(overlay) {
        background-color: #080B12;
        box-shadow: 0px 0px 2px rgb(164 182 195 / 30%);
      }
    }

    .subheader {
      font-size: 10px;
      margin: 20px 0px 0px 14px;
      text-transform: uppercase;
      color: var(--white-20);
    }

    ui-menu {
      margin: 1rem 1rem 0rem;
      --menu-vertical-text-align: left;
    }
    ui-menu::part(item) {
      white-space: nowrap;
      --menu-item-active-background: #080b12;
      --menu-item-active-color: var(--primary-text-color);
      --menu-item-active-box-shadow: 0px 0px 2px rgb(40 160 255 / 31%);
    }
    nav-menu {
      display: flex;
      flex-direction: column;
      height: 0px; /* confused on this but it works */
      --nav-menu-title-font-size: 13px;
      --nav-menu-item-font-size: 12px;

      &::part(search) {
        margin: 0.5rem 1rem 0rem;
      }
      &::part(content) {
        border-left: var(--internal-border);
        margin-left: 0.5rem;
        padding-left: 1rem;
      }
      &::part(menu) {
        scrollbar-width: thin;
        display: block;
        padding: 0rem 1rem;
        flex-grow: 1;
        overflow-y: scroll;
        border-top: var(--border);
        margin-top: 1rem !important;
        padding: 0.5rem 1rem;
      }
    }
  }

  navSearch.input {
    margin: 1rem;

    .icon {
      color: #FFFFFF;
    }
    input {
      padding: var(--input-padding);
      font-size: 12px;
      border: none;
      border-radius: var(--circular-radius);
      background-color: var(--subtle-transparent-black);
      color: var(--white-50);
      transition: var(--transition);

      &:focus,
      &:hover {
        background-color: var(--transparent-black);
        color: var(--white-100);
      }

    }
  }

  sidebar .toc {
    flex-grow: 1;
    padding-left: 1rem;
    padding-bottom: 1rem;
  }

  sidebar nav-menu {
    margin-top: var(--compact-spacing);
    flex-grow: 1;
  }
}
