@layer layout {

  :root {
    --sidebar-background-color: var(--panel-color);
    --sidebar-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3) inset;
    --sidebar-width: 250px;
  }

  html.dark {
    --sidebar-background-color: oklch(0.17 0.01 234.61);
  }

  sidebar {
    position: static;
    display: flex;
    flex-direction: column;
    background-color: var(--sidebar-background-color);
    color: #FFFFFF;
    box-shadow: var(--sidebar-box-shadow);
    width: var(--sidebar-width);
    border: none;

    nav-menu {
      padding: 0rem 1rem;
    }
  }

  navSearch.input {
    margin: 1rem;

    .icon {
      color: #FFFFFF;
    }
    input {
      padding: var(--input-padding);
      font-size: 12px;
      border: none;
      border-radius: var(--circular-radius);
      background-color: var(--subtle-transparent-black);
      color: var(--white-50);
      transition: var(--transition);

      &:focus,
      &:hover {
        background-color: var(--transparent-black);
        color: var(--white-100);
      }

    }
  }

  sidebar .toc {
    flex-grow: 1;
    padding-left: 1rem;
    padding-bottom: 1rem;
  }

  sidebar nav-menu {
    margin-top: 1rem;
    flex-grow: 1;
  }
}
