@layer layout {

  :root {
    --sidebar-background: var(--ui-background-emphasis);
    --sidebar-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3) inset;
    --sidebar-width: 220px;
  }

  html.light {
    --sidebar-background: linear-gradient(140deg, oklch(0.16 0.02 266.69), oklch(0 0 0), oklch(0.13 0.02 266.79));

    ui-menu {

    }
  }

  sidebar {
    position: static;
    display: flex;
    flex-direction: column;
    background: var(--sidebar-background);
    color: #FFFFFF;
    box-shadow: var(--sidebar-box-shadow);
    width: var(--sidebar-width);
    border: none;
    border-right: var(--very-subtle-border);
    scrollbar-width: thin;

    ui-menu {
      margin: 1rem 1rem 0rem;
      --menu-selection-item-color: var(--standard-30);
      --menu-selection-item-hover-color: var(--standard-90);
      --menu-selection-item-active-background: #080b12;
      --menu-selection-item-active-color: var(--primary-text-color);
      --menu-selection-item-active-box-shadow: 0px 0px 2px rgb(40 160 255 / 31%);
    }
    nav-menu {
      padding: 0rem 1rem;
    }
  }

  html.light {
    sidebar {
      ui-menu {
        --menu-inset-border: 1px solid oklch(.96 .01 279.32 / 15%);
        --menu-inset-background: var(--inverted-15);
      }
      nav-menu {
        --input-text-color: rgba(255, 255, 255, 0.6);
        --input-focused-color: rgba(255, 255, 255, 1);
        --input-border: 1px solid oklch(.96 .01 279.32 / 15%);
      }
    }
  }

  navSearch.input {
    margin: 1rem;

    .icon {
      color: #FFFFFF;
    }
    input {
      padding: var(--input-padding);
      font-size: 12px;
      border: none;
      border-radius: var(--circular-radius);
      background-color: var(--subtle-transparent-black);
      color: var(--white-50);
      transition: var(--transition);

      &:focus,
      &:hover {
        background-color: var(--transparent-black);
        color: var(--white-100);
      }

    }
  }

  sidebar .toc {
    flex-grow: 1;
    padding-left: 1rem;
    padding-bottom: 1rem;
  }

  sidebar nav-menu {
    margin-top: var(--compact-spacing);
    flex-grow: 1;
  }
}
