---
const { currentRoute } = Astro.props;
import { Image } from 'astro:assets';

import logoImage from '@images/logo.png';
import MobileSidebarToggle from '@components/MobileSidebarToggle/MobileSidebarToggle.js';
import TopbarMenu from '@components/TopbarMenu/TopbarMenu.js';
import ThemeSwitcher from '@components/ThemeSwitcher/ThemeSwitcher.js';

import { getTopBarMenu, removeTrailingSlash } from '@helpers/navigation.js';

const menu = await getTopBarMenu();
const activeURL = removeTrailingSlash(Astro.url.pathname);

import './TopBar.css';
---
<topbar transition:persist>
  <span class="left">
    <a class="logo" href="/">
      <Image src={logoImage} alt="Logo" height="35" loading="eager"></Image>
      <span class="name">
        Semantic UI
      </span>
    </a>
  </span>
  <MobileSidebarToggle client:load></MobileSidebarToggle>
  <TopbarMenu
    client:load
    menu={menu}
    activeURL={activeURL}
  ></TopbarMenu>
  <ThemeSwitcher client:load transition:name="theme"></ThemeSwitcher>
</topbar>
