@layer layout {

  :root {
    --topbar-logo-size: 35px;
    --topbar-logo-valign: -55%;
    --topbar-height: 60px;
    --topbar-site-name-font-size: 16px;
    --topbar-site-name-distance: 10px;
    --topbar-site-name-color: var(--white);
    --topbar-menu-distance: 1rem;
    --topbar-icon-size: 18px;

    --topbar-background-color: #1A1D1E;
    --topbar-text-color: var(--white);
  }
  body.dark {
    --topbar-background-color: #151a1e;
  }
  topbar {
    display: block;
    background-color: var(--topbar-background-color);
    height: var(--topbar-height);
    color: var(--topbar-text-color);
  }

  topbar .logo {
    margin: 12px 0px 0px 20px;
    display: inline-block;
    text-decoration: none;
  }
  topbar .logo img {
    display: inline-block;
    height: var(--topbar-logo-size);
    width: var(--topbar-logo-size);
    vertical-align: var(--topbar-logo-valign);
  }
  topbar .logo .name {
    font-size: var(--topbar-site-name-font-size);
    margin-left: var(--topbar-site-name-distance);
    font-weight: bold;
    color: var(--topbar-site-name-color);
    outline: none;
  }

  topbar mobile-sidebar-toggle {
    display: none;
    margin: 0px;
  }

  topbar topbar-menu {
    margin-left: var(--topbar-menu-distance);
    vertical-align: 1px; /* Bottom border */
  }
  topbar theme-switcher,
  topbar mobile-sidebar-toggle {
    font-size: var(--topbar-icon-size);
  }

  topbar theme-switcher {
    float: right;
  }

}
