---
const { currentRoute } = Astro.props;
import './TopBar.css';
import { Image } from 'astro:assets';
import logoImage from '@images/logo.png';
import ThemeSwitcher from'@components/ThemeSwitcher/ThemeSwitcher.js';
---
<topbar transition:persist>
  <a class="logo" href="/">
    <Image src={logoImage} alt="Logo" height="35" loading="eager">
    <span>
      Semantic UI
    </span>
  </a>
  <ThemeSwitcher client:only></ThemeSwitcher>
</topbar>
