---
const { currentRoute, floating, noanimation } = Astro.props;
let { showThemeSwitcher } = Astro.props;
import { Image } from 'astro:assets';

import logoImage from '@images/logo.png';
import MobileMenuToggle from '@components/MobileMenuToggle/MobileMenuToggle.js';
import GlobalSearch from '@components/GlobalSearch/GlobalSearch.js';
import TopbarMenu from '@components/TopbarMenu/TopbarMenu.js';
import ThemeSwitcher from '@components/ThemeSwitcher/ThemeSwitcher.js';

import { getTopbarDisplayMenu, removeTrailingSlash } from '@helpers/navigation.js';

const menu = await getTopbarDisplayMenu();
const activeURL = removeTrailingSlash(Astro.url.pathname);

showThemeSwitcher = showThemeSwitcher === 'false' ? false : true;

let topbarClasses = [];
if (noanimation) {
  topbarClasses.push('static');
}
if (floating) {
  topbarClasses.push('floating');
}
topbarClasses.join(' ').trim();

import './TopBar.css';
---

<script>
  import { ScrollNav } from '../javascript/scrollnav.js';
  import { $ } from '@semantic-ui/query';
  const topbar = $('topbar').not('.static').el();
  if (topbar) {
    const nav = new ScrollNav(topbar, {
      hideThreshold: 5,
      showThreshold: 15,
      hideVelocity: 5,
      showVelocity: 5,
      hideClass: 'hidden',
    });
  }
</script>
<topbar class={topbarClasses} transition:persist>
  <div class="content">
    <span class="left">
      <a class="logo" href="/">
        <Image src={logoImage} alt="Logo" height="35" loading="eager" />
        <span class="name"> Semantic UI </span>
      </a>
    </span>
    <TopbarMenu client:load menu={menu} activeURL={activeURL} />
    <GlobalSearch client:load />
    {
      showThemeSwitcher && (
        <ThemeSwitcher
          client:load
          transition:name="theme"
          defaultTheme="dark"
        />
      )
    }
    <MobileMenuToggle client:load />
  </div>
</topbar>
