topbar {
  background-color: #1A1D1E;
  display: block;
  height: 60px;
  color: #FFFFFF;
}

topbar .logo {
  margin: 12px 0px 0px 20px;
  display: inline-block;
}
topbar .logo img {
  display: inline-block;
  height: 35px;
  vertical-align: -12px;
}
topbar .logo span {
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
}

topbar theme-switcher {
  float: right;
  font-size: 18px;
  margin: 20px 20px 0px 0px;
}

body.dark topbar {
  background-color: #212325;
}
