---
const { currentRoute } = Astro.props;
import './TopBar.css';
import { Image } from 'astro:assets';
import logoImage from '@images/logo.png';
---
<topbar>
  <a class="logo" href="/">
    <Image src={logoImage} alt="Logo" height="35" loading="eager">
    <span>
      Semantic UI
    </span>
  </a>
  <ui-icon class="sun"></ui-icon>
  <ui-icon sun></ui-icon>
  <ui-icon icon="sun"></ui-icon>
</topbar>

<script>
  const el = document.querySelectorAll('.moon')[0];
  if(el) {
    el.addEventListener('click', function() {
      let theme = localStorage.getItem('theme');
      let newTheme = (theme == 'light') ? 'dark' : 'light';
      localStorage.setItem('theme', newTheme);
      let body = document.querySelectorAll('body')[0];
      body.classList.remove(theme);
      body.classList.add(newTheme);
    }, true, true);
  }
</script>
