/*--------------
      Down
---------------*/

.button {
  &.disabled {
    pointer-events: none;
    cursor: var(--button-disabled-cursor);
    opacity: var(--button-disabled-opacity) !important;
    color: var(--button-disabled-color);
    box-shadow: var(--button-disabled-box-shadow) !important;

    &:hover {
      pointer-events: none;
      cursor: var(--button-disabled-cursor);
      opacity: var(--button-disabled-opacity) !important;
      color: var(--button-disabled-color);
      box-shadow: var(--button-disabled-box-shadow) !important;
    }

    &.active {
      pointer-events: none;
      cursor: var(--button-disabled-cursor);
      opacity: var(--button-disabled-opacity) !important;
      color: var(--button-disabled-color);
      box-shadow: var(--button-disabled-box-shadow) !important;
    }

    &.standard {
      background-color: var(--button-disabled-background-color) !important;
      background-image: var(--button-disabled-background-image) !important;
    }
  }

  &.clickable-disabled {
    pointer-events: auto !important;
    cursor: var(--button-clickable-disabled-cursor) !important;

    &:active {
      box-shadow: var(--button-pressed-box-shadow) !important;
    }
  }
}

ui-button {
  &[disabled] {
    cursor: var(--button-disabled-cursor);
    pointer-events: none !important;
  }

  &[clickable-disabled] {
    pointer-events: auto !important;
    cursor: var(--button-clickable-disabled-cursor) !important;
  }
}
