.container {
  display: inline-flex;
  gap: var(--8px);
  padding: var(--12px);
  margin: var(--vertically-spaced);
  border: var(--border);
  border-radius: var(--border-radius);
}

.item {
  padding: var(--8px) var(--12px);
  background: var(--standard-10);
  border-radius: var(--border-radius);

  &.found {
    background: var(--green-background);
    color: var(--green-text-color);
  }
}
