.section {
  border: var(--border);
  padding: var(--padding);

  .text {
    line-height: 1.6;
  }
  .note {
    border-left: 2px solid var(--blue-10);
    padding-left: 1em;
    font-weight: bold;
    color: var(--blue-text-color);
  }
}
