/*--------------
  Labeled Icon
---------------*/

.labeled.icon.buttons .button,
.labeled.icon.button {
  position: relative;
  padding-left: var(--labeled-icon-padding) !important;
  padding-right: var(--horizontal-padding) !important;
}

/* Left Labeled */
.labeled.icon.buttons > .button > .icon,
.labeled.icon.button > .icon {
  position: absolute;
  height: 100%;
  line-height: 1;
  border-radius: 0px;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  text-align: center;

  margin: var(--labeled-icon-margin);
  width: var(--labeled-icon-width);
  background-color: var(--labeled-icon-background-color);
  color: var(--labeled-icon-color);
  box-shadow: var(--labeled-icon-left-shadow);
}

/* Left Labeled */
.labeled.icon.buttons > .button > .icon,
.labeled.icon.button > .icon {
  top: 0em;
  left: 0em;
}

/* Right Labeled */
[class*="right labeled"].icon.button {
  padding-right: var(--labeled-icon-padding) !important;
  padding-left: var(--horizontal-padding) !important;
}
[class*="right labeled"].icon.button > .icon {
  left: auto;
  right: 0em;
  border-radius: 0px;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  box-shadow: var(--labeled-icon-right-shadow);
}


.labeled.icon.buttons > .button > .icon::before,
.labeled.icon.button > .icon::before,
.labeled.icon.buttons > .button > .icon::after,
.labeled.icon.button > .icon::after {
  display: block;
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
}

/* Loading */
.labeled.icon.button > .icon.loading {
  animation: none;
}
.labeled.icon.button > .icon.loading::before {
  animation: labeled-button-icon-loading var(--loading-icon-duration) linear infinite;
}

@keyframes labeled-button-icon-loading {
  from {
    transform: translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}

.labeled.icon.buttons .button > .icon {
  border-radius: 0em;
}
.labeled.icon.buttons .button:first-child > .icon {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}
.labeled.icon.buttons .button:last-child > .icon {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

/* Vertical Labeled Icon */
.vertical.labeled.icon.buttons .button:first-child > .icon {
  border-radius: 0em;
  border-top-left-radius: var(--border-radius);
}
.vertical.labeled.icon.buttons .button:last-child > .icon {
  border-radius: 0em;
  border-bottom-left-radius: var(--border-radius);
}

/* Fluid Labeled */
.fluid[class*="left labeled"].icon.button,
.fluid[class*="right labeled"].icon.button {
  padding-left: var(--horizontal-padding) !important;
  padding-right: var(--horizontal-padding) !important;
}
