/*--------------
     Toggle
---------------*/

/* Toggle (Modifies active state to give affordances) */
.toggle.buttons .active.button,
.buttons .button.toggle.active,
.button.toggle.active {
  background-color: var(--button-toggle-active-background) !important;
  color: var(--button-toggle-active-color) !important;
  text-shadow: var(--button-toggle-active-text-shadow);
}
.button.toggle.active:hover {
  background-color: var(--button-toggle-active-hover-background) !important;
  color: var(--button-toggle-active-hover-color) !important;
}
