.item {
  padding: var(--compact-spacing);
  background: var(--standard-5);
  border: var(--border);
  margin: var(--vertically-spaced);

  &.target {
    background: var(--standard-10);
  }

  &.highlighted {
    background: var(--yellow-0);
    color: var(--yellow-text-color);
  }
}
