:host {
  display: flex;
  flex: 1 1 0px;
  flex-direction: column;
  will-change: transform;
}

:host {
  --handle-height: 20px;
  --divider-width: 1px;
  --divider-shadow-color: #181818;

  --divider-color: #232323;
  --divider-color-hover: #333333;
  --divider-color-resize: #444444;
}

.panel {
  display: contents;
  overflow: hidden;
  flex: auto;
  box-sizing: border-box;

  &.resizing + .handle:hover .divider,
  &.resizing + .handle .divider {
    background-color: var(--divider-color-resize);
  }
}

.handle {
  display: flex;
  position: absolute;
  top: auto;
  left: auto;
  user-select: none;
  border-radius: 5px;

  .divider {
    background-color: var(--divider-color);
  }

  &:hover .divider {
    background-color: var(--divider-color-hover);
  }
}


.horizontal.panel + .handle {
  flex-direction: row;
  cursor: w-resize;
  margin-left: calc(var(--handle-height) / -2);
  width: var(--handle-height);
  height: 100%;

  .divider {
    margin: 0 auto;
    width: var(--divider-width);
    height: 100%;
    box-shadow: calc( var(--divider-width) * -1) 0px 0px 0px var(--divider-shadow-color);
  }
}


.vertical.panel + .handle {
  flex-direction: row;
  cursor: ns-resize;
  margin-top: calc(var(--handle-height) / -2);
  width: 100%;
  height: var(--handle-height);

  .divider {
    margin: auto 0;
    width: 100%;
    height: var(--divider-width);
    box-shadow: 0px calc( var(--divider-width) * -1) 0px 0px var(--divider-shadow-color);
  }
}

.handle,
.panel {
  opacity: 0;
}
.handle.initialized,
.panel.initialized {
  opacity: 1;
}
