:host {
  display: flex;
  flex: 1 1 0;
  min-height: 30px;
  flex-direction: column;
  overflow: hidden;
  will-change: flex;
}

:host {
  --panel-handle-height: 20px;
  --panel-divider-width: 1px;
  --panel-divider-shadow-color: #181818;

  --panel-divider-color: #232323;
  --panel-divider-color-hover: #333333;
  --panel-divider-color-resize: var(--primary-text-color);
}

.panel {
  display: contents;
  overflow: hidden;
  flex: auto;
  box-sizing: border-box;


  .label {
    display: flex;
    flex-direction: row;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 1;
    margin: 0rem 0rem 0rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.4);
    padding: 0.75rem 0.75rem 0.7rem 2.5rem;
    background: linear-gradient(rgba(255, 255, 255, 0.02), rgb(15 17 22 / 50%));
    border-bottom: 1px solid rgba(221, 221, 221, 0.05);
    box-shadow: 0px -2px 5px -3px rgba(0, 0, 0, 0.4) inset;
    transition: background-color 0.1s ease, color 0.1s ease-in-out;

    &.active {
      color: rgb(255 255 255 / 80%);
      background-color: rgb(255 255 255 / 3%);
    }

    .actions {
      margin-left: auto;
      margin-top: -3px;
      margin-bottom: -3px;

      ui-icon {
        font-size: 15px;
      }
    }
  }

  &.resizing + .handle:hover .divider,
  &.resizing + .handle .divider {
    background-color: var(--panel-divider-color-resize);
  }

  &.minimized {
    .label {
      background: linear-gradient(rgba(255, 255, 255, 0.02), rgb(15 17 22 / 30%));
      color: rgba(255, 255, 255, 0.1);
    }
  }
}

.handle {
  display: flex;
  position: absolute;
  z-index: 10;
  top: auto;
  left: auto;
  user-select: none;
  border-radius: 5px;

  &.disabled {
    pointer-events: none;
  }

  .divider {
    background-color: var(--panel-divider-color);
  }

  &:hover .divider {
    background-color: var(--panel-divider-color-hover);
  }
}


.horizontal.panel + .handle {
  flex-direction: row;
  cursor: w-resize;
  margin-left: calc(var(--panel-handle-height) / -2);
  width: var(--panel-handle-height);
  height: 100%;

  .divider {
    margin: 0 auto;
    width: var(--panel-divider-width);
    height: 100%;
    box-shadow: calc( var(--panel-divider-width) * -1) 0px 0px 0px var(--panel-divider-shadow-color);
  }
}


.vertical.panel + .handle {
  flex-direction: row;
  cursor: ns-resize;
  margin-top: calc(var(--panel-handle-height) / -2);
  width: 100%;
  height: var(--panel-handle-height);

  .divider {
    margin: auto 0;
    width: 100%;
    height: var(--panel-divider-width);
    box-shadow: 0px calc( var(--panel-divider-width) * -1) 0px 0px var(--panel-divider-shadow-color);
  }
}

.handle,
.panel {
  opacity: 0;
}
.handle.initialized,
.panel.initialized {
  opacity: 1;
}
