.item {
  padding: var(--padding-xs);
  background: var(--standard-5);
  border: var(--border);
  margin: var(--vertically-spaced);
}

.item.active {
  background: var(--positive-background);
  color: var(--positive-text);
}