:host {
  display: block;
  font-family: var(--page-font);
}

.counters {
  margin: 0;
  padding: 0;
  list-style: none;

  .counter {
    display: flex;
    align-items: center;
    gap: var(--gap-xs);
    padding: var(--padding-3xs) var(--padding-xs);
    border: var(--subtle-border);
    border-radius: var(--border-radius);
    margin-bottom: var(--gap-3xs);

    .label {
      flex: 1;
    }
  }
}
