/*******************************
            Groups
*******************************/

:host(ui-cards) {
  display: block;
  margin: var(--vertically-spaced);
}
.cards {
  display: grid;
  grid-auto-rows: 1fr;
  gap: 1rem;
  width: 100%;
}

.spaced.cards {
  gap: 2rem;
}

.very-spaced.cards {
  gap: 3em;
}

::slotted(ui-card) {
  display: contents;
}
