/*******************************
            Groups
*******************************/

:host(ui-cards) {
  display: block;
  margin: var(--cards-margin);
}

.container {
  display: block;
  container: component / inline-size;
}

.cards {
  display: grid;
  container: cards / inline-size;
  gap: var(--cards-gap);
  grid-auto-rows: 1fr;
  width: 100%;
}

::slotted(ui-card) {
  display: contents;
}
