:host {
  --card-image-width: 30%;
  --card-image-max-height: 250px;
}

.card {
  cursor: pointer;
  background: var(--gradient);
  box-shadow: var(--raised-shadow);
  border: var(--border);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: row;
  transition: var(--transition);
  will-change: transform;

  &:hover {
    transform: translateY(-5px);
  }

  .image {
    display: block;
    width: var(--card-image-width);
    height: auto;
    max-height: var(--card-image-max-height);
    object-fit: cover;
    border-radius: var(--right-attached-border-radius);
  }

  .content {

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: var(--compact-spacing);

    .main {
      flex-grow: 1;
    }

    .title {
      font-size: 16px;
      font-weight: bold;
      color: var(--standard-100);
    }

    .detail {
      display: flex;
      flex-direction: row;
      margin-top: 5px;
      gap: 5px;
      line-height: 1;
      font-size: 10px;
      flex-wrap: wrap;
      color: var(--standard-40);
      margin-bottom: var(--compact-spacing);
      span {
        border-right: var(--border);
        padding-right: 5px;
      }
      :last-child {
        border-right: none;
      }
    }
  }

  .meta {
    margin-top: var(--compact-spacing);
    padding-top: var(--compact-spacing);
    border-top: var(--border);
    display: flex;
    gap: var(--compact-spacing);

    & > * {
      color: var(--standard-90);
      font-weight: bold;
    }
  }

  .emphasis {
    color: var(--primary-text-color);
  }

  .small {
    font-size: var(--small);
  }
  .right {
    margin-left: auto;
  }

}
