/*******************************
          Light Theme
*******************************/

:root,
.light.theme,
[light],
[theme="light"] {

  /* -------------------
      Brand Colors
  -------------------- */

  --primary-color: var(--blue);
  --secondary-color: var(--black-solid-80);

  --light-primary-color: var(--light-blue);
  --light-secondary-color: var(--light-black);

  /* Used to emphasize text  */
  --primary-text-color: var(--blue-text-color);
  --primary-light-text-color: var(--light-blue);

  /* -------------------
        UI Colors
  -------------------- */

  --ui-emphasis-strong: oklch(0.98 0.01 282.32);
  --ui-emphasis: oklch(0.98 0.01 272.79);
  --ui-background-emphasis: linear-gradient(140deg, var(--ui-emphasis-strong), var(--inverted-100), var(--ui-emphasis));

  /* -------------------
       Invert Colors
  -------------------- */

  /* Generally light swaps to dark and vice versa, we do this by swapping standard/inverted color */
  --white-lch: 1 0 0;
  --black-lch: 0 0 0;

  --standard-color: var(--black-lch);
  --inverted-color: var(--white-lch);

  --standard-solid-100: var(--black-solid-100);
  --standard-solid-95: var(--black-solid-95);
  --standard-solid-90: var(--black-solid-90);
  --standard-solid-85: var(--black-solid-85);
  --standard-solid-80: var(--black-solid-80);
  --standard-solid-75: var(--black-solid-75);
  --standard-solid-70: var(--black-solid-70);
  --standard-solid-60: var(--black-solid-60);
  --standard-solid-50: var(--black-solid-50);
  --standard-solid-40: var(--black-solid-40);
  --standard-solid-30: var(--black-solid-30);
  --standard-solid-25: var(--black-solid-25);
  --standard-solid-20: var(--black-solid-20);
  --standard-solid-15: var(--black-solid-15);
  --standard-solid-10: var(--black-solid-10);
  --standard-solid-5: var(--black-solid-5);

  --inverted-solid-100: var(--white-solid-100);
  --inverted-solid-95: var(--white-solid-95);
  --inverted-solid-90: var(--white-solid-90);
  --inverted-solid-85: var(--white-solid-85);
  --inverted-solid-80: var(--white-solid-80);
  --inverted-solid-75: var(--white-solid-75);
  --inverted-solid-70: var(--white-solid-70);
  --inverted-solid-60: var(--white-solid-60);
  --inverted-solid-50: var(--white-solid-50);
  --inverted-solid-40: var(--white-solid-40);
  --inverted-solid-30: var(--white-solid-30);
  --inverted-solid-25: var(--white-solid-25);
  --inverted-solid-20: var(--white-solid-20);
  --inverted-solid-15: var(--white-solid-15);
  --inverted-solid-10: var(--white-solid-10);
  --inverted-solid-5: var(--white-solid-5);

  /* -------------------
          Page
  -------------------- */

  --page-background: #FFFFFF;

  /* -------------------
        Site Colors
  -------------------- */

  /* ---  Colors  --- */
  --red: oklch(0.59 0.27 29);
  --orange: oklch(0.65 0.2 44.37);
  --yellow: oklch(0.78 0.18 81.24);
  --olive: oklch(0.69 0.19 119.53);
  --green: oklch(0.62 0.26 145.53);
  --teal: oklch(0.66 0.14 188.03);
  --blue: oklch(0.56 0.21 251);
  --violet: oklch(0.46 0.26 283.29);
  --purple: oklch(0.54 0.26 314.43);
  --pink: oklch(0.59 0.27 358.33);
  --brown: oklch(0.5 0.11 51.34);
  --grey: oklch(0.57 0 0);
  --black: oklch(0.23 0 0);

  /* ---  Light Colors  --- */
  --light-red: #FF695E;
  --light-orange: #FF851B;
  --light-yellow: #FFE21F;
  --light-olive: #D9E778;
  --light-green: #2ECC40;
  --light-teal: #6DFFFF;
  --light-blue: #58C1FE;
  --light-violet: #A291FB;
  --light-purple: #DC73FF;
  --light-pink: #FF8EDF;
  --light-brown: #D67C1C;
  --light-grey: #DCDDDE;
  --light-black: #545454;

  /* --- Colored BGs --- */
  --red-background: #FFE8E6;
  --orange-background: #FFEDDE;
  --yellow-background: #FFF8DB;
  --olive-background: #FBFDEF;
  --green-background: #E5F9E7;
  --teal-background: #E1F7F7;
  --blue-background: #DFF0FF;
  --violet-background: #EAE7FF;
  --purple-background: #F6E7FF;
  --pink-background: #FFE3FB;
  --brown-background: #F1E2D3;

  /* -------------------
       Alpha Colors
  -------------------- */

  --very-subtle-transparent-black: oklch(var(--black-lch) / 2%);
  --subtle-transparent-black: oklch(var(--black-lch) / 3%);
  --transparent-black: oklch(var(--black-lch) / 5%);
  --strong-transparent-black: oklch(var(--black-lch) / 8%);
  --very-strong-transparent-black: oklch(var(--black-lch) / 15%);

  --very-subtle-transparent-white: oklch(var(--white-lch) / 3%);
  --subtle-transparent-white: oklch(var(--white-lch) / 5%);
  --transparent-white: oklch(var(--white-lch) / 8%);
  --strong-transparent-white: oklch(var(--white-lch) / 13%);
  --very-strong-transparent-white: oklch(var(--black-lch) / 18%);

  /* --------------
        Focus
  --------------- */

  /* Used on inputs, textarea etc */
  --form-focused-border-color: var(--primary-text-color);

  /* Used on dropdowns, other larger blocks */
  --form-focused-muted-border-color: #96C8DA;

  /* -------------------
    Highlighted Text
  -------------------- */

  --highlight-background: #CCE2FF;
  --highlight-color: var(--text-color);

  --input-highlight-background: rgb(100 100 100 / 40%);
  --input-highlight-color: var(--text-color);

  /* -------------------
        UI BG Colors
  -------------------- */

  --ui-hue: 234.71;
  --ui-chroma: 0.01;
  --ui-lightness: 0.17;
  --ui-lightness-light: 0.2;
  --ui-lightness-dark: 0.15;

  /* -------------------
         Links
  -------------------- */

  --link-color: oklch(0.61 0.17 250.88);
  --link-hover-color: oklch(0.62 0.22 252.98);

  /* -------------------
       Border Colors
  -------------------- */

  /* color base */
  --black-border-lch: 0.2 0.01 279.32;
  --white-border-lch: 0.96 0.01 279.32;

  /* theme mutable border */
  --standard-border-color: var(--black-border-lch);
  --inverted-border-color: var(--white-border-lch);

  /* black - dark/light theme immutable */
  --black-border-color: oklch(var(--black-border-lch) / 10%);
  --selected-black-border-color: oklch(var(--black-border-lch) / 50%);

  /* white - dark/light theme immutable */
  --white-border-color: oklch(var(--white-border-lch) / 10%);
  --selected-white-border-color: oklch(var(--white-border-lch) / 50%);

  /* solids */
  --solid-internal-border-color: var(--standard-solid-5);
  --solid-border-color: var(--standard-solid-10);
  --solid-black-border-color: var(--black-solid-10);
  --solid-white-border-color: var(--white-solid-10);

  /*--------------
      Messages
  ---------------*/

  /* Positive */
  --positive-color: var(--green);
  --positive-background-color: #F0F7F3;
  --positive-border-color: #CCEAD9;
  --positive-header-color: #1A531B;
  --positive-text-color: var(--green-text-color);

  /* Negative */
  --negative-color: var(--red);
  --negative-background-color: #F9F1F1;
  --negative-border-color: #E6D9D9;
  --negative-header-color: #C55250;
  --negative-text-color: var(--red-text-color);

  /* Info */
  --info-color: #318291;
  --info-background-color: #FAFDFD;
  --info-border-color: #B0D8D8;
  --info-header-color: #0E566C;
  --info-text-color: #276F86;

  /* Warning */
  --warning-color: #D7922E;
  --warning-border-color: #CAC09D;
  --warning-background-color: #FFFAF8;
  --warning-header-color: #794B02;
  --warning-text-color: var(--orange-text-color);

}
