body {
  --menu-selection-gap: 6px;

  --menu-selection-item-padding: 7px 6px;
  --menu-selection-item-border-radius: var(--border-radius);
  --menu-selection-item-color: var(--standard-60);

  --menu-selection-item-hover-background: var(--standard-10);
  --menu-selection-item-hover-color: #013A4F;
  --menu-selection-item-hover-box-shadow: none;

  --menu-selection-item-active-padding: 7px 6px;
  --menu-selection-item-active-background: #D0EBF3;
  --menu-selection-item-active-color: #013A4F;
  --menu-selection-item-active-box-shadow: 0px 1px 6px rgb(85 147 167 / 77%) inset;
}


body.dark {
  --menu-selection-item-color: var(--standard-30);

  --menu-selection-item-hover-background: var(--transparent-black);
  --menu-selection-item-hover-color: var(--standard-90);

  --menu-selection-item-active-background: #35B7F1;
  --menu-selection-item-active-color: #002A47;
  --menu-selection-item-active-box-shadow: 0px 0px 10px rgb(0 92 165) inset;
}
