:host {
  --learn-panel-background: linear-gradient(rgb(13, 13, 13), rgb(17, 20, 24) 100px, oklch(0.08 0.02 266.92));
}

.learn {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  ui-panel.lesson {
    background: var(--learn-panel-background);
    box-shadow: var(--subtle-left-lip-shadow);
    z-index: var(--page-layer-3);
  }


  .segment {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 0;
    padding: 0.5rem;
    white-space: nowrap;

    .title {
      margin-left: var(--spacing);
      font-size: var(--large);
      font-weight: bold;
      color: var(--standard-100);
    }
    .actions {
      margin-left: auto;
    }
  }

  .divider {
    margin: var(--vertically-spaced);
    height: 1px;
    background-color: var(--border-color);
  }

  .instructions {
    flex-grow: 1;
    padding: 1rem 1.5rem;
  }

  .next {
    color: var(--standard-30);
    font-size: var(--small);
    font-weight: var(--bold);
    .name {
      color: var(--standard-80);
      font-size: var(--large);
    }
  }

  .actions.segment {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background: var(--angled-gradient);

    .left {
      margin-right: auto;
    }
    .right {
      margin-left: auto;
    }
  }

  code-playground {
    display: contents;
  }
}
