::part(icon airplay) {
  mask-image: url('./assets/airplay.svg')
}
::part(icon alert-circle) {
  mask-image: url('./assets/alert-circle.svg')
}
::part(icon alert-octagon) {
  mask-image: url('./assets/alert-octagon.svg')
}
::part(icon alert-triangle) {
  mask-image: url('./assets/alert-triangle.svg')
}
::part(icon align-center) {
  mask-image: url('./assets/align-center.svg')
}
::part(icon align-justify) {
  mask-image: url('./assets/align-justify.svg')
}
::part(icon align-left) {
  mask-image: url('./assets/align-left.svg')
}
::part(icon align-right) {
  mask-image: url('./assets/align-right.svg')
}
::part(icon anchor) {
  mask-image: url('./assets/anchor.svg')
}
::part(icon aperture) {
  mask-image: url('./assets/aperture.svg')
}
::part(icon archive) {
  mask-image: url('./assets/archive.svg')
}
::part(icon arrow-down) {
  mask-image: url('./assets/arrow-down.svg')
}
::part(icon arrow-down-circle) {
  mask-image: url('./assets/arrow-down-circle.svg')
}
::part(icon arrow-down-left) {
  mask-image: url('./assets/arrow-down-left.svg')
}
::part(icon arrow-down-right) {
  mask-image: url('./assets/arrow-down-right.svg')
}
::part(icon arrow-left) {
  mask-image: url('./assets/arrow-left.svg')
}
::part(icon arrow-left-circle) {
  mask-image: url('./assets/arrow-left-circle.svg')
}
::part(icon arrow-right) {
  mask-image: url('./assets/arrow-right.svg')
}
::part(icon arrow-right-circle) {
  mask-image: url('./assets/arrow-right-circle.svg')
}
::part(icon arrow-up) {
  mask-image: url('./assets/arrow-up.svg')
}
::part(icon arrow-up-circle) {
  mask-image: url('./assets/arrow-up-circle.svg')
}
::part(icon arrow-up-left) {
  mask-image: url('./assets/arrow-up-left.svg')
}
::part(icon arrow-up-right) {
  mask-image: url('./assets/arrow-up-right.svg')
}
::part(icon at-sign) {
  mask-image: url('./assets/at-sign.svg')
}
::part(icon award) {
  mask-image: url('./assets/award.svg')
}
::part(icon bar-chart) {
  mask-image: url('./assets/bar-chart.svg')
}
::part(icon bar-chart-2) {
  mask-image: url('./assets/bar-chart-2.svg')
}
::part(icon battery) {
  mask-image: url('./assets/battery.svg')
}
::part(icon battery-charging) {
  mask-image: url('./assets/battery-charging.svg')
}
::part(icon bell) {
  mask-image: url('./assets/bell.svg')
}
::part(icon bell-off) {
  mask-image: url('./assets/bell-off.svg')
}
::part(icon bluetooth) {
  mask-image: url('./assets/bluetooth.svg')
}
::part(icon bold) {
  mask-image: url('./assets/bold.svg')
}
::part(icon book) {
  mask-image: url('./assets/book.svg')
}
::part(icon book-open) {
  mask-image: url('./assets/book-open.svg')
}
::part(icon bookmark) {
  mask-image: url('./assets/bookmark.svg')
}
::part(icon box) {
  mask-image: url('./assets/box.svg')
}
::part(icon briefcase) {
  mask-image: url('./assets/briefcase.svg')
}
::part(icon calendar) {
  mask-image: url('./assets/calendar.svg')
}
::part(icon camera) {
  mask-image: url('./assets/camera.svg')
}
::part(icon camera-off) {
  mask-image: url('./assets/camera-off.svg')
}
::part(icon cast) {
  mask-image: url('./assets/cast.svg')
}
::part(icon check) {
  mask-image: url('./assets/check.svg')
}
::part(icon check-circle) {
  mask-image: url('./assets/check-circle.svg')
}
::part(icon check-square) {
  mask-image: url('./assets/check-square.svg')
}
::part(icon chevron-down) {
  mask-image: url('./assets/chevron-down.svg')
}
::part(icon chevron-left) {
  mask-image: url('./assets/chevron-left.svg')
}
::part(icon chevron-right) {
  mask-image: url('./assets/chevron-right.svg')
}
::part(icon chevron-up) {
  mask-image: url('./assets/chevron-up.svg')
}
::part(icon chevrons-down) {
  mask-image: url('./assets/chevrons-down.svg')
}
::part(icon chevrons-left) {
  mask-image: url('./assets/chevrons-left.svg')
}
::part(icon chevrons-right) {
  mask-image: url('./assets/chevrons-right.svg')
}
::part(icon chevrons-up) {
  mask-image: url('./assets/chevrons-up.svg')
}
::part(icon chrome) {
  mask-image: url('./assets/chrome.svg')
}
::part(icon circle) {
  mask-image: url('./assets/circle.svg')
}
::part(icon clipboard) {
  mask-image: url('./assets/clipboard.svg')
}
::part(icon clock) {
  mask-image: url('./assets/clock.svg')
}
::part(icon cloud) {
  mask-image: url('./assets/cloud.svg')
}
::part(icon cloud-drizzle) {
  mask-image: url('./assets/cloud-drizzle.svg')
}
::part(icon cloud-lightning) {
  mask-image: url('./assets/cloud-lightning.svg')
}
::part(icon cloud-off) {
  mask-image: url('./assets/cloud-off.svg')
}
::part(icon cloud-rain) {
  mask-image: url('./assets/cloud-rain.svg')
}
::part(icon cloud-snow) {
  mask-image: url('./assets/cloud-snow.svg')
}
::part(icon code) {
  mask-image: url('./assets/code.svg')
}
::part(icon codepen) {
  mask-image: url('./assets/codepen.svg')
}
::part(icon codesandbox) {
  mask-image: url('./assets/codesandbox.svg')
}
::part(icon coffee) {
  mask-image: url('./assets/coffee.svg')
}
::part(icon columns) {
  mask-image: url('./assets/columns.svg')
}
::part(icon command) {
  mask-image: url('./assets/command.svg')
}
::part(icon compass) {
  mask-image: url('./assets/compass.svg')
}
::part(icon copy) {
  mask-image: url('./assets/copy.svg')
}
::part(icon corner-down-left) {
  mask-image: url('./assets/corner-down-left.svg')
}
::part(icon corner-down-right) {
  mask-image: url('./assets/corner-down-right.svg')
}
::part(icon corner-left-down) {
  mask-image: url('./assets/corner-left-down.svg')
}
::part(icon corner-left-up) {
  mask-image: url('./assets/corner-left-up.svg')
}
::part(icon corner-right-down) {
  mask-image: url('./assets/corner-right-down.svg')
}
::part(icon corner-right-up) {
  mask-image: url('./assets/corner-right-up.svg')
}
::part(icon corner-up-left) {
  mask-image: url('./assets/corner-up-left.svg')
}
::part(icon corner-up-right) {
  mask-image: url('./assets/corner-up-right.svg')
}
::part(icon cpu) {
  mask-image: url('./assets/cpu.svg')
}
::part(icon credit-card) {
  mask-image: url('./assets/credit-card.svg')
}
::part(icon crop) {
  mask-image: url('./assets/crop.svg')
}
::part(icon crosshair) {
  mask-image: url('./assets/crosshair.svg')
}
::part(icon database) {
  mask-image: url('./assets/database.svg')
}
::part(icon delete) {
  mask-image: url('./assets/delete.svg')
}
::part(icon disc) {
  mask-image: url('./assets/disc.svg')
}
::part(icon divide) {
  mask-image: url('./assets/divide.svg')
}
::part(icon divide-circle) {
  mask-image: url('./assets/divide-circle.svg')
}
::part(icon divide-square) {
  mask-image: url('./assets/divide-square.svg')
}
::part(icon dollar-sign) {
  mask-image: url('./assets/dollar-sign.svg')
}
::part(icon download) {
  mask-image: url('./assets/download.svg')
}
::part(icon download-cloud) {
  mask-image: url('./assets/download-cloud.svg')
}
::part(icon dribbble) {
  mask-image: url('./assets/dribbble.svg')
}
::part(icon droplet) {
  mask-image: url('./assets/droplet.svg')
}
::part(icon edit) {
  mask-image: url('./assets/edit.svg')
}
::part(icon edit-2) {
  mask-image: url('./assets/edit-2.svg')
}
::part(icon edit-3) {
  mask-image: url('./assets/edit-3.svg')
}
::part(icon external-link) {
  mask-image: url('./assets/external-link.svg')
}
::part(icon eye) {
  mask-image: url('./assets/eye.svg')
}
::part(icon eye-off) {
  mask-image: url('./assets/eye-off.svg')
}
::part(icon facebook) {
  mask-image: url('./assets/facebook.svg')
}
::part(icon fast-forward) {
  mask-image: url('./assets/fast-forward.svg')
}
::part(icon feather) {
  mask-image: url('./assets/feather.svg')
}
::part(icon figma) {
  mask-image: url('./assets/figma.svg')
}
::part(icon file) {
  mask-image: url('./assets/file.svg')
}
::part(icon file-minus) {
  mask-image: url('./assets/file-minus.svg')
}
::part(icon file-plus) {
  mask-image: url('./assets/file-plus.svg')
}
::part(icon file-text) {
  mask-image: url('./assets/file-text.svg')
}
::part(icon film) {
  mask-image: url('./assets/film.svg')
}
::part(icon filter) {
  mask-image: url('./assets/filter.svg')
}
::part(icon flag) {
  mask-image: url('./assets/flag.svg')
}
::part(icon folder) {
  mask-image: url('./assets/folder.svg')
}
::part(icon folder-minus) {
  mask-image: url('./assets/folder-minus.svg')
}
::part(icon folder-plus) {
  mask-image: url('./assets/folder-plus.svg')
}
::part(icon framer) {
  mask-image: url('./assets/framer.svg')
}
::part(icon frown) {
  mask-image: url('./assets/frown.svg')
}
::part(icon gitlab) {
  mask-image: url('./assets/gitlab.svg')
}
::part(icon globe) {
  mask-image: url('./assets/globe.svg')
}
::part(icon grid) {
  mask-image: url('./assets/grid.svg')
}
::part(icon hard-drive) {
  mask-image: url('./assets/hard-drive.svg')
}
::part(icon hash) {
  mask-image: url('./assets/hash.svg')
}
::part(icon headphones) {
  mask-image: url('./assets/headphones.svg')
}
::part(icon heart) {
  mask-image: url('./assets/heart.svg')
}
::part(icon help-circle) {
  mask-image: url('./assets/help-circle.svg')
}
::part(icon hexagon) {
  mask-image: url('./assets/hexagon.svg')
}
::part(icon home) {
  mask-image: url('./assets/home.svg')
}
::part(icon image) {
  mask-image: url('./assets/image.svg')
}
::part(icon inbox) {
  mask-image: url('./assets/inbox.svg')
}
::part(icon info) {
  mask-image: url('./assets/info.svg')
}
::part(icon instagram) {
  mask-image: url('./assets/instagram.svg')
}
::part(icon italic) {
  mask-image: url('./assets/italic.svg')
}
::part(icon key) {
  mask-image: url('./assets/key.svg')
}
::part(icon layers) {
  mask-image: url('./assets/layers.svg')
}
::part(icon layout) {
  mask-image: url('./assets/layout.svg')
}
::part(icon life-buoy) {
  mask-image: url('./assets/life-buoy.svg')
}
::part(icon link) {
  mask-image: url('./assets/link.svg')
}
::part(icon link-2) {
  mask-image: url('./assets/link-2.svg')
}
::part(icon linkedin) {
  mask-image: url('./assets/linkedin.svg')
}
::part(icon list) {
  mask-image: url('./assets/list.svg')
}
::part(icon loader) {
  mask-image: url('./assets/loader.svg')
}
::part(icon lock) {
  mask-image: url('./assets/lock.svg')
}
::part(icon log-in) {
  mask-image: url('./assets/log-in.svg')
}
::part(icon log-out) {
  mask-image: url('./assets/log-out.svg')
}
::part(icon mail) {
  mask-image: url('./assets/mail.svg')
}
::part(icon map) {
  mask-image: url('./assets/map.svg')
}
::part(icon map-pin) {
  mask-image: url('./assets/map-pin.svg')
}
::part(icon maximize) {
  mask-image: url('./assets/maximize.svg')
}
::part(icon maximize-2) {
  mask-image: url('./assets/maximize-2.svg')
}
::part(icon meh) {
  mask-image: url('./assets/meh.svg')
}
::part(icon menu) {
  mask-image: url('./assets/menu.svg')
}
::part(icon message-circle) {
  mask-image: url('./assets/message-circle.svg')
}
::part(icon message-square) {
  mask-image: url('./assets/message-square.svg')
}
::part(icon mic) {
  mask-image: url('./assets/mic.svg')
}
::part(icon mic-off) {
  mask-image: url('./assets/mic-off.svg')
}
::part(icon minimize) {
  mask-image: url('./assets/minimize.svg')
}
::part(icon minimize-2) {
  mask-image: url('./assets/minimize-2.svg')
}
::part(icon minus) {
  mask-image: url('./assets/minus.svg')
}
::part(icon minus-circle) {
  mask-image: url('./assets/minus-circle.svg')
}
::part(icon minus-square) {
  mask-image: url('./assets/minus-square.svg')
}
::part(icon monitor) {
  mask-image: url('./assets/monitor.svg')
}
::part(icon moon) {
  mask-image: url('./assets/moon.svg')
}
::part(icon more-horizontal) {
  mask-image: url('./assets/more-horizontal.svg')
}
::part(icon more-vertical) {
  mask-image: url('./assets/more-vertical.svg')
}
::part(icon mouse-pointer) {
  mask-image: url('./assets/mouse-pointer.svg')
}
::part(icon move) {
  mask-image: url('./assets/move.svg')
}
::part(icon music) {
  mask-image: url('./assets/music.svg')
}
::part(icon navigation) {
  mask-image: url('./assets/navigation.svg')
}
::part(icon navigation-2) {
  mask-image: url('./assets/navigation-2.svg')
}
::part(icon octagon) {
  mask-image: url('./assets/octagon.svg')
}
::part(icon package) {
  mask-image: url('./assets/package.svg')
}
::part(icon paperclip) {
  mask-image: url('./assets/paperclip.svg')
}
::part(icon pause) {
  mask-image: url('./assets/pause.svg')
}
::part(icon pause-circle) {
  mask-image: url('./assets/pause-circle.svg')
}
::part(icon pen-tool) {
  mask-image: url('./assets/pen-tool.svg')
}
::part(icon percent) {
  mask-image: url('./assets/percent.svg')
}
::part(icon phone) {
  mask-image: url('./assets/phone.svg')
}
::part(icon phone-call) {
  mask-image: url('./assets/phone-call.svg')
}
::part(icon phone-forwarded) {
  mask-image: url('./assets/phone-forwarded.svg')
}
::part(icon phone-incoming) {
  mask-image: url('./assets/phone-incoming.svg')
}
::part(icon phone-missed) {
  mask-image: url('./assets/phone-missed.svg')
}
::part(icon phone-off) {
  mask-image: url('./assets/phone-off.svg')
}
::part(icon phone-outgoing) {
  mask-image: url('./assets/phone-outgoing.svg')
}
::part(icon pie-chart) {
  mask-image: url('./assets/pie-chart.svg')
}
::part(icon play) {
  mask-image: url('./assets/play.svg')
}
::part(icon play-circle) {
  mask-image: url('./assets/play-circle.svg')
}
::part(icon plus) {
  mask-image: url('./assets/plus.svg')
}
::part(icon plus-circle) {
  mask-image: url('./assets/plus-circle.svg')
}
::part(icon plus-square) {
  mask-image: url('./assets/plus-square.svg')
}
::part(icon pocket) {
  mask-image: url('./assets/pocket.svg')
}
::part(icon power) {
  mask-image: url('./assets/power.svg')
}
::part(icon printer) {
  mask-image: url('./assets/printer.svg')
}
::part(icon radio) {
  mask-image: url('./assets/radio.svg')
}
::part(icon refresh-ccw) {
  mask-image: url('./assets/refresh-ccw.svg')
}
::part(icon refresh-cw) {
  mask-image: url('./assets/refresh-cw.svg')
}
::part(icon repeat) {
  mask-image: url('./assets/repeat.svg')
}
::part(icon rewind) {
  mask-image: url('./assets/rewind.svg')
}
::part(icon rotate-ccw) {
  mask-image: url('./assets/rotate-ccw.svg')
}
::part(icon rotate-cw) {
  mask-image: url('./assets/rotate-cw.svg')
}
::part(icon rss) {
  mask-image: url('./assets/rss.svg')
}
::part(icon save) {
  mask-image: url('./assets/save.svg')
}
::part(icon scissors) {
  mask-image: url('./assets/scissors.svg')
}
::part(icon search) {
  mask-image: url('./assets/search.svg')
}
::part(icon send) {
  mask-image: url('./assets/send.svg')
}
::part(icon server) {
  mask-image: url('./assets/server.svg')
}
::part(icon settings) {
  mask-image: url('./assets/settings.svg')
}
::part(icon share) {
  mask-image: url('./assets/share.svg')
}
::part(icon share-2) {
  mask-image: url('./assets/share-2.svg')
}
::part(icon shield) {
  mask-image: url('./assets/shield.svg')
}
::part(icon shield-off) {
  mask-image: url('./assets/shield-off.svg')
}
::part(icon shopping-bag) {
  mask-image: url('./assets/shopping-bag.svg')
}
::part(icon shopping-cart) {
  mask-image: url('./assets/shopping-cart.svg')
}
::part(icon shuffle) {
  mask-image: url('./assets/shuffle.svg')
}
::part(icon sidebar) {
  mask-image: url('./assets/sidebar.svg')
}
::part(icon skip-back) {
  mask-image: url('./assets/skip-back.svg')
}
::part(icon skip-forward) {
  mask-image: url('./assets/skip-forward.svg')
}
::part(icon slack) {
  mask-image: url('./assets/slack.svg')
}
::part(icon slash) {
  mask-image: url('./assets/slash.svg')
}
::part(icon sliders) {
  mask-image: url('./assets/sliders.svg')
}
::part(icon smartphone) {
  mask-image: url('./assets/smartphone.svg')
}
::part(icon smile) {
  mask-image: url('./assets/smile.svg')
}
::part(icon speaker) {
  mask-image: url('./assets/speaker.svg')
}
::part(icon square) {
  mask-image: url('./assets/square.svg')
}
::part(icon star) {
  mask-image: url('./assets/star.svg')
}
::part(icon stop-circle) {
  mask-image: url('./assets/stop-circle.svg')
}
::part(icon sun) {
  mask-image: url('./assets/sun.svg')
}
::part(icon sunrise) {
  mask-image: url('./assets/sunrise.svg')
}
::part(icon sunset) {
  mask-image: url('./assets/sunset.svg')
}
::part(icon table) {
  mask-image: url('./assets/table.svg')
}
::part(icon tablet) {
  mask-image: url('./assets/tablet.svg')
}
::part(icon tag) {
  mask-image: url('./assets/tag.svg')
}
::part(icon target) {
  mask-image: url('./assets/target.svg')
}
::part(icon terminal) {
  mask-image: url('./assets/terminal.svg')
}
::part(icon thermometer) {
  mask-image: url('./assets/thermometer.svg')
}
::part(icon thumbs-down) {
  mask-image: url('./assets/thumbs-down.svg')
}
::part(icon thumbs-up) {
  mask-image: url('./assets/thumbs-up.svg')
}
::part(icon toggle-left) {
  mask-image: url('./assets/toggle-left.svg')
}
::part(icon toggle-right) {
  mask-image: url('./assets/toggle-right.svg')
}
::part(icon tool) {
  mask-image: url('./assets/tool.svg')
}
::part(icon trash) {
  mask-image: url('./assets/trash.svg')
}
::part(icon trash-2) {
  mask-image: url('./assets/trash-2.svg')
}
::part(icon trello) {
  mask-image: url('./assets/trello.svg')
}
::part(icon trending-down) {
  mask-image: url('./assets/trending-down.svg')
}
::part(icon trending-up) {
  mask-image: url('./assets/trending-up.svg')
}
::part(icon triangle) {
  mask-image: url('./assets/triangle.svg')
}
::part(icon truck) {
  mask-image: url('./assets/truck.svg')
}
::part(icon tv) {
  mask-image: url('./assets/tv.svg')
}
::part(icon twitch) {
  mask-image: url('./assets/twitch.svg')
}
::part(icon twitter) {
  mask-image: url('./assets/twitter.svg')
}
::part(icon type) {
  mask-image: url('./assets/type.svg')
}
::part(icon umbrella) {
  mask-image: url('./assets/umbrella.svg')
}
::part(icon underline) {
  mask-image: url('./assets/underline.svg')
}
::part(icon unlock) {
  mask-image: url('./assets/unlock.svg')
}
::part(icon upload) {
  mask-image: url('./assets/upload.svg')
}
::part(icon upload-cloud) {
  mask-image: url('./assets/upload-cloud.svg')
}
::part(icon user) {
  mask-image: url('./assets/user.svg')
}
::part(icon user-check) {
  mask-image: url('./assets/user-check.svg')
}
::part(icon user-minus) {
  mask-image: url('./assets/user-minus.svg')
}
::part(icon user-plus) {
  mask-image: url('./assets/user-plus.svg')
}
::part(icon user-x) {
  mask-image: url('./assets/user-x.svg')
}
::part(icon users) {
  mask-image: url('./assets/users.svg')
}
::part(icon video) {
  mask-image: url('./assets/video.svg')
}
::part(icon video-off) {
  mask-image: url('./assets/video-off.svg')
}
::part(icon voicemail) {
  mask-image: url('./assets/voicemail.svg')
}
::part(icon volume) {
  mask-image: url('./assets/volume.svg')
}
::part(icon volume-1) {
  mask-image: url('./assets/volume-1.svg')
}
::part(icon volume-2) {
  mask-image: url('./assets/volume-2.svg')
}
::part(icon volume-x) {
  mask-image: url('./assets/volume-x.svg')
}
::part(icon watch) {
  mask-image: url('./assets/watch.svg')
}
::part(icon wifi) {
  mask-image: url('./assets/wifi.svg')
}
::part(icon wifi-off) {
  mask-image: url('./assets/wifi-off.svg')
}
::part(icon wind) {
  mask-image: url('./assets/wind.svg')
}
::part(icon x) {
  mask-image: url('./assets/x.svg')
}
::part(icon x-circle) {
  mask-image: url('./assets/x-circle.svg')
}
::part(icon x-octagon) {
  mask-image: url('./assets/x-octagon.svg')
}
::part(icon x-square) {
  mask-image: url('./assets/x-square.svg')
}
::part(icon youtube) {
  mask-image: url('./assets/youtube.svg')
}
::part(icon zap) {
  mask-image: url('./assets/zap.svg')
}
::part(icon zap-off) {
  mask-image: url('./assets/zap-off.svg')
}
::part(icon zoom-in) {
  mask-image: url('./assets/zoom-in.svg')
}
::part(icon zoom-out) {
  mask-image: url('./assets/zoom-out.svg')
}
