<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="refresh" content="0;URL=./LIT_VERSION/">
  <title>Redirecting to Lit LIT_VERSION</title>
</head>
<body>
  <p>Redirecting to <a href="./LIT_VERSION/">Lit vLIT_VERSION</a></p>
</body>
</html>