.checkbox {
  margin-right: 8px;
}

.input, .select {
  display: block;
  margin: 15px 0;
  padding: 8px;
  border: var(--border);
  border-radius: var(--border-radius);
  width: 200px;
}

p {
  margin: 10px 0;
  font-family: monospace;
}

p span {
  font-weight: bold;
}