.item {
  display: flex;
  align-items: center;
  gap: var(--margin-xs);
  cursor: pointer;
  padding: var(--padding-xs) var(--padding-sm);
  border-radius: var(--border-radius);
  transition: background var(--transition);

  &:hover {
    background: var(--standard-5);
  }

  &.completed .label {
    text-decoration: line-through;
    color: var(--standard-40);
  }
}

input[type="checkbox"] {
  cursor: pointer;
}

.label {
  user-select: none;
}
