.checklist {
  max-width: 350px;
}
h3 {
  margin: 0 0 var(--margin-sm);
  font-weight: var(--bold);
}
.items {
  display: flex;
  flex-direction: column;
  gap: var(--margin-xs);
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: var(--margin-sm);
}
.summary {
  font-size: var(--small);
  color: var(--standard-50);
}
.actions {
  display: flex;
  gap: var(--margin-xs);
}
