.status {
  padding: var(--padding);
  border: var(--border);
  border-radius: var(--border-radius);
  margin: var(--vertically-spaced);
  background: var(--standard-5);
  text-align: center;
  
  &.ready {
    background-color: var(--success-5);
    border-color: var(--success-30);
    color: var(--success-80);
  }
}