ui-button {
  /* Active */
  --active-background-color: #c0c1c2;
  --active-background-image: var(--background-image);
  --active-color: var(--selected-text-color);
  --active-box-shadow: var(--border-box-shadow);

  /* Active + Hovered */
  --active-hover-background-color: var(--active-background-color);
  --active-hover-background-image: var(--active-background-image);
  --active-hover-color: var(--active-color);
  --active-hover-box-shadow: var(--active-box-shadow);

  /* Active + Hovered */
  --active-down-background-color: var(--active-background-color);
  --active-down-background-image: var(--active-background-image);
  --active-down-color: var(--active-color);
  --active-down-box-shadow: var(--active-box-shadow);
}
