:root {

  /* Active */
  --button-active-background-color: #DFDFDF;
  --button-active-background-image: var(--button-background-image);
  --button-active-color: var(--selected-text-color);
  --button-active-shadow-box-shadow: var(--subtle-inset-shadow);
  --button-active-box-shadow:
    var(--button-sharpen-box-shadow),
    var(--button-border-box-shadow),
    var(--button-active-shadow-box-shadow)
  ;

  /* Active + Hovered */
  --button-active-hover-background-color: #DADADA;
  --button-active-hover-background-image: var(--button-active-background-image);
  --button-active-hover-color: var(--button-active-color);
  --button-active-hover-box-shadow: var(--button-active-box-shadow);

  /* Active + Hovered */
  --button-active-down-background-color: var(--button-active-background-color);
  --button-active-down-background-image: var(--button-active-background-image);
  --button-active-down-color: var(--button-active-color);
  --button-active-down-box-shadow: var(--button-active-box-shadow);

}
