/* Hovered */

ui-button {
  --hover-background-color: #CACBCD;
  --hover-background-image: var(--background-image);
  --hover-box-shadow: var(--box-shadow);
  --hover-color: var(--hovered-text-color);
  --hover-icon-opacity: 0.85;
}
