ui-button {
  --pressed-background-color: #BABBBC;
  --pressed-background-image: '';
  --pressed-shadow: none;
  --pressed-box-shadow:
    var(--border-box-shadow),
    var(--pressed-pressed-shadow)
}
