:root {
  --label-mini: var(--9px);
  --label-tiny: var(--10px);
  --label-small: var(--11px);
  --label-medium: inherit;
  --label-large: var(--15px);
  --label-big: var(--16px);
  --label-huge: var(--18px);
  --label-massive: var(--24px);
}
