.container {
  position: relative;
  padding: var(--spacing);
  border: var(--border);
  margin: var(--vertically-spaced);
  
  &.highlight {
    background-color: var(--primary-5);
    border-color: var(--primary-30);
  }
}

.wrapper {
  padding: var(--compact-spacing);
  background: var(--standard-5);
}

.target {
  padding: var(--compact-spacing);
  background: var(--standard-10);
  border-radius: var(--border-radius);
}