.steps {
  display: inline-flex;
  margin-bottom: var(--16px);
  border: var(--border);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.step {
  padding: var(--8px) var(--16px);
  border-right: var(--border);

  &:last-child {
    border-right: none;
  }

  &.done {
    background: var(--green-background);
    color: var(--green-text-color);
  }
}
