.box {
  width: 300px;
  height: 200px;
  padding: var(--padding);
  margin: var(--vertically-spaced);
  background: var(--angled-gradient) var(--yellow-background-color);
  color: var(--yellow-text-color);
  border: 2px solid var(--yellow-border-color);
  border-radius: var(--border-radius);
  text-align: center;
  align-content: center;
  font-weight: bold;
  font-size: var(--large);
}

.measurements {
  background: var(--standard-5);
  border: var(--border);
  padding: var(--padding);
  border-radius: var(--border-radius);
  font-weight: bold;
  font-size: var(--large);

  .parts {
    font-size: var(--medium);
    margin-top: var(--margin);
    color: var(--standard-40);
    border-top: var(--border);
    padding-top: var(--padding);
  }
  
  p {
    margin: 3px 0;
    font-family: Monospace;
    span {
      font-weight: bold;
      color: var(--primary-text-color);
    }
    b {
      font-weight: bold;
      color: var(--primary-text-color);
    }
  }
}
