@layer playground.component.preview {

  ui-menu.preview {
    font-size: 11px !important;
    text-transform: uppercase;
    margin: 4px 8px 2px;
    border-bottom-width: 1px;
  }

  playground-preview {
    position: relative;
    touch-action: none;
  }

  pretty-json {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: var(--spacing);
  }

  ui-panel > .links {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 3;
  }

}
