ui-menu.preview {
  font-size: 11px !important;
  text-transform: uppercase;
  margin: 4px 8px 2px;
  border-bottom-width: 1px;
}

playground-preview {
  position: relative;
}

pretty-json {
  flex: 1 1 auto;
  overflow-y: auto;
  padding: var(--spacing);
}
