.playground {

  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  --playground-code-background: #080C10;
  --playground-code-comment-color: #444444;
  --playground-code-linenumber-color: #25272B;
  --playground-code-font-size: 14px;
  --playground-code-default-color: #c9d1d9;
  --playground-code-keyword-color: #AAAAAA;
  --playground-code-atom-color: #c9d1d9;
  --playground-code-number-color: #58a6ff;
  --playground-code-def-color: var(--primary-text-color);
  --playground-code-variable-color: #e98080;
  --playground-code-property-color: #656565;
  --playground-code-operator-color: #79c0ff;
  --playground-code-variable-2-color: #79c0ff;
  --playground-code-variable-3-color: #c9d1d9;
  --playground-code-type-color: #c9d1d9;
  --playground-code-string-color: var(--primary-text-color);
  --playground-code-string-2-color: #656565;
  --playground-code-meta-color: #c9d1d9;
  --playground-code-qualifier-color: #c9d1d9;
  --playground-code-builtin-color: #c9d1d9;
  --playground-code-tag-color: #d2a8ff;
  --playground-code-attribute-color: var(--primary-text-color);
  --playground-code-callee-color: #d2a8ff;
  --playground-tab-bar-background: #ffffff;
  --playground-bar-height: 32px;

  --inline-code-height: 350px;

  .masthead {
    padding: 1rem 1rem;
    border-bottom: var(--playground-border);

    ui-button::part(button) {
      margin: -5px -5px 0px 0px;
    }

    .title {
      display: inline-block;
      margin: 0rem;
      font-size: 16px;
      color: var(--white-100);
      font-weight: bold;
    }
    .title + p {
      display: inline-block;
      margin: 0rem 0rem 0rem 0.5rem;
      padding: 0rem;
      color: var(--white-40);
    }
  }

  ui-panel {
    overflow: hidden;
  }

  .inline {
    position: relative;
    display: block;

    playground-file-editor {
      border: var(--border);
      overflow: hidden;
      height: var(--inline-code-height);
      border-bottom: none;
      border-radius: var(--top-attached-border-radius);
    }
    playground-preview {
      background-color: var(--page-background) !important;
      height: var(--inline-code-height);
      border-radius: 0px 0px ;
      border: var(--border);
      border-top: 1px solid #111;
      overflow: hidden;
      border-radius: var(--bottom-attached-border-radius);
    }
    .links {
      position: absolute;
      right: 0px;
      top: 1.5rem;
    }
    .links a {
      color: var(--standard-60);
    }

  }

  ui-panels::part(panels) {
    background-color: var(--playground-code-background);
  }

  ui-panel {
    transition: flex 600ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
  }

  &.resizing ui-panel {
    transition: none;
  }

  &.resizing playground-preview {
    pointer-events: none;
  }

}

playground-ide {
  height: 100%;
}
