.playground {

  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  --playground-code-background: #080C10;
  --playground-code-comment-color: #444444;
  --playground-code-linenumber-color: #25272B;
  --playground-code-font-size: 14px;
  --playground-code-default-color: #c9d1d9;
  --playground-code-keyword-color: #AAAAAA;
  --playground-code-atom-color: #c9d1d9;
  --playground-code-number-color: #58a6ff;
  --playground-code-def-color: var(--primary-text-color);
  --playground-code-variable-color: #e98080;
  --playground-code-property-color: #656565;
  --playground-code-operator-color: #79c0ff;
  --playground-code-variable-2-color: #79c0ff;
  --playground-code-variable-3-color: #c9d1d9;
  --playground-code-type-color: #c9d1d9;
  --playground-code-string-color: var(--primary-text-color);
  --playground-code-string-2-color: #656565;
  --playground-code-meta-color: #c9d1d9;
  --playground-code-qualifier-color: #c9d1d9;
  --playground-code-builtin-color: #c9d1d9;
  --playground-code-tag-color: #d2a8ff;
  --playground-code-attribute-color: var(--primary-text-color);
  --playground-code-callee-color: #d2a8ff;
  --playground-tab-bar-background: #ffffff;
  --playground-bar-height: 32px;

  --inline-code-height: 350px;

  .masthead {
    padding: 1rem 1rem;
    border-bottom: var(--playground-border);

    ui-button::part(button) {
      margin: -5px -5px 0px 0px;
    }

    .title {
      display: inline-block;
      margin: 0rem;
      font-size: 16px;
      color: var(--white-100);
      font-weight: bold;
    }
    .title + p {
      display: inline-block;
      margin: 0rem 0rem 0rem 0.5rem;
      padding: 0rem;
      color: var(--white-40);
    }
  }

  .inline {
    position: relative;
    display: block;

    playground-file-editor {
      border: var(--border);
      overflow: hidden;
      height: var(--inline-code-height);
      border-bottom: none;
      border-radius: var(--top-attached-border-radius);
    }
    playground-preview {
      background-color: var(--page-background) !important;
      height: var(--inline-code-height);
      border-radius: 0px 0px ;
      border: var(--border);
      border-top: var(--internal-border);
      overflow: hidden;
      border-radius: var(--bottom-attached-border-radius);
    }
    .links {
      position: absolute;
      right: 0px;
      top: 1.5rem;
    }
    .links a {
      color: var(--standard-60);
    }

  }

  ui-panels::part(panels) {
    background-color: var(--playground-code-background);
  }
  ui-panels ui-panels ui-panel::part(panel) {
    display: flex;
    padding: 0rem;
    flex-direction: column;
  }
  ui-panel {
    overflow: hidden;
    min-height: 32px;
  }
  ui-panel label {
    font-size: 10px;
    text-transform: uppercase;
    display: block;
    line-height: 1;
    margin: 0rem 0rem 0rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.4);
    padding: 0.75rem 2.5rem;
    background: linear-gradient(rgba(255, 255, 255, 0.02), rgb(15 17 22 / 50%));
    border-bottom: 1px solid rgba(221, 221, 221, 0.05);
    box-shadow: 0px -2px 5px -3px rgba(0, 0, 0, 0.4) inset;
    transition: background-color 0.1s ease, color 0.1s ease-in-out;
  }
  ui-panel label.active {
    color: rgb(255 255 255 / 80%);
    background-color: rgb(255 255 255 / 3%);
  }
  ui-panel > playground-file-editor {
    flex: 1 1 0;
    height: 100%;
    overflow: hidden;
  }

  /* Reskin */
  playground-preview {
    margin: 0rem;
    flex: 1 1 0;
    max-height: calc(100vh - var(--topbar-height));
    background: var(--playground-code-background) !important;
  }
  playground-preview::part(preview-toolbar) {
    font-size: 11px;
    text-transform: uppercase;
    display: flex;
    align-items: ;
    margin: 0rem 0rem 0rem;
    font-weight: bold;
    color: rgb(255 255 255 / 72%);
    padding: 0px 0.5rem;
    background: linear-gradient(rgba(255, 255, 255, 0.02), rgba(15, 17, 22, 0.5));
    border-bottom: 1px solid rgba(221, 221, 221, 0.05);
    box-shadow: rgba(0, 0, 0, 0.4) 0px -2px 5px -3px inset;
    background-color: var(--playground-code-background);
    box-sizing: border-box;
    height: 18px;
    font-family: 'Lato';
  }
  playground-preview::part(preview-loading-indicator) {
    --mdc-theme-primary: var(--primary-text-color);
    height: 3px;
    overflow: hidden;
    top: -62px;
  }

  &.resizing playground-preview {
    pointer-events: none;
  }

}

playground-ide {
  height: 100%;
}
