ui-panel.code-group {

  ui-panel::part(panel) {
    display: flex;
    padding: 0rem;
    flex-direction: column;
  }

  ui-panel {

    overflow: hidden;
    min-height: 30px;
    /*transition: flex 0.4s ease;*/

    &.minimized {
      playground-file-editor {
        height: 0px;
        flex-grow: 0;
      }
    }

    .label {
      display: flex;
      flex-direction: row;
      font-size: 10px;
      text-transform: uppercase;
      line-height: 1;
      margin: 0rem 0rem 0rem;
      font-weight: bold;
      color: rgba(255, 255, 255, 0.4);
      padding: 0.75rem 0.75rem 0.7rem 2.5rem;
      background: linear-gradient(rgba(255, 255, 255, 0.02), rgb(15 17 22 / 50%));
      border-bottom: 1px solid rgba(221, 221, 221, 0.05);
      box-shadow: 0px -2px 5px -3px rgba(0, 0, 0, 0.4) inset;
      transition: background-color 0.1s ease, color 0.1s ease-in-out;

      &.active {
        color: rgb(255 255 255 / 80%);
        background-color: rgb(255 255 255 / 3%);
      }

      .actions {
        margin-left: auto;
        margin-top: -3px;
        margin-bottom: -3px;

        ui-icon {
          font-size: 15px;
        }
      }
    }

    playground-file-editor {
      flex: 1 1 0;
      height: 100%;
      overflow: hidden;
    }
  }

  /* Reskin */
  playground-preview {
    margin: 0rem;
    flex: 1 1 0;
    max-height: calc(100vh - var(--topbar-height));
    background: var(--playground-code-background) !important;
  }
  playground-preview::part(preview-toolbar) {
    font-size: 11px;
    text-transform: uppercase;
    display: flex;
    align-items: ;
    margin: 0rem 0rem 0rem;
    font-weight: bold;
    color: rgb(255 255 255 / 72%);
    padding: 0px 0.5rem;
    background: linear-gradient(rgba(255, 255, 255, 0.02), rgba(15, 17, 22, 0.5));
    border-bottom: 1px solid rgba(221, 221, 221, 0.05);
    box-shadow: rgba(0, 0, 0, 0.4) 0px -2px 5px -3px inset;
    background-color: var(--playground-code-background);
    box-sizing: border-box;
    height: 18px;
    font-family: 'Lato';
  }
  playground-preview::part(preview-loading-indicator) {
    --mdc-theme-primary: var(--primary-text-color);
    height: 3px;
    overflow: hidden;
    top: -62px;
  }
}
