ui-panel.code-group {

  ui-panel::part(panel) {
    display: flex;
    padding: 0rem;
    flex-direction: column;
  }

  ui-panel {

    overflow: hidden;
    min-height: 30px;

    &.minimized {
      playground-file-editor {
        height: 0px;
        flex-grow: 0;
      }
    }

    playground-file-editor {
      flex: 1 1 0;
      height: 100%;
      overflow: hidden;
    }
  }
}
