.container {
  border: 2px dashed var(--standard-30);
  border-radius: var(--border-radius);
  margin: var(--vertically-spaced);
}

.created {
  padding: var(--padding-xs);
  border-radius: var(--border-radius);
  margin: var(--margin);
  background-color: var(--green-5);
  border: 1px solid var(--green-10);

  .nested {
    margin-top: 5px;
    padding: var(--padding-xs);
    border-radius: var(--border-radius);
    background-color: var(--inverted-50);
    border: var(--border);
  }
}
