table {
  border-collapse: collapse;
  width: 100%;
  border: var(--border);
}
th {
  font-weight: var(--bold);
}
th {
  padding: 5px 8px;
  text-align: left;
  background-color: var(--standard-5);
}
td {
  border: var(--solid-border);
  padding: 8px 10px;
  border-collapse: collapse;
}
