:host {
  --card-meta-margin: var(--spacing-xs) 0 0;
  --card-meta-padding: var(--padding-xs) 0 0;
  --card-meta-border: var(--border);
  --card-meta-gap: var(--gap-xs);
  --card-meta-text-color: var(--standard-90);
}

