:root {

  --menu-item-background-color: transparent;
  --menu-item-background-image: none;
  --menu-item-background: var(--menu-item-background-color) var(--menu-item-background-image);
  --menu-item-margin: 0;
  --menu-item-line-height: 1;
  --menu-item-font-weight: var(--normal);
  --menu-item-padding: var(--7px) var(--6px);
  --menu-item-border: none;
  --menu-item-border-radius: none;
  --menu-item-color: var(--standard-60);
  --menu-item-text-align: inherit;
  --menu-item-box-shadow: none;

  --menu-item-hover-background-color: var(--menu-item-background-color);
  --menu-item-hover-background-image: var(--menu-item-background-image);
  --menu-item-hover-background: var(--menu-item-hover-background-color) var(--menu-item-hover-background-image);
  --menu-item-hover-margin: var(--menu-item-margin);
  --menu-item-hover-padding: var(--menu-item-padding);
  --menu-item-hover-color: var(--standard-100);
  --menu-item-hover-border: var(--menu-item-border);
  --menu-item-hover-box-shadow: var(--menu-item-box-shadow);
  --menu-item-hover-border-radius: var(--menu-item-border-radius);

  --menu-item-active-background-color: var(--menu-item-active-background-color);
  --menu-item-active-background-image: var(--menu-item-active-background-image);
  --menu-item-active-font-weight: var(--bold);
  --menu-item-active-background: var(--menu-item-background);
  --menu-item-active-margin: var(--menu-item-margin);
  --menu-item-active-padding: var(--menu-item-padding);
  --menu-item-active-color: var(--primary-text-color);
  --menu-item-active-border: var(--menu-item-border);
  --menu-item-active-box-shadow: var(--menu-item-box-shadow);
  --menu-item-active-border-radius: var(--menu-item-border-radius);
}


body.dark {
  --menu-item-color: var(--standard-30);
  --menu-item-hover-color: var(--standard-100);
  --menu-item-active-color: var(--primary-text-color);
}
