/*******************************
        Light Theme - Brand
*******************************/

html,
.light.theme.theme,
[light][light],
[theme][theme="light"] {

  /* -------------------
      Brand Colors
  -------------------- */

  --primary-color: var(--blue);

  /* -------------------
        UI Colors
  -------------------- */

  --ui-emphasis-strong: oklch(0.98 0.01 282.32);
  --ui-emphasis: oklch(0.98 0.01 272.79);

}