/*******************************
      Light Theme - Interaction
*******************************/

html,
.light.theme.theme,
[light][light],
[theme][theme="light"] {

  /* --------------
        Focus
  --------------- */

  /* Used on inputs, textarea etc */
  --form-focused-border-color: var(--primary-text-color);

  /* Used on dropdowns, other larger blocks */
  --form-focused-muted-border-color: #96C8DA;

  /* -------------------
    Highlighted Text
  -------------------- */

  --highlight-background: #CCE2FF;
  --highlight-color: var(--text-color);

  --input-highlight-background: rgb(100 100 100 / 40%);
  --input-highlight-color: var(--text-color);

  /* -------------------
        UI BG Colors
  -------------------- */

  --ui-hue: 234.71;
  --ui-chroma: 0.01;
  --ui-lightness: 0.17;
  --ui-lightness-light: 0.2;
  --ui-lightness-dark: 0.15;

  /* -------------------
         Links
  -------------------- */

  --link-color: oklch(0.61 0.17 250.88);
  --link-hover-color: oklch(0.62 0.22 252.98);

  /* -------------------
       Border Colors
  -------------------- */

  /* color base */
  --black-border-lch: 0.2 0.01 279.32;
  --white-border-lch: 0.96 0.01 279.32;

  /* theme mutable border */
  --standard-border-color: var(--black-border-lch);
  --inverted-border-color: var(--white-border-lch);

  /* black - dark/light theme immutable */
  --black-border-color: oklch(var(--black-border-lch) / 10%);
  --selected-black-border-color: oklch(var(--black-border-lch) / 50%);

  /* white - dark/light theme immutable */
  --white-border-color: oklch(var(--white-border-lch) / 10%);
  --selected-white-border-color: oklch(var(--white-border-lch) / 50%);

  /* solids */
  --solid-internal-border-color: var(--standard-solid-5);
  --solid-border-color: var(--standard-solid-10);
  --solid-black-border-color: var(--black-solid-10);
  --solid-white-border-color: var(--white-solid-10);

}