/*******************************
      Light Theme - Outliers
*******************************/

/*
  Tokens that don't cleanly map to global file naming.
  To be reorganized in a future pass.
*/

html,
.light.theme.theme,
[light][light],
[theme][theme="light"] {

  /* -------------------
          Focus
  -------------------- */

  --form-focused-border-color: var(--primary-text-color);

  /* -------------------
       Highlighted Text
  -------------------- */

  --highlight-color: var(--text-color);
  --input-highlight-background: rgb(100 100 100 / 40%);
  --input-highlight-color: var(--text-color);

  /* -------------------
          Links
  -------------------- */

  --link-color: oklch(0.61 0.17 250.88);
  --link-hover-color: oklch(0.62 0.22 252.98);

}
