/*******************************
       Light Theme - States
*******************************/

html,
.light.theme.theme,
[light][light],
[theme][theme="light"] {

  /* -------------------
          Focus
  -------------------- */

  --form-focused-border-color: var(--primary-text-color);

  /* -------------------
       Selection
  -------------------- */

  --highlight-color: var(--text-color);
  --input-highlight-background: rgb(100 100 100 / 40%);
  --input-highlight-color: var(--text-color);

}
