/* Note link is changed to linkify for compatibility */
:host {
  --icon-activity-svg: url('./feather/activity.svg');
  --icon-airplay-svg: url('./feather/airplay.svg');
  --icon-alert-circle-svg: url('./feather/alert-circle.svg');
  --icon-alert-octagon-svg: url('./feather/alert-octagon.svg');
  --icon-alert-triangle-svg: url('./feather/alert-triangle.svg');
  --icon-align-center-svg: url('./feather/align-center.svg');
  --icon-align-justify-svg: url('./feather/align-justify.svg');
  --icon-align-left-svg: url('./feather/align-left.svg');
  --icon-align-right-svg: url('./feather/align-right.svg');
  --icon-anchor-svg: url('./feather/anchor.svg');
  --icon-aperture-svg: url('./feather/aperture.svg');
  --icon-archive-svg: url('./feather/archive.svg');
  --icon-arrow-down-circle-svg: url('./feather/arrow-down-circle.svg');
  --icon-arrow-down-left-svg: url('./feather/arrow-down-left.svg');
  --icon-arrow-down-right-svg: url('./feather/arrow-down-right.svg');
  --icon-arrow-down-svg: url('./feather/arrow-down.svg');
  --icon-arrow-left-circle-svg: url('./feather/arrow-left-circle.svg');
  --icon-arrow-left-svg: url('./feather/arrow-left.svg');
  --icon-arrow-right-circle-svg: url('./feather/arrow-right-circle.svg');
  --icon-arrow-right-svg: url('./feather/arrow-right.svg');
  --icon-arrow-up-circle-svg: url('./feather/arrow-up-circle.svg');
  --icon-arrow-up-left-svg: url('./feather/arrow-up-left.svg');
  --icon-arrow-up-right-svg: url('./feather/arrow-up-right.svg');
  --icon-arrow-up-svg: url('./feather/arrow-up.svg');
  --icon-at-sign-svg: url('./feather/at-sign.svg');
  --icon-award-svg: url('./feather/award.svg');
  --icon-bar-chart-2-svg: url('./feather/bar-chart-2.svg');
  --icon-bar-chart-svg: url('./feather/bar-chart.svg');
  --icon-battery-charging-svg: url('./feather/battery-charging.svg');
  --icon-battery-svg: url('./feather/battery.svg');
  --icon-bell-off-svg: url('./feather/bell-off.svg');
  --icon-bell-svg: url('./feather/bell.svg');
  --icon-bluetooth-svg: url('./feather/bluetooth.svg');
  --icon-bold-svg: url('./feather/bold.svg');
  --icon-bookmark-svg: url('./feather/bookmark.svg');
  --icon-book-open-svg: url('./feather/book-open.svg');
  --icon-book-svg: url('./feather/book.svg');
  --icon-box-svg: url('./feather/box.svg');
  --icon-briefcase-svg: url('./feather/briefcase.svg');
  --icon-calendar-svg: url('./feather/calendar.svg');
  --icon-camera-off-svg: url('./feather/camera-off.svg');
  --icon-camera-svg: url('./feather/camera.svg');
  --icon-cast-svg: url('./feather/cast.svg');
  --icon-check-circle-svg: url('./feather/check-circle.svg');
  --icon-check-square-svg: url('./feather/check-square.svg');
  --icon-check-svg: url('./feather/check.svg');
  --icon-chevron-down-svg: url('./feather/chevron-down.svg');
  --icon-chevron-left-svg: url('./feather/chevron-left.svg');
  --icon-chevron-right-svg: url('./feather/chevron-right.svg');
  --icon-chevrons-down-svg: url('./feather/chevrons-down.svg');
  --icon-chevrons-left-svg: url('./feather/chevrons-left.svg');
  --icon-chevrons-right-svg: url('./feather/chevrons-right.svg');
  --icon-chevrons-up-svg: url('./feather/chevrons-up.svg');
  --icon-chevron-up-svg: url('./feather/chevron-up.svg');
  --icon-chrome-svg: url('./feather/chrome.svg');
  --icon-circle-svg: url('./feather/circle.svg');
  --icon-clipboard-svg: url('./feather/clipboard.svg');
  --icon-clock-svg: url('./feather/clock.svg');
  --icon-cloud-drizzle-svg: url('./feather/cloud-drizzle.svg');
  --icon-cloud-lightning-svg: url('./feather/cloud-lightning.svg');
  --icon-cloud-off-svg: url('./feather/cloud-off.svg');
  --icon-cloud-rain-svg: url('./feather/cloud-rain.svg');
  --icon-cloud-snow-svg: url('./feather/cloud-snow.svg');
  --icon-cloud-svg: url('./feather/cloud.svg');
  --icon-codepen-svg: url('./feather/codepen.svg');
  --icon-codesandbox-svg: url('./feather/codesandbox.svg');
  --icon-code-svg: url('./feather/code.svg');
  --icon-coffee-svg: url('./feather/coffee.svg');
  --icon-columns-svg: url('./feather/columns.svg');
  --icon-command-svg: url('./feather/command.svg');
  --icon-compass-svg: url('./feather/compass.svg');
  --icon-copy-svg: url('./feather/copy.svg');
  --icon-corner-down-left-svg: url('./feather/corner-down-left.svg');
  --icon-corner-down-right-svg: url('./feather/corner-down-right.svg');
  --icon-corner-left-down-svg: url('./feather/corner-left-down.svg');
  --icon-corner-left-up-svg: url('./feather/corner-left-up.svg');
  --icon-corner-right-down-svg: url('./feather/corner-right-down.svg');
  --icon-corner-right-up-svg: url('./feather/corner-right-up.svg');
  --icon-corner-up-left-svg: url('./feather/corner-up-left.svg');
  --icon-corner-up-right-svg: url('./feather/corner-up-right.svg');
  --icon-cpu-svg: url('./feather/cpu.svg');
  --icon-credit-card-svg: url('./feather/credit-card.svg');
  --icon-crop-svg: url('./feather/crop.svg');
  --icon-crosshair-svg: url('./feather/crosshair.svg');
  --icon-database-svg: url('./feather/database.svg');
  --icon-delete-svg: url('./feather/delete.svg');
  --icon-disc-svg: url('./feather/disc.svg');
  --icon-divide-circle-svg: url('./feather/divide-circle.svg');
  --icon-divide-square-svg: url('./feather/divide-square.svg');
  --icon-divide-svg: url('./feather/divide.svg');
  --icon-dollar-sign-svg: url('./feather/dollar-sign.svg');
  --icon-download-cloud-svg: url('./feather/download-cloud.svg');
  --icon-download-svg: url('./feather/download.svg');
  --icon-dribbble-svg: url('./feather/dribbble.svg');
  --icon-droplet-svg: url('./feather/droplet.svg');
  --icon-edit-2-svg: url('./feather/edit-2.svg');
  --icon-edit-3-svg: url('./feather/edit-3.svg');
  --icon-edit-svg: url('./feather/edit.svg');
  --icon-external-link-svg: url('./feather/external-link.svg');
  --icon-eye-off-svg: url('./feather/eye-off.svg');
  --icon-eye-svg: url('./feather/eye.svg');
  --icon-facebook-svg: url('./feather/facebook.svg');
  --icon-fast-forward-svg: url('./feather/fast-forward.svg');
  --icon-feather-svg: url('./feather/feather.svg');
  --icon-figma-svg: url('./feather/figma.svg');
  --icon-file-minus-svg: url('./feather/file-minus.svg');
  --icon-file-plus-svg: url('./feather/file-plus.svg');
  --icon-file-svg: url('./feather/file.svg');
  --icon-file-text-svg: url('./feather/file-text.svg');
  --icon-film-svg: url('./feather/film.svg');
  --icon-filter-svg: url('./feather/filter.svg');
  --icon-flag-svg: url('./feather/flag.svg');
  --icon-folder-minus-svg: url('./feather/folder-minus.svg');
  --icon-folder-plus-svg: url('./feather/folder-plus.svg');
  --icon-folder-svg: url('./feather/folder.svg');
  --icon-framer-svg: url('./feather/framer.svg');
  --icon-frown-svg: url('./feather/frown.svg');
  --icon-gift-svg: url('./feather/gift.svg');
  --icon-git-branch-svg: url('./feather/git-branch.svg');
  --icon-git-commit-svg: url('./feather/git-commit.svg');
  --icon-github-svg: url('./feather/github.svg');
  --icon-gitlab-svg: url('./feather/gitlab.svg');
  --icon-git-merge-svg: url('./feather/git-merge.svg');
  --icon-git-pull-request-svg: url('./feather/git-pull-request.svg');
  --icon-globe-svg: url('./feather/globe.svg');
  --icon-grid-svg: url('./feather/grid.svg');
  --icon-hard-drive-svg: url('./feather/hard-drive.svg');
  --icon-hash-svg: url('./feather/hash.svg');
  --icon-headphones-svg: url('./feather/headphones.svg');
  --icon-heart-svg: url('./feather/heart.svg');
  --icon-help-circle-svg: url('./feather/help-circle.svg');
  --icon-hexagon-svg: url('./feather/hexagon.svg');
  --icon-home-svg: url('./feather/home.svg');
  --icon-image-svg: url('./feather/image.svg');
  --icon-inbox-svg: url('./feather/inbox.svg');
  --icon-info-svg: url('./feather/info.svg');
  --icon-instagram-svg: url('./feather/instagram.svg');
  --icon-italic-svg: url('./feather/italic.svg');
  --icon-key-svg: url('./feather/key.svg');
  --icon-layers-svg: url('./feather/layers.svg');
  --icon-layout-svg: url('./feather/layout.svg');
  --icon-life-buoy-svg: url('./feather/life-buoy.svg');
  --icon-linkify-2-svg: url('./feather/link-2.svg');
  --icon-linkedin-svg: url('./feather/linkedin.svg');
  --icon-linkify-svg: url('./feather/link.svg');
  --icon-list-svg: url('./feather/list.svg');
  --icon-loader-svg: url('./feather/loader.svg');
  --icon-lock-svg: url('./feather/lock.svg');
  --icon-log-in-svg: url('./feather/log-in.svg');
  --icon-log-out-svg: url('./feather/log-out.svg');
  --icon-mail-svg: url('./feather/mail.svg');
  --icon-map-pin-svg: url('./feather/map-pin.svg');
  --icon-map-svg: url('./feather/map.svg');
  --icon-maximize-2-svg: url('./feather/maximize-2.svg');
  --icon-maximize-svg: url('./feather/maximize.svg');
  --icon-meh-svg: url('./feather/meh.svg');
  --icon-menu-svg: url('./feather/menu.svg');
  --icon-message-circle-svg: url('./feather/message-circle.svg');
  --icon-message-square-svg: url('./feather/message-square.svg');
  --icon-mic-off-svg: url('./feather/mic-off.svg');
  --icon-mic-svg: url('./feather/mic.svg');
  --icon-minimize-2-svg: url('./feather/minimize-2.svg');
  --icon-minimize-svg: url('./feather/minimize.svg');
  --icon-minus-circle-svg: url('./feather/minus-circle.svg');
  --icon-minus-square-svg: url('./feather/minus-square.svg');
  --icon-minus-svg: url('./feather/minus.svg');
  --icon-monitor-svg: url('./feather/monitor.svg');
  --icon-moon-svg: url('./feather/moon.svg');
  --icon-more-horizontal-svg: url('./feather/more-horizontal.svg');
  --icon-more-vertical-svg: url('./feather/more-vertical.svg');
  --icon-mouse-pointer-svg: url('./feather/mouse-pointer.svg');
  --icon-move-svg: url('./feather/move.svg');
  --icon-music-svg: url('./feather/music.svg');
  --icon-navigation-2-svg: url('./feather/navigation-2.svg');
  --icon-navigation-svg: url('./feather/navigation.svg');
  --icon-octagon-svg: url('./feather/octagon.svg');
  --icon-package-svg: url('./feather/package.svg');
  --icon-paperclip-svg: url('./feather/paperclip.svg');
  --icon-pause-circle-svg: url('./feather/pause-circle.svg');
  --icon-pause-svg: url('./feather/pause.svg');
  --icon-pen-tool-svg: url('./feather/pen-tool.svg');
  --icon-percent-svg: url('./feather/percent.svg');
  --icon-phone-call-svg: url('./feather/phone-call.svg');
  --icon-phone-forwarded-svg: url('./feather/phone-forwarded.svg');
  --icon-phone-incoming-svg: url('./feather/phone-incoming.svg');
  --icon-phone-missed-svg: url('./feather/phone-missed.svg');
  --icon-phone-off-svg: url('./feather/phone-off.svg');
  --icon-phone-outgoing-svg: url('./feather/phone-outgoing.svg');
  --icon-phone-svg: url('./feather/phone.svg');
  --icon-pie-chart-svg: url('./feather/pie-chart.svg');
  --icon-play-circle-svg: url('./feather/play-circle.svg');
  --icon-play-svg: url('./feather/play.svg');
  --icon-plus-circle-svg: url('./feather/plus-circle.svg');
  --icon-plus-square-svg: url('./feather/plus-square.svg');
  --icon-plus-svg: url('./feather/plus.svg');
  --icon-pocket-svg: url('./feather/pocket.svg');
  --icon-power-svg: url('./feather/power.svg');
  --icon-printer-svg: url('./feather/printer.svg');
  --icon-radio-svg: url('./feather/radio.svg');
  --icon-refresh-ccw-svg: url('./feather/refresh-ccw.svg');
  --icon-refresh-cw-svg: url('./feather/refresh-cw.svg');
  --icon-repeat-svg: url('./feather/repeat.svg');
  --icon-rewind-svg: url('./feather/rewind.svg');
  --icon-rotate-ccw-svg: url('./feather/rotate-ccw.svg');
  --icon-rotate-cw-svg: url('./feather/rotate-cw.svg');
  --icon-rss-svg: url('./feather/rss.svg');
  --icon-save-svg: url('./feather/save.svg');
  --icon-scissors-svg: url('./feather/scissors.svg');
  --icon-search-svg: url('./feather/search.svg');
  --icon-send-svg: url('./feather/send.svg');
  --icon-server-svg: url('./feather/server.svg');
  --icon-settings-svg: url('./feather/settings.svg');
  --icon-share-2-svg: url('./feather/share-2.svg');
  --icon-share-svg: url('./feather/share.svg');
  --icon-shield-off-svg: url('./feather/shield-off.svg');
  --icon-shield-svg: url('./feather/shield.svg');
  --icon-shopping-bag-svg: url('./feather/shopping-bag.svg');
  --icon-shopping-cart-svg: url('./feather/shopping-cart.svg');
  --icon-shuffle-svg: url('./feather/shuffle.svg');
  --icon-sidebar-svg: url('./feather/sidebar.svg');
  --icon-skip-back-svg: url('./feather/skip-back.svg');
  --icon-skip-forward-svg: url('./feather/skip-forward.svg');
  --icon-slack-svg: url('./feather/slack.svg');
  --icon-slash-svg: url('./feather/slash.svg');
  --icon-sliders-svg: url('./feather/sliders.svg');
  --icon-smartphone-svg: url('./feather/smartphone.svg');
  --icon-smile-svg: url('./feather/smile.svg');
  --icon-speaker-svg: url('./feather/speaker.svg');
  --icon-square-svg: url('./feather/square.svg');
  --icon-star-svg: url('./feather/star.svg');
  --icon-stop-circle-svg: url('./feather/stop-circle.svg');
  --icon-sunrise-svg: url('./feather/sunrise.svg');
  --icon-sunset-svg: url('./feather/sunset.svg');
  --icon-sun-svg: url('./feather/sun.svg');
  --icon-table-svg: url('./feather/table.svg');
  --icon-tablet-svg: url('./feather/tablet.svg');
  --icon-tag-svg: url('./feather/tag.svg');
  --icon-target-svg: url('./feather/target.svg');
  --icon-terminal-svg: url('./feather/terminal.svg');
  --icon-thermometer-svg: url('./feather/thermometer.svg');
  --icon-thumbs-down-svg: url('./feather/thumbs-down.svg');
  --icon-thumbs-up-svg: url('./feather/thumbs-up.svg');
  --icon-toggle-left-svg: url('./feather/toggle-left.svg');
  --icon-toggle-right-svg: url('./feather/toggle-right.svg');
  --icon-tool-svg: url('./feather/tool.svg');
  --icon-trash-2-svg: url('./feather/trash-2.svg');
  --icon-trash-svg: url('./feather/trash.svg');
  --icon-trello-svg: url('./feather/trello.svg');
  --icon-trending-down-svg: url('./feather/trending-down.svg');
  --icon-trending-up-svg: url('./feather/trending-up.svg');
  --icon-triangle-svg: url('./feather/triangle.svg');
  --icon-truck-svg: url('./feather/truck.svg');
  --icon-tv-svg: url('./feather/tv.svg');
  --icon-twitch-svg: url('./feather/twitch.svg');
  --icon-twitter-svg: url('./feather/twitter.svg');
  --icon-type-svg: url('./feather/type.svg');
  --icon-umbrella-svg: url('./feather/umbrella.svg');
  --icon-underline-svg: url('./feather/underline.svg');
  --icon-unlock-svg: url('./feather/unlock.svg');
  --icon-upload-cloud-svg: url('./feather/upload-cloud.svg');
  --icon-upload-svg: url('./feather/upload.svg');
  --icon-user-check-svg: url('./feather/user-check.svg');
  --icon-user-minus-svg: url('./feather/user-minus.svg');
  --icon-user-plus-svg: url('./feather/user-plus.svg');
  --icon-users-svg: url('./feather/users.svg');
  --icon-user-svg: url('./feather/user.svg');
  --icon-user-x-svg: url('./feather/user-x.svg');
  --icon-video-off-svg: url('./feather/video-off.svg');
  --icon-video-svg: url('./feather/video.svg');
  --icon-voicemail-svg: url('./feather/voicemail.svg');
  --icon-volume-1-svg: url('./feather/volume-1.svg');
  --icon-volume-2-svg: url('./feather/volume-2.svg');
  --icon-volume-svg: url('./feather/volume.svg');
  --icon-volume-x-svg: url('./feather/volume-x.svg');
  --icon-watch-svg: url('./feather/watch.svg');
  --icon-wifi-off-svg: url('./feather/wifi-off.svg');
  --icon-wifi-svg: url('./feather/wifi.svg');
  --icon-wind-svg: url('./feather/wind.svg');
  --icon-x-circle-svg: url('./feather/x-circle.svg');
  --icon-x-octagon-svg: url('./feather/x-octagon.svg');
  --icon-x-square-svg: url('./feather/x-square.svg');
  --icon-x-svg: url('./feather/x.svg');
  --icon-youtube-svg: url('./feather/youtube.svg');
  --icon-zap-off-svg: url('./feather/zap-off.svg');
  --icon-zap-svg: url('./feather/zap.svg');
  --icon-zoom-in-svg: url('./feather/zoom-in.svg');
  --icon-zoom-out-svg: url('./feather/zoom-out.svg');
}
