/* Dev Icons (Colored background-image) */
:root {
  /* Set-level defaults for background-image technique */
  --icon-dev: none;
  --icon-dev-bg: transparent;
  --icon-dev-image: none;

  /* Icon definitions */
  --icon-js-image: url('./js.svg');
  --icon-astro-image: url('./astro.svg');
  --icon-vue-image: url('./vue.svg');
  --icon-react-image: url('./react.svg');
  --icon-svelte-image: url('./svelte.svg');
  --icon-angular-image: url('./angular.svg');
  --icon-nextjs-image: url('./nextjs.svg');
  --icon-astro-mark-image: url('./astro-mark.svg');
  --icon-vue-mark-image: url('./vue-mark.svg');
  --icon-react-mark-image: url('./react-mark.svg');
  --icon-svelte-mark-image: url('./svelte-mark.svg');
  --icon-angular-mark-image: url('./angular-mark.svg');
  --icon-next-mark-image: url('./next-mark.svg');
}
