:host {
  --segment-display: block;
  --segment-margin: var(--vertical-margin);
  --segment-padding: var(--padding);
  --segment-background: var(--inverted-100);
  --segment-border: var(--border);
  --segment-top-border: var(--border); /* vertical divider */
  --segment-left-border: var(--border); /* horizontal divider */
  --segment-border-radius: var(--border-radius);
  --segment-text-color: inherit;
  --segment-box-shadow: var(--subtle-shadow);
}
