/*-------------------
       Animated
--------------------*/

.animated.button {
  position: relative;
  overflow: hidden;
  padding-right: 0em !important;
  vertical-align: var(--animated-vertical-align);
  z-index: var(--animated-z-index);
}

.animated.button > .content {
  display: inline-block;
  box-sizing: border-box;
  will-change: transform, opacity;
}
.animated.button > .visible.content {
  position: relative;
  margin-right: var(--horizontal-padding);
}
.animated.button > .hidden.content {
  position: absolute;
  width: 100%;
}

/* Horizontal */
.animated.animated.button > .visible.content,
.animated.button > .hidden.content {
  transition: right var(--animation-duration) var(--animation-easing) 0s;
}
.animated.button > .visible.content {
  left: auto;
  right: 0%;
}
.animated.button > .hidden.content {
  top: 50%;
  left: auto;
  right: -100%;
  margin-top: calc(var(--line-height) / 2 * -1);
}
.animated.button:focus > .visible.content,
.animated.button:hover > .visible.content {
  left: auto;
  right: 200%;
}
.animated.button:focus > .hidden.content,
.animated.button:hover > .hidden.content {
  left: auto;
  right: 0%;
}

/* Vertical */
.vertical-animated.button > .visible.content,
.vertical-animated.button > .hidden.content {
  transition:
    top var(--animation-duration) var(--animation-easing),
    transform var(--animation-duration) var(--animation-easing)
  ;
}
.vertical-animated.button > .visible.content {
  transform: translateY(0%);
  right: auto;
}
.vertical-animated.button > .hidden.content {
  top: -50%;
  left: 0%;
}
.vertical-animated.button:focus > .visible.content,
.vertical-animated.button:hover > .visible.content {
  transform: translateY(200%);
  right: auto;
}
.vertical-animated.button:focus > .hidden.content,
.vertical-animated.button:hover > .hidden.content {
  top: 50%;
}

/* Fade */
.fade-animated.button > .visible.content,
.fade-animated.button > .hidden.content {
  transition: opacity var(--animation-duration) var(--animation-easing), transform var(--animation-duration) var(--animation-easing);
}
.fade-animated.button > .visible.content {
  left: auto;
  right: auto;
  opacity: 1;
  transform: scale(1);
}
.fade-animated.button > .hidden.content {
  opacity: 0;
  left: 0%;
  right: auto;
  transform: scale(var(--fade-scale-high));
}
.fade-animated.button:focus > .visible.content,
.fade-animated.button:hover > .visible.content {
  left: auto;
  right: auto;
  opacity: 0;
  transform: scale(var(--fade-scale-low));
}
.fade-animated.button:focus > .hidden.content,
.fade-animated.button:hover > .hidden.content {
  left: 0%;
  right: auto;
  opacity: 1;
  transform: scale(1);
}
