.items {
  display: inline-flex;
  gap: var(--4px);
  padding: var(--8px);
  margin: var(--vertically-spaced);
  border: var(--border);
  border-radius: var(--border-radius);
  min-height: var(--32px);
}

.item {
  padding: var(--4px) var(--8px);
  background: var(--primary-background-color);
  color: var(--primary-text-color);
  border-radius: var(--border-radius);
}

p {
  color: var(--muted-text-color);

  .count {
    font-weight: var(--bold);
  }
}
